<div class="card card-type--architecture">
    <div class="col-md-6 col-xs-12 col-sm-6">
        <h2 class="card__title card__title--architecture">Microservices</h2>
        <div class="card__text">
			 Microservices is the most exciting new architecture pattern since SOA. Learn how Mendix is a perfect fit for this paradigm and how to retain efficient delivery for large systems and challenging business solutions.
        </div>
		<a href="/best-practices/architecture/microservices/microservices-overview" class="card__readmore btn btn-default btn-small">Read more</a>
    </div>
    <div class="col-md-6 col-xs-12 col-sm-6">
        <h3 class="card__featured__title">Featured Documents:</h3>
        <ul class="card__featured__list">
        <li>
            <a href="/best-practices/architecture/microservices/mendix-microservices">Mendix Microservices</a>
        </li>
        <li>
			<a href="/best-practices/architecture/microservices/mendix-microservices">ADD</a>
        </li>
        <li>
			<a href="/best-practices/architecture/microservices/mendix-microservices">ADD</a>
        </li>
        </ul>
    </div>
    <div class="card__background"></div>
</div>
