<div class="card card-type--architecture">
    <div class="col-md-6 col-xs-12 col-sm-6">
        <h2 class="card__title card__title--architecture">Integration</h2>
        <div class="card__text">
			Almost all apps need integration, yet there are hundreds of integration options to choose from. Integration choices are important for the stability and maintainability of your solution. This section is recommended for all Mendix Lead Developers and Architects.
        </div>
		<a href="/best-practices/architecture/integration/integration-overview" class="card__readmore btn btn-default btn-small">Read more</a>
    </div>
    <div class="col-md-6 col-xs-12 col-sm-6">
        <h3 class="card__featured__title">Featured Documents:</h3>
        <ul class="card__featured__list">
        <li>
            <a href="/best-practices/architecture/integration/mendix-integration">Mendix & Integration</a>
        </li>
        <li>
			<a href="/best-practices/architecture/integration/integration-examples">Integration Examples</a>
        </li>
        <li>
			<a href="/best-practices/architecture/integration/export-import-batch">Export, Import & Batch Processing</a>
        </li>
        </ul>
    </div>
    <div class="card__background"></div>
</div>
