<div class="card card-type--architecture">
    <div class="col-md-6 col-xs-12 col-sm-6">
        <h2 class="card__title card__title--architecture">Architecture Overview</h2>
        <div class="card__text">
			Refer to these best practices to learn about how Mendix interprets architecture and architecture roles as well as how architecture fits into the digital transformation of your business.
        </div>
        <a href="/best-practices/architecture/about-category" class="card__readmore btn btn-default btn-small">Read more</a>
    </div>
    <div class="col-md-6 col-xs-12 col-sm-6">
        <h3 class="card__featured__title">Featured Documents:</h3>
        <ul class="card__featured__list">
        <li>
            <a href="/best-practices/architecture/about-category">About This Category</a>
        </li>
		<li>
            <a href="/best-practices/architecture/architecture-overview">Architecture Overview</a>
        </li>
        </ul>
    </div>
    <div class="card__background"></div>
</div>
