<div class="card card-type--availability">
    <div class="col-md-6 col-xs-12 col-sm-6">
        <h2 class="card__title card__title--availability">Best Practices Overview</h2>
        <div class="card__text">
			These are the Mendix best practices.
        </div>
        <a href="/best-practices/best-practices-overview/index" class="card__readmore btn btn-default btn-small">Read more</a>
    </div>
    <div class="col-md-6 col-xs-12 col-sm-6">
        <h3 class="card__featured__title">Featured Document:</h3>
        <ul class="card__featured__list">
        <li>
            <a href="/best-practices/best-practices-overview/index">Best Practices Overview</a>
        </li>
        </ul>
    </div>
    <div class="card__background"></div>
</div>
