<div class="card card-type--availability">
    <div class="col-md-6 col-xs-12 col-sm-6">
        <h2 class="card__title card__title--availability">Best Practices Overview</h2>
        <div class="card__text">
			The Mendix Best Practices present detailed information on overcoming typical challenges and solving specific use cases for a variety of domains. Start here to learn how to use this valuable documentation.
        </div>
        <a href="/best-practices/best-practices-overview/index" class="card__readmore btn btn-default btn-small">Read more</a>
    </div>
	<div class="col-md-6 col-xs-12 col-sm-6">
        <h3 class="card__featured__title">Featured Sections:</h3>
        <ul class="card__featured__list">
        <li>
            <a href="/best-practices/best-practices-overview/index#created">How Are the Best Practices Created?</a>
        </li>
        <li>
			<a href="/best-practices/best-practices-overview/index#help">How Can These Best Practices Help Me? </a>
        </li>
        <li>
			<a href="/best-practices/best-practices-overview/index#community">The Mendix Community & Knowledge Sharing </a>
        </li>
        </ul>
    </div>
    <div class="card__background"></div>
</div>