<div class="card card-type--mendix">
    <div class="col-md-6 col-xs-12 col-sm-6">
        <h2 class="card__title card__title--mendix">Welcome to Mendix</h2>
        <div class="card__text">
			Mendix is the leading platform for creating and continuously improving mobile and web applications at unprecedented speed and scale. Start here to discover why Mendix was founded and what comprises the Mendix vision.
        </div>
        <a href="/evaluation-guide/welcome" class="card__readmore btn btn-default btn-small">Start here</a>
    </div>
    <div class="col-md-6 col-xs-12 col-sm-6">
        <h3 class="card__featured__title">Featured Questions:</h3>
        <ul class="card__featured__list">
        <li>
            <a href="/evaluation-guide/welcome">Why Was Mendix Founded?</a>
        </li>
        <li>
            <a href="/evaluation-guide/welcome">What Is the Vision Behind Mendix?</a>
        </li>
        <li>
            <a href="/evaluation-guide/welcome">What Is Mendix?</a>
        </li>
        </ul>
    </div>
    <div class="card__background"></div>
</div>
