<div class="index__block"><ul>
{{- $currentPage := .Page.Permalink }}
{{- $path := .Page.Dir }}
{{- $slices := split $path "/" }}
{{- $sort := .Get "sort" -}}
{{- if eq $sort nil -}}
  {{- $sort := "asc" -}}
{{- end -}}
{{- $pages := (where .Page.Site.Pages ".File.Dir" "eq" $path) }}
{{- $.Scratch.Set "pages" (where $pages ".Params.parent" "eq" .Page.Params.title) }}
{{- range sort ($.Scratch.Get "pages") "Title" $sort }}
  {{- if eq .Permalink $currentPage }}
  {{- else }}
    {{ $page := . }}
    <li class="index__block__section">
      {{- $pageURL := replace $page.URL "index.html" "" -}}
      {{- $pageURL := replace $pageURL ".html" "" }}
      <a href="{{ $pageURL }}" title="$page.Title" />{{- $page.Title }}</a>
      {{- $list := (where $page.Site.Pages ".Params.category" "eq" $page.Title) }}
      {{- $len := (len $list )}}
      {{- range $index, $subpage := $list }}
        {{- if eq $index 0 }}
          <ul>
        {{- end }}
        {{- if eq $subpage.Dir $path }}
          {{- $subPageURL := replace $subpage.URL "index.html" "" -}}
          {{- $subPageURL := replace $subPageURL ".html" "" }}
          <li><a href="{{ $subPageURL }}" title="$subpage.Title" />{{- $subpage.Title }}</a></li>
        {{- end }}
        {{- if eq (add $index 1) $len }}
          </ul>
        {{ end }}
      {{- end }}
    </li>
  {{- end }}
{{- end }}
</ul></div>
