
# Individual Visual Studio Code settings
.vscode
# NK - Hugo 
/hugo.exe
/htmltest.exe

# Start directories with / to ensure that only directories in the ROOT are ignored, could be duplicate names

# The built site
/public/
# Resources file 
/resources/
# Node modules required for the site - built each time using npm install
/node_modules/
# MvM - Put HUGO and NODE (and dependencies) into /bin folder
/bin/
# Temporary directory
/tmp/

# Needed to ignore files from previous Docs Site
/_site/
/mx-1-get-hugo-and-node.ps1
/mx-2-install-dependencies.bat
/mx-3-run-server.bat
