# Currently ignored files and directories
/node_modules/
/public/
/resources/
/tmp/
hugo.exe
/htmltest.exe
/.hugo_build.lock

# For Mac users
.DS_Store

# Legacy for users who still have leftovers from previous Docs Stack
/_site/
/.vscode/
/.idea/
bin
data/asset*.json
data/history.yml
/static/public/js/*
/static/public/styles/*
/static/json/*.json
/yarn-error.log
/_scripts/hugo_bin
mx-1-get-hugo-and-node.ps1
mx-2-install-dependencies.bat
mx-3-run-server.bat

content/en/docs/howto7/mobile/push-notifications/setting-up-google-firebase-cloud-messaging-server.md
