sudo: true
language: ruby
rvm:
- 2.3.1
env:
  global:
    - GOPATH="${HOME}/.go_workspace"
    - TRAVIS_NODE_VERSION="6.9.1"
    - NOKOGIRI_USE_SYSTEM_LIBRARIES=true
    - JEKYLL_ENV=production
    - CF_APP=documentation
    - CF_API=https://api.run.pivotal.io
    - CF_USERNAME=jelte.lagendijk@mendix.com
    - CF_ORGANIZATION=mendix-rnd.com
    - CF_SPACE=docs
    - secure: "NdoI6WzRsU/OsGpyIjjzgrnc23IJWzSAkEhJQWEjkMim6g2NrhrSipcKVjpsGkOyJFlmhMcVcejTxuvCMkIxOPSZziDHvHyqVU752ZGPTd7dYUIET2k7W6xytA2Aos66R3DasUPParFdmvvUdFny5GFjIILB8s6P5n3d1BnUG+nWhNOf3s++eY2UITq+jZl8JjEq8hMUq4UKLaFcwKUoFYBdNe9CV5sHmRK54BOOP65UJCm10H8pS6ywA/7ZVoHJwaIUF1XVdypxfdMpciqIN4jq6VB7AYEN6a2Qep6fa1wYeitCJkLaWkSzArGSQWUNw39JQcODijE2y1H/QBq7DNwqHcQtwtIme+HDtVsPHLzv47GQ/NV+AjV20EmXIxWp2ZgrUdndUC0sP3rhnRSAE0L2YSUwzYUG1xIKry4bxafkpjQ2DcZ0JC/2bpMy3JTThot/Ek8eDX+1cKbkaTghMYqT5bpSlL0OqE1/F2dr/ZGVUjhqdlMWf992pmDAq7IUl3nERLAY1RZByb6yDUy8llxpv3NWGeAxoXZFdfJNdN08qSJb6d2j2U+Y1NMbXhDjcs6YT1Jbn/33ZEwzS6NmKvQc+oEwjgKLbZKNoUmo822X8lBhvvr+bpHItycUqQUZ+nx344wsp3ISkSedZjeE1Lia98ZY1ryXC+UpoI9lQQE="
install:
  - rm -rf ~/.nvm && git clone https://github.com/creationix/nvm.git ~/.nvm && (cd ~/.nvm
    && git checkout `git describe --abbrev=0 --tags`) && source ~/.nvm/nvm.sh && nvm
    install $TRAVIS_NODE_VERSION
  - bundle install
  - npm install -g gulp
  - npm install
before_deploy:
  - wget 'https://cli.run.pivotal.io/stable?release=debian64&version=6.22.2&source=github-rel' -qO temp.deb && sudo dpkg -i temp.deb
  - rm temp.deb
  - cf api $CF_API
  - cf login -u $CF_USERNAME -p $CF_PASSWORD -o $CF_ORGANIZATION -s $CF_SPACE
  - cf -v
  - cf install-plugin 'https://github.com/contraband/autopilot/releases/download/0.0.2/autopilot-linux' -f
script:
  - gulp build
cache: bundler
branches:
  only:
  - master
deploy:
- provider: script
  script: cf zero-downtime-push $CF_APP -f ./manifest_prod.yml
  skip_cleanup: true
  on:
    branch:
      - master
