sudo: true
language: ruby
rvm:
- 2.3.1
env:
  global:
    - GOPATH="${HOME}/.go_workspace"
    - TRAVIS_NODE_VERSION="6.9.1"
    - NOKOGIRI_USE_SYSTEM_LIBRARIES=true
    - JEKYLL_ENV=production
    - CF_APP=docs
    - CF_API=https://api.run.pivotal.io
    - CF_USERNAME=jelte.lagendijk@mendix.com
    - CF_ORGANIZATION=mendix-rnd.com
    - CF_SPACE=docs
    - secure: "NdoI6WzRsU/OsGpyIjjzgrnc23IJWzSAkEhJQWEjkMim6g2NrhrSipcKVjpsGkOyJFlmhMcVcejTxuvCMkIxOPSZziDHvHyqVU752ZGPTd7dYUIET2k7W6xytA2Aos66R3DasUPParFdmvvUdFny5GFjIILB8s6P5n3d1BnUG+nWhNOf3s++eY2UITq+jZl8JjEq8hMUq4UKLaFcwKUoFYBdNe9CV5sHmRK54BOOP65UJCm10H8pS6ywA/7ZVoHJwaIUF1XVdypxfdMpciqIN4jq6VB7AYEN6a2Qep6fa1wYeitCJkLaWkSzArGSQWUNw39JQcODijE2y1H/QBq7DNwqHcQtwtIme+HDtVsPHLzv47GQ/NV+AjV20EmXIxWp2ZgrUdndUC0sP3rhnRSAE0L2YSUwzYUG1xIKry4bxafkpjQ2DcZ0JC/2bpMy3JTThot/Ek8eDX+1cKbkaTghMYqT5bpSlL0OqE1/F2dr/ZGVUjhqdlMWf992pmDAq7IUl3nERLAY1RZByb6yDUy8llxpv3NWGeAxoXZFdfJNdN08qSJb6d2j2U+Y1NMbXhDjcs6YT1Jbn/33ZEwzS6NmKvQc+oEwjgKLbZKNoUmo822X8lBhvvr+bpHItycUqQUZ+nx344wsp3ISkSedZjeE1Lia98ZY1ryXC+UpoI9lQQE="
    - secure: "kYSZufIWTrCfGHk6QX3r7hdOpusvxnBncCRSs1E6yh8Bept9NX/zhUGwSR1k1aMhzeLzxZRWGMnwUK1y0v1gJrry0dicLZkcqnkNRPR8l8YFHhpAloQQDfToAq83RMQwgZUFgQNP+y7d82mzui14aY6Na9gUl0U8KU3hXGM4RaUWOLf5Ovil4FvKsdPzPHuHmnkHOrAeDvf9nZgp9HqsePFjs3vr8LVZCL/QucjXp+4AVMDs83gOVayJEfg8lBbT2R+9gDEmZOzKJaJosFZ30DL7PM1EsKK7SJap+FQGlow5l7Q2Vf2RYAuTLpxKh5pr38rtYayRmQI9oNRzTROaialR4JqvEa42PojpBM7MUQChjpvyEsDi2FoxzLTc+DVSD2NhoH/kh/gilKX8HyfRLHIpIVqA2n7NnWhSZgMqbgdWntbMNrjEtLWA3GgWPDZ+wNYTL552d3ZAuXciJJEEQcr2nbnAjF4j5fwZ+WLl0TfFle750Jje/mqQcY5KkT7OPvFm0lbFqFhBzdKJzIS2kv3wtm19+uX376a/kwbZ9/S7uuKiarblC3IMzDmMZxV47q5sG/JImWU7KBl2gqXl8PTMNESpJ7uxwNbsSY6MZgxrRBO+CCjWPcNkBjGFlOFNiJEuJeEtmsJCGEJKX02J/BV4PV5lxbi4NxDiq5t8K3Q="
install:
  - rm -rf ~/.nvm && git clone https://github.com/creationix/nvm.git ~/.nvm && (cd ~/.nvm
    && git checkout `git describe --abbrev=0 --tags`) && source ~/.nvm/nvm.sh && nvm
    install $TRAVIS_NODE_VERSION
  - bundle install
  - npm install -g gulp
  - npm install
before_deploy:
  - wget 'https://cli.run.pivotal.io/stable?release=debian64&version=6.22.2&source=github-rel' -qO temp.deb && sudo dpkg -i temp.deb
  - rm temp.deb
  - cf api $CF_API
  - cf login -u $CF_USERNAME -p $CF_PASSWORD -o $CF_ORGANIZATION -s $CF_SPACE
  - cf -v
  - cf install-plugin 'https://github.com/contraband/autopilot/releases/download/0.0.2/autopilot-linux' -f
script:
  - gulp build
  - gulp htmlproofer
cache:
  directories:
    vendor
    node_modules
branches:
  only:
  - master
  - development
  - feature_development
deploy:
- provider: script
  script: cf zero-downtime-push $CF_APP -f ./manifest_prod.yml
  skip_cleanup: true
  on:
    branch:
      - master
- provider: script
  script: cf zero-downtime-push documentation -f ./manifest_accp.yml
  skip_cleanup: true
  on:
    branch:
      - feature_development
after_deploy:
  - gulp algolia
