---
title: 'Mendix Documentation'
layout: mxoverview
maintitle: 'Mendix Documentation'
description: 'Documentation for Mendix'
priority: 10
---
{% assign howto = "/howtoX/" | replace: "X", site.latest_major_version %}
{% assign refguide = "/refguideX/" | replace: "X", site.latest_major_version %}
<div class="row">
  <div class="col-md-offset-1 col-md-10 col-sm-12">
    <h1 class="header-link"><a href="{{ howto }}" title="Mendix {{ site.latest_major_version }} How-to's">How-to's</a></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-10 col-sm-12">
    {% include blocks/howto-general.html dir=howto %}
  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-10 col-sm-12">
    <h1 class="header-link"><a href="{{ refguide }}" title="Reference Guide for Mendix {{ site.latest_major_version }}">Reference Guide</a></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-10 col-sm-12">
    {% include blocks/refguide-general.html dir=refguide %}
  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-10 col-sm-12">
    <h1 class="header-link"><a href="/apidocs/" title="API Documentation Overview">API &amp; SDK</a></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-10 col-sm-12">
    {% include blocks/api-sdk.html %}
  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-10 col-sm-12">
    <h1 class="header-link"><a href="/community/" title="Community">Community</a></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-10 col-sm-12">
    {% include blocks/community.html %}
  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-10 col-sm-12">
    <h1 class="header-link"><a href="/support/" title="Mendix Support Documentation">Support</a></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-10 col-sm-12">
    {% include blocks/support.html %}
  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-10 col-sm-12">
    <h1 class="header-link">Tools</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-10 col-sm-12">
    {% include blocks/tools.html %}
  </div>
</div>
