---
title: 'Mendix Documentation'
layout: mxoverview
maintitle: 'Mendix Documentation'
description: 'Documentation for Mendix'
---
{% assign howto = "/howtoX/" | replace: "X", site.latest_major_version %}
{% assign refguide = "/refguideX/" | replace: "X", site.latest_major_version %}
<div class="row">
  <div class="col-md-offset-1 col-md-10 col-sm-12">
    <h1 class="header-link"><a href="{{ refguide }}">Mendix Reference Guide</a></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-10 col-sm-12">
    {% include blocks/refguide-general.html dir=refguide %}
  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-10 col-sm-12">
    <h1 class="header-link"><a href="{{ howto }}">Mendix How-To's</a></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-10 col-sm-12">
    {% include blocks/howto-general.html dir=howto %}
  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-10 col-sm-12">
    <h1 class="header-link"><a href="/howtogeneral/">General How-To's</a></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-10 col-sm-12">
    {% include blocks/howto-general-space.html %}
  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-10 col-sm-12">
    <h1 class="header-link"><a href="/releasenotes/">Release Notes</a></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-10 col-sm-12">
    {% include blocks/releasenotes.html %}
  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-10 col-sm-12">
    <h1 class="header-link"><a href="/apidocs/">API</a> &amp; <a href="/MXSDK/">SDK</a></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-10 col-sm-12">
    {% include blocks/api-sdk.html %}
  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-10 col-sm-12">
	<h1 class="header-link"><a href="/addons/">Add-Ons</a></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-10 col-sm-12">
    {% include blocks/addons.html %}
  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-10 col-sm-12">
    <h1 class="header-link"><a href="/community/">Community</a></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-10 col-sm-12">
    {% include blocks/community.html %}
  </div>
</div>
