---
title: 'Mendix Documentation'
layout: mxoverview
---
{% assign howto = "/howtoX/" | replace: "X", site.latest_major_version %}
{% assign refguide = "/refguideX/" | replace: "X", site.latest_major_version %}
<div class="row">
  <div class="col-md-offset-1 col-md-10 col-sm-12">
    <h1 class="header-link"><a href="{{ howto }}">Mendix {{ site.latest_major_version}} How-to's</a></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-10 col-sm-12">
    {% include blocks/howto-general.html dir=howto %}
  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-10 col-sm-12">
    <h1 class="header-link"><a href="{{ refguide }}">Reference Guide {{ site.latest_major_version }}</a></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-10 col-sm-12">
    {% include blocks/refguide-general.html dir=refguide %}
  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-10 col-sm-12">
    <h1 class="header-link"><a href="/apidocs/">API &amp; SDK</a></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-10 col-sm-12">
    {% include blocks/api-sdk.html %}
  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-10 col-sm-12">
    <h1 class="header-link"><a href="/community/">Community</a></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-10 col-sm-12">
    {% include blocks/community.html %}
  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-10 col-sm-12">
    <h1 class="header-link"><a href="/support/">Support</a></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-10 col-sm-12">
    {% include blocks/support.html %}
  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-10 col-sm-12">
    <h1 class="header-link"><a href="/apidocs/">Tools</a></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-10 col-sm-12">
    {% include blocks/tools.html %}
  </div>
</div>
