{{ partial "header" . }}
  {{ partial "mx-general/header-new" . }}
  <div class="mx__content">
    {{ partial "background" . }}
    {{ partial "topbar" . }}
    {{ partial "banner" . }}
    <div class="container">
      <div class="row mx__main-content">
        <!-- CONTENT -->
        <div class="col-md-9 col-xs-12 col-md-push-3 mx__main">
          <div class="mx__page" data-file-id="{{ .File.BaseFileName }}">
            {{ partial "pageheader" . }}
            <article class="mx__page__content">
              {{ .Content }}
            </article>
          </div>
          {{ partial "tableofcontents" . }}
        </div>
        <!-- SIDEBAR -->
        {{ partial "sidebar" . }}
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  {{ partial "footer" . }}
