.card {
    $cardroot: &;
    @include clearfix();
    @include border-radius(4px);
    @include box-shadow(0 0 6px 0 rgba(0,0,0,0.09));
    position: relative;
    overflow: hidden;
    border: 1px solid $color-grey-border;
    background: $color-white;
    padding: 30px 20px;
    width: 100%;
    margin-bottom: 30px!important;

    .col-md-6 {
        z-index: 10;
    }

    @include element('background') {
        @include opacity(0.2);
        @include transform(rotate(-20deg));
        position: absolute;
        bottom: -40px;
        right: -10px;
        display: block;

        width: 200px;
        height: 200px;

        -webkit-filter: grayscale(100%);
        filter: grayscale(1);
        // filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");


        background-size: contain;
        background-repeat: no-repeat;


    }

    &-type {
        @include modifier('mendix') {
            @include element('background', $cardroot) {
                background-image: url('/public/images/card_bg/logo.png');
            }
            @include element('readmore', $cardroot) {
                font-size: 16px;
            }
            margin-bottom: 80px!important;
        }
        @include modifier('agile') {
            @include element('background', $cardroot) {
                background-image: url('/public/images/card/Agile.svg');
            }
        }
        @include modifier('data') {
            @include element('background', $cardroot) {
                background-image: url('/public/images/card/Data.svg');
            }
        }
        @include modifier('developing') {
            @include element('background', $cardroot) {
                background-image: url('/public/images/card/Develop.svg');
            }
        }
        @include modifier('devops') {
            @include element('background', $cardroot) {
                background-image: url('/public/images/card/Devops.svg');
            }
        }
        @include modifier('ux') {
            @include element('background', $cardroot) {
                background-image: url('/public/images/card/Ux.svg');
            }
        }
        @include modifier('integration') {
            @include element('background', $cardroot) {
                background-image: url('/public/images/card/Integration.svg');
            }
        }
        @include modifier('multicloud') {
            @include element('background', $cardroot) {
                background-image: url('/public/images/card/MultiCloud.svg');
            }
        }
        @include modifier('architecture') {
            @include element('background', $cardroot) {
                background-image: url('/public/images/card/Architecture.svg');
            }
        }
        @include modifier('scalability') {
            @include element('background', $cardroot) {
                background-image: url('/public/images/card/Scalability.svg');
            }
        }
        @include modifier('availability') {
            @include element('background', $cardroot) {
                background-image: url('/public/images/card/Availability.svg');
            }
        }
        @include modifier('openness') {
            @include element('background', $cardroot) {
                background-image: url('/public/images/card/Openness.svg');
            }
        }
        @include modifier('security') {
            @include element('background', $cardroot) {
                background-image: url('/public/images/card/Security.svg');
            }
        }
        @include modifier('evaluation') {
            @include element('background', $cardroot) {
                background-image: url('/public/images/card/Evaluation.svg');
            }
        }
        @include modifier('learning') {
            @include element('background', $cardroot) {
                background-image: url('/public/images/card/Learn.svg');
            }
        }
        @include modifier('qualityassurance') {
            @include element('background', $cardroot) {
                background-image: url('/public/images/card/QualityAssurance.svg');
            }
        }
        @include modifier('sap') {
            @include element('background', $cardroot) {
                background-image: url('/public/images/card/Sap.png');
            }
        }
        @include modifier('ibm') {
            @include element('background', $cardroot) {
                background-image: url('/public/images/card/IBM.png');
                bottom: -100px;
            }
        }
    }

    @include element('title') {
        margin: 0 0 20px;
        font-size: 24px;
        padding-left: 33px;
        line-height: 33px;
        background-repeat: no-repeat;

        @include modifier('mendix') {
            background-image: url('/public/images/logo-24x24.png');
            background-position: 0px 5px;
        }

        @include modifier('agile') {
            background-image: url('/public/images/card/Agile.svg');
            background-position: 0px 5px;
        }

        @include modifier('data') {
            background-image: url('/public/images/card/Data.svg');
            background-position: 0px 5px;
        }

        @include modifier('developing') {
            background-image: url('/public/images/card/Develop.svg');
            background-position: 0px 5px;
        }

        @include modifier('devops') {
            background-image: url('/public/images/card/Devops.svg');
            background-position: 0px 5px;
        }

        @include modifier('ux') {
            background-image: url('/public/images/card/Ux.svg');
            background-position: 0px 5px;
        }

        @include modifier('integration') {
            background-image: url('/public/images/card/Integration.svg');
            background-position: 0px 5px;
        }

        @include modifier('multicloud') {
            background-image: url('/public/images/card/MultiCloud.svg');
            background-position: 0px 5px;
        }

        @include modifier('architecture') {
            background-image: url('/public/images/card/Architecture.svg');
            background-position: 0px 5px;
        }

        @include modifier('scalability') {
            background-image: url('/public/images/card/Scale.svg');
            background-position: 0px 8px;
        }

        @include modifier('availability') {
            background-image: url('/public/images/card/Availability.svg');
            background-position: 0px 8px;
        }

        @include modifier('openness') {
            background-image: url('/public/images/card/Openness.svg');
            background-position: 0px 8px;
        }

        @include modifier('security') {
            background-image: url('/public/images/card/Security.svg');
            background-position: 0px 8px;
        }

        @include modifier('evaluation') {
            background-image: url('/public/images/card/Evaluation.svg');
            background-position: 0px 8px;
        }

        @include modifier('learning') {
            background-image: url('/public/images/card/Learn.svg');
            background-position: 0px 8px;
        }

        @include modifier('qualityassurance') {
            background-image: url('/public/images/card/QualityAssurance.svg');
            background-position: 0px 8px;
        }

        @include modifier('sap') {
            height: 28px;
            padding-left: 0;
            img {
                max-width: 70px!important;
                position: absolute;
                top: -23px;
            }
        }

        @include modifier('ibm') {
            height: 28px;
            padding-left: 0;
            img {
                max-width: 70px!important;
                position: absolute;
            }
        }
    }

    @include element('text') {
        color: $color-darker-grey-2;
        line-height: 22px;
        margin-bottom: 15px;
    }

    @include element('readmore') {
        font-size: 12px;
        font-weight: bold;
        line-height: 17px;
        background: $color-mendix-blue;
        border-color: $color-mendix-blue;
        color: $color-white;
        background-image: url(/public/images/swirl-blue.svg);
        background-repeat: no-repeat;
        background-size: cover;
        border-width: 0;

        &:hover, &:active {
            color: $color-white;
            border-color: $color-mendix-blue;
            @include box-shadow(none);
            outline: none;
            border-width: 0;
        }

        &:after {
            content: '>';
            line-height: 17px;
            margin-left: 3px;
        }
    }

    @include element('featured') {

        @include element('title') {
            font-size: 12px;
            margin: 13px 0 15px;
        }

        @include element('list') {
            list-style-type: none;
            padding-left: 0!important;

            li {
                margin: 0 0 15px;
            }
        }
    }
}
