.footer {
  border-top: $border-color 1px solid;
  background: $color-lightgrey;

  a {
    color: $goldfish-orange;
    &:hover {
      color: $link-color;
    }
  }

  &_text {
    padding: 0.5em 3px;
    font-weight: bold;
    font-size: 12px;
    line-height: 2;
  }
}
