#mx-dock-header {
    display: block;
    height: 89px;
    background: #fff;
    #mx-header {
        width: 100%;
        background: #fff;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
        border-top: 5px solid #0595db;
        position: relative;
    }
};
