openapi: 3.0.0
info:
  title: Mendix for Private Cloud Deploy API
  version: 4.9.0
  contact:
    name: Mendix Support
    url: 'https://support.mendix.com'
    email: support@mendix.com
  termsOfService: 'https://www.mendix.com/terms-of-use/'
  description: 'The API to manage clusters, namespaces, and environments for Mendix apps which are deployed to Mendix for Private Cloud.'
servers:
  - url: 'https://privatecloud.mendixcloud.com/api/v4'
paths:
  '/jobs/{jobId}':
    parameters:
      - $ref: '#/components/parameters/jobId'
    get:
      summary: Get Status and Result
      tags:
        - jobs
      responses:
        '200':
          $ref: '#/components/responses/job'
        '401':
          $ref: '#/components/responses/error401'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
      operationId: get-job
      description: Retrieve status of an asynchronous job which has been initiated by an API call. Each API call which successfully starts a job will return the "id" of the job which can be used in this API call.
  /clusters:
    get:
      summary: Get Manifests of Multiple Clusters
      tags:
        - clusters
      responses:
        '200':
          $ref: '#/components/responses/clustersManifests'
        '401':
          $ref: '#/components/responses/error401'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
      operationId: get-clusters-manifests
      description: Retrieves all the clusters for which the user is a Cluster Manager.
      parameters:
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
    post:
      summary: Create Cluster
      operationId: create-cluster
      responses:
        '202':
          $ref: '#/components/responses/job'
        '400':
          $ref: '#/components/responses/error400'
        '401':
          $ref: '#/components/responses/error401'
        '403':
          $ref: '#/components/responses/error403'
      description: Creates a new cluster based on a manifest.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/clusterManifest'
        description: Manifest of a cluster.
      tags:
        - clusters
  '/clusters/{clusterId}':
    parameters:
      - $ref: '#/components/parameters/clusterId'
    get:
      summary: Get Cluster Manifest
      tags:
        - clusters
      responses:
        '200':
          $ref: '#/components/responses/clusterManifest'
        '401':
          $ref: '#/components/responses/error401'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
      operationId: get-cluster-manifest
      description: Retrieves the manifest of a cluster.
    put:
      summary: Update Cluster
      operationId: update-cluster
      responses:
        '202':
          $ref: '#/components/responses/job'
        '400':
          $ref: '#/components/responses/error400'
        '401':
          $ref: '#/components/responses/error401'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
      tags:
        - clusters
      description: Updates a specific cluster.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateClusterManifest'
        description: Manifest of a cluster.
    delete:
      summary: Delete Cluster
      operationId: delete-cluster
      responses:
        '202':
          $ref: '#/components/responses/job'
        '400':
          $ref: '#/components/responses/error400'
        '401':
          $ref: '#/components/responses/error401'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
      tags:
        - clusters
      description: Deletes a specific cluster.
  '/clusters/{clusterId}/namespaces':
    parameters:
      - $ref: '#/components/parameters/clusterId'
    get:
      summary: Get Manifests of Multiple Namespaces
      tags:
        - namespaces
      responses:
        '200':
          $ref: '#/components/responses/namespacesManifestsResponse'
        '401':
          $ref: '#/components/responses/error401'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
      operationId: get-namespaces-manifests
      description: Retrieves the manifests of all namespaces of a cluster.
      parameters:
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
    post:
      summary: Create Namespace
      operationId: create-namespace
      responses:
        '202':
          $ref: '#/components/responses/job'
        '400':
          $ref: '#/components/responses/error400'
        '401':
          $ref: '#/components/responses/error401'
        '403':
          $ref: '#/components/responses/error403'
      tags:
        - namespaces
      description: Creates a new namespace based on a manifest.
      requestBody:
        $ref: '#/components/requestBodies/createNamespaceManifest'
  '/clusters/{clusterId}/namespaces/{namespaceId}':
    parameters:
      - $ref: '#/components/parameters/clusterId'
      - $ref: '#/components/parameters/namespaceId'
    get:
      summary: Get Namespace Manifest
      tags:
        - namespaces
      responses:
        '200':
          $ref: '#/components/responses/namespaceManifestResponse'
        '401':
          $ref: '#/components/responses/error401'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
      operationId: get-namespace-manifest
      description: Retrieves the manifest of a namespace.
    delete:
      summary: Delete Namespace
      operationId: delete-namespace
      responses:
        '202':
          $ref: '#/components/responses/job'
        '400':
          $ref: '#/components/responses/error400'
        '401':
          $ref: '#/components/responses/error401'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
      tags:
        - namespaces
      description: Deletes a specific namespace.
    put:
      summary: Update Namespace
      operationId: update-manifest
      responses:
        '202':
          $ref: '#/components/responses/job'
        '400':
          $ref: '#/components/responses/error400'
        '401':
          $ref: '#/components/responses/error401'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
      description: |-
        Updates a specific namespace.<br/>
        ***Please be aware that this endpoint cannot be used for the `Main` namespace of a Global Operator installation.***
      tags:
        - namespaces
      requestBody:
        $ref: '#/components/requestBodies/updateNamespaceManifest'
  /apps:
    get:
      summary: Get Manifests of Multiple Applications
      tags:
        - apps
      responses:
        '200':
          $ref: '#/components/responses/appsManifests'
        '401':
          $ref: '#/components/responses/error401'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
      operationId: get-apps-manifests
      description: Retrieves the manifests of all the applications for which the user has access.
      parameters:
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit100'
  '/apps/{appId}':
    parameters:
      - $ref: '#/components/parameters/appId'
    get:
      summary: Get App Manifest
      tags:
        - apps
      responses:
        '200':
          $ref: '#/components/responses/appManifest'
        '400':
          $ref: '#/components/responses/error400'
        '401':
          $ref: '#/components/responses/error401'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
      operationId: get-app-manifest
      description: Retrieves the manifest of an application.
  '/apps/{appId}/environments':
    parameters:
      - $ref: '#/components/parameters/appId'
    get:
      summary: Get Manifests of Multiple Environments
      responses:
        '200':
          $ref: '#/components/responses/environmentsManifests'
        '401':
          $ref: '#/components/responses/error401'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
      operationId: get-environments-manifests
      description: Retrieves the manifests of all environments of an application.
      tags:
        - environments
      parameters:
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
    post:
      summary: Create Environment
      operationId: create-environment
      responses:
        '202':
          $ref: '#/components/responses/job'
        '400':
          $ref: '#/components/responses/error400'
        '401':
          $ref: '#/components/responses/error401'
        '403':
          $ref: '#/components/responses/error403'
      description: Creates a new environment based on a manifest.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/environmentManifest'
        description: Manifest of an environment.
      tags:
        - environments
  '/apps/{appId}/environments/{environmentId}':
    parameters:
      - $ref: '#/components/parameters/appId'
      - $ref: '#/components/parameters/environmentId'
    get:
      summary: Get Environment Manifest
      responses:
        '200':
          $ref: '#/components/responses/environmentManifest'
        '401':
          $ref: '#/components/responses/error401'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
      operationId: get-environment-manifest
      description: |-
        Retrieves the manifest of an environment.<br/>
        This should only be used if your application doesn't have environments deployed in multiple namespaces.<br/>
        We recommend using the endpoint `Get Environment Manifest for a specified Namespace`.<br/>
        This endpoint **will be removed in future versions**.
      tags:
        - environments
      deprecated: true
    delete:
      summary: Delete Environment
      operationId: delete-environment
      responses:
        '202':
          $ref: '#/components/responses/job'
        '400':
          $ref: '#/components/responses/error400'
        '401':
          $ref: '#/components/responses/error401'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
      description: |-
        Deletes a specific environment.<br/>
        This should only be used if your application doesn't have environments deployed in multiple namespaces.<br/>
        We recommend using the endpoint `Delete Environment for a specified Namespace`.<br/>
        This endpoint **will be removed in future versions**.
      tags:
        - environments
      deprecated: true
    put:
      summary: Update Environment
      operationId: update-environment
      responses:
        '202':
          $ref: '#/components/responses/job'
        '400':
          $ref: '#/components/responses/error400'
        '401':
          $ref: '#/components/responses/error401'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
      description: |-
        Updates a specific environment based on a manifest.<br/>
        This should only be used if your application doesn't have environments deployed in multiple namespaces.<br/>
        We recommend using the endpoint `Update Environment for a specified Namespace`.<br/>
        This endpoint **will be removed in future versions**.
      parameters:
        - schema:
            type: string
          in: header
          name: Content-Type
          description: application/json
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/environmentManifest'
          application/xml:
            schema:
              $ref: '#/components/schemas/environmentManifest'
        description: Manifest of an environment.
      tags:
        - environments
      deprecated: true
  '/apps/{appId}/namespaces/{namespaceId}/environments/{environmentId}':
    parameters:
      - name: appId
        in: path
        required: true
        schema:
          type: string
          format: uuid
          example: c533ee0b-f7db-4e62-868b-1192d392ccec
        description: 'The ID of a Mendix App. In the Developer Portal, this is shown as the App ID and it is a UUID format.'
      - name: namespaceId
        in: path
        required: true
        schema:
          type: string
          example: d43aee0b-f7db-4e62-868b-1192d392cfed
        description: The ID of a namespace.
      - schema:
          type: string
          example: q8g3ns76
        name: environmentId
        in: path
        required: true
        description: The ID of an environment.
    get:
      summary: Get Environment Manifest for a specified Namespace
      responses:
        '200':
          $ref: '#/components/responses/environmentManifest'
        '401':
          $ref: '#/components/responses/error401'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
      operationId: get-environment-manifest-for-namespace
      description: Retrieves the manifest of an environment for a specified namespace.
      tags:
        - environments
    delete:
      summary: Delete Environment for a specified Namespace
      operationId: delete-environment-for-a-specified-namespace
      responses:
        '202':
          $ref: '#/components/responses/job'
        '400':
          $ref: '#/components/responses/error400'
        '401':
          $ref: '#/components/responses/error401'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
      description: Deletes an environment for a specified namespace.
      tags:
        - environments
    put:
      summary: Update Environment for a specified Namespace
      operationId: update-environment-for-a-specified-namespace
      responses:
        '202':
          $ref: '#/components/responses/job'
        '400':
          $ref: '#/components/responses/error400'
        '401':
          $ref: '#/components/responses/error401'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
      description: Updates an environment based on a manifest for a specified namespace.
      parameters:
        - schema:
            type: string
          in: header
          name: Content-Type
          description: application/json
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/environmentManifest'
          application/xml:
            schema:
              $ref: '#/components/schemas/environmentManifest'
        description: Manifest of an environment.
      tags:
        - environments
  /cli:
    get:
      summary: Get List of Available Versions of mxpc-cli
      tags:
        - cli
      responses:
        '200':
          $ref: '#/components/responses/cliVersionList'
        '401':
          $ref: '#/components/responses/error401'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
      operationId: get-cli-versions
      description: Retrieves all available versions of mxpc-cli.
      parameters: []
  '/cli/{cliVersionValue}':
    parameters:
      - name: cliVersionValue
        in: path
        required: true
        schema:
          type: string
          pattern: '[0-9].[0-9].[0-9]'
          example: 2.0.0
        description: A version of mxpc-cli..
    post:
      summary: Get/Download mxpc-cli
      operationId: get-cli
      responses:
        '303':
          description: See Other
          headers:
            Content-Location:
              schema:
                type: string
              description: URL of the selected version of mxpc-cli.
            Location:
              schema:
                type: string
              description: URL of the selected version of mxpc-cli.
        '400':
          $ref: '#/components/responses/error400'
        '401':
          $ref: '#/components/responses/error401'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
      description: 'If every parameter is correct, this request will redirect the user to the Mendix CDN URL of the selected version of mxpc-cli.'
      parameters:
        - $ref: '#/components/parameters/os'
        - $ref: '#/components/parameters/architecture'
      tags:
        - cli
components:
  schemas:
    appManifest:
      type: object
      x-examples:
        Example 1:
          manifestVersion: 2.0.0
          app:
            appId: 085a0e34-69ec-4c61-9c7d-5cd42554f9f2
            appName: my-app
      description: Model for the app manifest.
      properties:
        manifestVersion:
          type: string
          example: 2.0.0
        app:
          type: object
          properties:
            appId:
              $ref: '#/components/schemas/appId'
            appName:
              type: string
              description: The name of a Mendix application.
              example: my-app
    appId:
      type: string
      title: appId
      format: uuid
      example: c533ee0b-f7db-4e62-868b-1192d392ccec
      description: 'The ID of the Mendix App. In the Developer Portal, this is shown as the App ID and it is a UUID format.'
      x-examples:
        example-appid: c533ee0b-f7db-4e62-868b-1192d392ccec
    error:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/error-body'
      description: The error body in an error object.
      x-examples:
        example-error:
          error:
            code: 400
            message: Request validation errors
    error-body:
      description: The body of an error object explaining what happened.
      type: object
      properties:
        code:
          type: integer
          minimum: 0
          description: The HTTP status code.
          example: 400
        message:
          type: string
          description: Explanation of what happened.
          example: Request validation errors
      x-examples:
        example-job-body:
          code: 400
          message: Request validation errors
    job:
      description: Model for jobs.
      type: object
      x-examples:
        example-job-created:
          id: db6ed4d3-8b6d-4c2b-ad2b-2a69d0f7afe0
          status: created
          details: Request to create cluster.
          error:
            code: 400
            message: Request validation errors
      properties:
        id:
          $ref: '#/components/schemas/jobId'
        status:
          type: string
          enum:
            - created
            - running
            - failed
            - finished
          example: finished
          description: '`created` - a job has been created but has not been picked up for processing <br/> `running` - the job is being processed <br/> `finished` - the job has finished processing <br/> `failed` - something went wrong and the job processing failed'
        details:
          type: string
          example: Request to create cluster.
        error:
          $ref: '#/components/schemas/error-body'
      required:
        - id
        - status
    jobId:
      type: string
      title: jobId
      format: uuid
      example: db6ed4d3-8b6d-4c2b-ad2b-2a69d0f7afe0
      description: Model for jobId.
      x-examples:
        example-jobid: db6ed4d3-8b6d-4c2b-ad2b-2a69d0f7afe0
    clusterId:
      type: string
      title: clusterId
      format: uuid
      example: db6ed4d3-8b6d-4c2b-ad2b-2a69d0f7afe0
      description: Model for clusterId.
      x-examples:
        example-clusterid: db6ed4d3-8b6d-4c2b-ad2b-2a69d0f7afe0
    namespaceId:
      type: string
      title: namespaceId
      format: uuid
      example: db6ed4d3-8b6d-4c2b-ad2b-2a69d0f7afe0
      description: Model for namespaceId.
      x-examples:
        example-namespaceid: db6ed4d3-8b6d-4c2b-ad2b-2a69d0f7afe0
    environmentManifest:
      type: object
      x-examples:
        example-environment-manifest:
          $ref: '#/components/examples/EnvironmentManifest'
      description: Model for environment manifest.
      properties:
        manifestVersion:
          type: string
          example: 2.0.0
        environment:
          type: object
          required:
            - id
            - properties
            - deployment
            - container
            - provider
            - services
          properties:
            id:
              $ref: '#/components/schemas/environmentId'
            properties:
              type: object
              required:
                - name
                - production
                - defaultStudioTarget
                - secretsStoreEnabled
              properties:
                name:
                  type: string
                  example: my-environment
                production:
                  type: boolean
                defaultStudioTarget:
                  type: boolean
                secretsStoreEnabled:
                  type: boolean
                  default: false
                OverwriteProductTypePCLM:
                  type: string
                  x-stoplight:
                    id: kledhwkqv84h5
            deployment:
              type: object
              required:
                - appUrl
                - packageId
              properties:
                appUrl:
                  type: string
                  example: 'https://test.app.url'
                packageId:
                  $ref: '#/components/schemas/packageId'
                constants:
                  type: array
                  items:
                    $ref: '#/components/schemas/constant'
                scheduledEvents:
                  type: array
                  items:
                    $ref: '#/components/schemas/scheduledEvent'
                appLogLevels:
                  type: array
                  items:
                    $ref: '#/components/schemas/appLogLevel'
            container:
              type: object
              required:
                - instances
                - coreResources
              properties:
                state:
                  type: string
                  enum:
                    - Ready
                    - Processing
                    - Failed
                    - Unknown
                  example: Ready
                instances:
                  type: integer
                  maximum: 10
                  minimum: 0
                  example: 3
                coreResources:
                  type: object
                  required:
                    - limits
                    - requests
                  properties:
                    limits:
                      $ref: '#/components/schemas/coreResource'
                    requests:
                      $ref: '#/components/schemas/coreResource'
            network:
              type: object
              properties:
                outgoingConnectionCertificate:
                  type: array
                  items:
                    type: object
                    properties:
                      enabled:
                        type: boolean
                      password:
                        type: string
                        example: 'base64 encoded string, e.g.  dGVzdA=='
                      certificateType:
                        type: string
                        example: Client
                      key:
                        type: string
                        example: long base64 encoded .pfx file
            runtime:
              type: object
              properties:
                subscriptionSecret:
                  type: string
                  example: 'base64 encoded string, e.g. c3Vic2NyaXB0aW9uLXNlY3JldA=='
                debuggerPassword:
                  type: string
                  example: 'base64 encoded string, e.g. c3Vic2NyaXB0aW9uLXNlY3JldA=='
                mxAdminPassword:
                  type: string
                  example: 'base64 encoded string, e.g. c3Vic2NyaXB0aW9uLXNlY3JldA=='
                runtimeVersion:
                  type: string
                  default: 9.24.2
                  example: 9.24.2
                environmentVariables:
                  type: array
                  items:
                    $ref: '#/components/schemas/environmentVariable'
                customRuntimeSettings:
                  type: array
                  items:
                    $ref: '#/components/schemas/customSetting'
            provider:
              type: object
              required:
                - clusterId
                - namespace
              properties:
                clusterId:
                  type: string
                  format: uuid
                  example: a712d8f4-a77c-4189-a211-e0ea1dfde03c
                namespace:
                  type: string
                  example: my-namespace
                  description: Be aware that you cannot deploy environments to `Main` namespaces of Global Operator Installations.
                namespaceId:
                  $ref: '#/components/schemas/namespaceId'
            annotations:
              type: array
              items:
                $ref: '#/components/schemas/annotation'
            services:
              type: array
              items:
                $ref: '#/components/schemas/service'
            runtimeMetricsConfiguration:
              type: object
              properties:
                mode:
                  type: string
                  enum:
                    - default
                    - native
                    - compatibility
                  example: native
                interval:
                  type: string
                  example: 'https://docs.mendix.com/refguide/custom-settings/#11-durationinterval-settings'
                mxAgentConfig:
                  type: string
                  example: 'https://docs.mendix.com/developerportal/deploy/private-cloud-monitor/#configuring-mxagent'
                mxAgentInstrumentationConfig:
                  type: string
                  example: 'https://docs.mendix.com/developerportal/deploy/private-cloud-monitor/#configuring-mxagent'
      required:
        - manifestVersion
        - environment
    environmentId:
      type: string
      title: environmentId
      example: e9m3vf7f
      maxLength: 8
      description: Model for environmentId.
      x-examples:
        example-environmentid: e9m3vf7f
    packageId:
      type: string
      title: packageId
      example: 045b8cf4-c9cd-41b4-b241-414b87a7f219
      description: PackageId of a Deployment Package. It can be found on the Deployment Package details page in the Portal.
      x-examples:
        example-packageId: 045b8cf4-c9cd-41b4-b241-414b87a7f219
    constant:
      type: object
      x-examples:
        example-constant-bool:
          name: MyFirstModule.bool
          value: 'False'
        example-constant-datetime:
          name: MyFirstModule.Constant_Name
          value: '2022-03-10T13:15:00'
        example-constant-decimal:
          name: MyFirstModule.Constant_Name
          value: '10.5'
      properties:
        name:
          type: string
          example: MyFirstModule.Constant_Name
        value:
          type: string
          example: '2022-03-10T13:15:00'
      description: Model for constants.
    scheduledEvent:
      type: object
      x-examples:
        example-scheduled-event:
          name: MyFirstModule.Scheduled_event1
          enabled: true
      properties:
        name:
          type: string
          example: MyFirstModule.Scheduled_event1
        enabled:
          type: boolean
      description: Model for scheduled events.
    appLogLevel:
      type: object
      x-examples:
        example-log-level:
          name: MY_LOG_LEVEL
          level: CRITICAL
      properties:
        name:
          type: string
          example: MY_LOG_LEVEL
        level:
          type: string
          enum:
            - CRITICAL
            - NONE
            - DEBUG
            - TRACE
            - INFO
            - ERROR
          example: DEBUG
      description: Model for app log level.
    coreResource:
      type: object
      x-examples:
        example-resource-limits:
          cpu: '1'
          memory: '0.512'
        example-resource-requests:
          cpu: '1'
          memory: '0.512'
        example-with-ephemeral-storage:
          cpu: '1'
          memory: '0.512'
          ephemeralStorage: '1'
      description: Model for resources (limits & requests).
      x-stoplight:
        id: 3cf5b8d99db2e
      properties:
        cpu:
          type: string
          example: '1'
          description: The unit of measurement is `Cores` and it will be added automatically.
        memory:
          type: string
          example: '0.512'
          description: The unit of measurement is `Gb` and it will be added automatically.
        ephemeralStorage:
          type: string
          example: '1'
          default: 1
          description: The unit of measurement is `Gb` and it will be added automatically.
      required:
        - cpu
        - memory
    environmentVariable:
      type: object
      x-examples:
        example-custom-env-var:
          name: custom-env-variable2
          value: custom-env-variable2-value
      properties:
        name:
          type: string
          example: custom-env-variable1
        value:
          type: string
          example: custom-env-variable1-value
      description: Model for custom environment variable.
    customSetting:
      type: object
      x-examples:
        example-custom-runtime-setting:
          name: http.client.CleanupAfterSeconds
          value: '355'
      description: Model for custom runtime setting.
      title: ''
      properties:
        name:
          type: string
          example: HashAlgorithm
        value:
          type: string
          example: BCRYPT
    annotation:
      type: object
      x-examples:
        example-pod-annotation:
          key: prometheus.io/path
          value: /metrics
          annotationType: Pod
      properties:
        key:
          type: string
          example: prometheus.io/port
        value:
          type: string
          example: '8900'
        annotationType:
          type: string
          enum:
            - Pod
            - Service
            - Ingress
          example: Pod
      description: Model for annotations.
    service:
      type: object
      x-examples:
        example-service-db:
          name: ephemeral_db
          plan: OnDemand
          config: '{type: "database"}'
        example-service-storage:
          name: minio_sp
          plan: OnDemand
          config: '{type: "storage"}'
      description: Model for services.
      properties:
        name:
          type: string
          example: ephemeral_db
        plan:
          type: string
          enum:
            - OnDemand
            - Dedicated
          example: OnDemand
        config:
          type: string
          enum:
            - '{type: \"database\"}'
            - '{type: \"storage\"}'
          example: '{type: \"database\"}'
      required:
        - name
        - plan
        - config
    clusterManifest:
      type: object
      x-examples:
        example-cluster-manifest:
          $ref: '#/components/examples/ClusterManifest'
      description: Model for the cluster manifest.
      properties:
        manifestVersion:
          type: string
          example: 2.0.0
        cluster:
          type: object
          properties:
            clusterId:
              type: string
              example: 085a0e34-69ec-4c61-9c7d-5cd42554f9f2
              format: uuid
            name:
              type: string
              example: new-cluster
            clusterType:
              $ref: '#/components/schemas/clusterType'
            operatorType:
              $ref: '#/components/schemas/operatorType'
            description:
              type: string
              example: This cluster is for testing purposes.
          required:
            - clusterId
            - name
            - clusterType
      required:
        - manifestVersion
    clusterType:
      type: string
      title: clusterType
      description: Model for accepted cluster types.
      enum:
        - os
        - k8s
        - eks
        - aks
      example: k8s
      x-examples:
        example-os: os
        example-eks: eks
        example-k8s: k8s
    installationType:
      type: string
      title: installationType
      enum:
        - Connected
        - Standalone
      example: Connected
      description: |-
        non-editable</br>
        Model for installationType.
      x-examples:
        example-connected: Connected
        example-standalone: Standalone
    cliVersion:
      type: object
      x-examples:
        example-cli-version:
          operatorVersion: 2.0.0
          cliVersion: 2.0.0
          availableOperatingSystems: 'windows, linux, macos'
          availableArchitectures: 'x86, arm'
      description: Model for cliVersion.
      properties:
        operatorVersion:
          type: string
        cliVersion:
          type: string
        availableOperatingSystems:
          type: string
        availableArchitectures:
          type: string
    cliVersionValue:
      type: string
      title: cliVersionValue
      pattern: '[0-9].[0-9].[0-9]'
      example: 2.0.0
      description: Model for cliVersionValue.
      x-examples:
        example-cli-version-value: 2.0.0
    namespaceManifest:
      type: object
      x-examples:
        example-update-namespace-manifest:
          $ref: '#/components/examples/NamespaceManifestExample'
      description: Model for the manifest used when retrieving a namespace.
      properties:
        manifestVersion:
          type: string
          example: 2.0.0
        namespace:
          type: object
          required:
            - namespaceId
            - name
            - installationType
            - secret
            - productTypePCLM
          properties:
            namespaceId:
              type: string
              format: uuid
              example: 9fab54b2-39f9-48e4-8ceb-5a7ecbba44e1
            name:
              type: string
              example: my-namespace
            namespaceType:
              $ref: '#/components/schemas/namespaceType'
            installationType:
              $ref: '#/components/schemas/installationType'
            secret:
              type: string
              example: 'base64 encoded string, e.g. c3Vic2NyaXB0aW9uLXNlY3JldA=='
            productTypePCLM:
              type: string
              example: standard
              x-stoplight:
                id: 2r6towzytlu3z
            plans:
              type: array
              items:
                type: object
                properties:
                  planName:
                    type: string
                    example: my-db | my-str
                    description: non-editable
                  planType:
                    $ref: '#/components/schemas/planType'
                  activate:
                    type: boolean
                    default: false
                  planConfig:
                    type: string
                    example: '"{type:\"database | storage\"}"'
                    description: non-editable
            enableDevelopmentMode:
              type: boolean
              default: false
            enableExternalSecretsStore:
              type: boolean
              default: false
            membership:
              type: array
              items:
                type: object
                properties:
                  email:
                    type: string
                    example: abc@xxx.com
                  role:
                    type: string
                    example: Developer | Administrator | Custom
                  status:
                    $ref: '#/components/schemas/invitationStatus'
                  displayName:
                    type: string
                    example: member name
                    description: non-editable
                  autoAcceptInvite:
                    type: boolean
                    default: false
                    description: Can be used to automatically accept the invite for this user.
                  permissions:
                    type: object
                    properties:
                      manageEnvironment:
                        type: boolean
                        default: false
                      deployApp:
                        type: boolean
                        default: false
                      scaleApp:
                        type: boolean
                        default: false
                      startApp:
                        type: boolean
                        default: false
                      stopApp:
                        type: boolean
                        default: false
                      modifyMxAdminPassword:
                        type: boolean
                        default: false
                      editAppConstants:
                        type: boolean
                        default: false
                      manageAppScheduledEvents:
                        type: boolean
                        default: false
                      viewAppLogs:
                        type: boolean
                        default: false
                      viewAppAlerts:
                        type: boolean
                        default: false
                      viewAppMetrics:
                        type: boolean
                        default: false
                      manageAppBackups:
                        type: boolean
                        default: false
                      manageDebugger:
                        type: boolean
                        default: false
                      manageTLSConfigurations:
                        type: boolean
                        default: false
                      manageCustomEnvVarJVMOpts:
                        type: boolean
                        default: false
                      manageCustomRuntimeSettings:
                        type: boolean
                        default: false
                      manageLogLevels:
                        type: boolean
                        default: false
                      manageRuntimeMetricsConfiguration:
                        type: boolean
                        default: false
                required:
                  - email
                  - role
            operationalLinks:
              type: object
              properties:
                metricsUrl:
                  type: string
                  example: 'https://www.exampleurl.com'
                alertsUrl:
                  type: string
                  example: 'https://www.exampleurl.com'
                logsUrl:
                  type: string
                  example: 'https://www.exampleurl.com'
                backupsUrl:
                  type: string
                  example: 'https://www.exampleurl.com'
            additionalInformation:
              type: object
              description: |
                non-editable<br/>
                The section contains useful information for debugging.
              properties:
                componentVersion:
                  type: object
                  properties:
                    operatorVersion:
                      type: string
                      description: |-
                        non-editable<br/>
                        The version of the operator.
                      example: 3.0.0
                    repositoryURL:
                      type: string
                      description: |-
                        non-editable <br/>
                        Docker repository URL.
                      example: docker-local.artifactory.url
                    builderVersion:
                      type: string
                      example: ingvar-rhel
                      description: |-
                        non-editable <br/>
                        Version of the builder.
                    metricsSidecarVersion:
                      type: string
                      example: 1.0.0
                      description: |-
                        non-editable <br/>
                        Version of the metrics sidecar.
                    m2EESidecarVersion:
                      type: string
                      description: |-
                        non-editable <br/>
                        Version of the M2EE sidecar.
                      example: 1.0.0
                internalDetails:
                  type: object
                  properties:
                    operatorSDK:
                      type: string
                      example: v0.18.2
                      description: |-
                        non-editable <br/>
                        Version of the Operator SDK.
                    goRuntimeVersion:
                      type: string
                      example: go1.14.13_linux/amd64
                      description: |-
                        non-editable <br/>
                        Version of the GO runtime.
                    buildBranch:
                      type: string
                      example: HEAD
                      description: non-editable
                    buildDate:
                      type: string
                      example: '2021-01-05_10:14:42'
                      description: non-editable
                    buildHash:
                      type: string
                      example: 7fd1d6df6e754cafb43efaa75071cff3a16932be
                      description: non-editable
      required:
        - manifestVersion
        - namespace
      x-stoplight:
        id: c5451533c063d
      title: ''
    createNamespaceManifest:
      type: object
      x-examples:
        example-update-namespace-manifest:
          $ref: '#/components/examples/NamespaceManifestExample'
      description: Model for the manifest used when creating a namespace.
      x-stoplight:
        id: c57e2bcb44bc0
      properties:
        manifestVersion:
          type: string
          example: 2.0.0
        namespace:
          type: object
          required:
            - namespaceId
            - name
            - installationType
            - secret
          properties:
            namespaceId:
              type: string
              format: uuid
              example: 9fab54b2-39f9-48e4-8ceb-5a7ecbba44e1
            name:
              type: string
              example: my-namespace
            namespaceType:
              $ref: '#/components/schemas/namespaceType'
            installationType:
              $ref: '#/components/schemas/installationType'
            secret:
              type: string
              example: 'base64 encoded string, e.g. c3Vic2NyaXB0aW9uLXNlY3JldA=='
      required:
        - manifestVersion
        - namespace
      title: ''
    updateNamespaceManifest:
      type: object
      x-examples:
        example-update-namespace-manifest:
          $ref: '#/components/examples/UpdateNamespaceManifestExample'
      description: Model for the manifest used when updating a namespace.
      properties:
        manifestVersion:
          type: string
          example: 2.0.0
        namespace:
          type: object
          required:
            - namespaceId
            - name
            - installationType
            - secret
            - productTypePCLM
          properties:
            namespaceId:
              type: string
              format: uuid
              example: 9fab54b2-39f9-48e4-8ceb-5a7ecbba44e1
            name:
              type: string
              example: my-namespace
            namespaceType:
              $ref: '#/components/schemas/namespaceType'
            installationType:
              $ref: '#/components/schemas/installationType'
            secret:
              type: string
              example: 'base64 encoded string, e.g. c3Vic2NyaXB0aW9uLXNlY3JldA=='
            productTypePCLM:
              type: string
              example: standard
              x-stoplight:
                id: 2r6towzytlu3z
            plans:
              type: array
              items:
                type: object
                properties:
                  planName:
                    type: string
                    example: my-db | my-str
                    description: non-editable
                  planType:
                    $ref: '#/components/schemas/planType'
                  activate:
                    type: boolean
                    default: false
                  planConfig:
                    type: string
                    example: '"{type:\"database | storage\"}"'
                    description: non-editable
            enableDevelopmentMode:
              type: boolean
              default: false
            enableExternalSecretsStore:
              type: boolean
              default: false
            membership:
              type: array
              items:
                type: object
                properties:
                  email:
                    type: string
                    example: abc@xxx.com
                  role:
                    type: string
                    example: Developer | Administrator | Custom
                  status:
                    $ref: '#/components/schemas/invitationStatus'
                  displayName:
                    type: string
                    example: member name
                    description: non-editable
                  autoAcceptInvite:
                    type: boolean
                    default: false
                    description: Can be used to automatically accept the invite for this user.
                  permissions:
                    type: object
                    properties:
                      manageEnvironment:
                        type: boolean
                        default: false
                      deployApp:
                        type: boolean
                        default: false
                      scaleApp:
                        type: boolean
                        default: false
                      startApp:
                        type: boolean
                        default: false
                      stopApp:
                        type: boolean
                        default: false
                      modifyMxAdminPassword:
                        type: boolean
                        default: false
                      editAppConstants:
                        type: boolean
                        default: false
                      manageAppScheduledEvents:
                        type: boolean
                        default: false
                      viewAppLogs:
                        type: boolean
                        default: false
                      viewAppAlerts:
                        type: boolean
                        default: false
                      viewAppMetrics:
                        type: boolean
                        default: false
                      manageAppBackups:
                        type: boolean
                        default: false
                      manageDebugger:
                        type: boolean
                        default: false
                      manageTLSConfigurations:
                        type: boolean
                        default: false
                      manageCustomEnvVarJVMOpts:
                        type: boolean
                        default: false
                      manageCustomRuntimeSettings:
                        type: boolean
                        default: false
                      manageLogLevels:
                        type: boolean
                        default: false
                      manageRuntimeMetricsConfiguration:
                        type: boolean
                        default: false
                required:
                  - email
                  - role
            operationalLinks:
              type: object
              properties:
                metricsUrl:
                  type: string
                  example: 'https://www.exampleurl.com'
                alertsUrl:
                  type: string
                  example: 'https://www.exampleurl.com'
                logsUrl:
                  type: string
                  example: 'https://www.exampleurl.com'
                backupsUrl:
                  type: string
                  example: 'https://www.exampleurl.com'
      required:
        - manifestVersion
        - namespace
    updateClusterManifest:
      type: object
      x-examples:
        example-update-cluster-manifest:
          $ref: '#/components/examples/UpdateClusterManifest'
      description: Model for the manifest used when updating a cluster.
      properties:
        manifestVersion:
          type: string
          example: 2.0.0
        cluster:
          type: object
          properties:
            clusterId:
              type: string
              example: 085a0e34-69ec-4c61-9c7d-5cd42554f9f2
            name:
              type: string
              example: my-cluster
            clusterType:
              $ref: '#/components/schemas/clusterType'
            description:
              type: string
              example: This cluster is for testing purposes.
            clusterManagers:
              type: array
              items:
                type: object
                properties:
                  email:
                    type: string
                    example: abc@xxx.com
                  status:
                    $ref: '#/components/schemas/invitationStatus'
                  displayName:
                    type: string
                    description: non-editable
                    example: PrivateCloud User
                  autoAcceptInvite:
                    type: boolean
                    default: false
                    description: |-
                      Can be used to automatically accept the invite for this user. <br/>
                      Can be used <strong>ONLY</strong> for new invites.
                required:
                  - email
          required:
            - clusterId
            - name
            - clusterType
      required:
        - manifestVersion
    databasePlan:
      type: object
      x-examples:
        example-databasePlan:
          planName: ephemeral
          planType: OnDemand
          activate: true
          planConfig: '{type: "database"}'
      description: Model for the database plan.
      properties:
        planName:
          type: string
          example: ephemeral
        planType:
          type: string
          example: OnDemand
        activate:
          type: boolean
          default: false
        planConfig:
          type: string
          example: '{type: \"database\"}'
    storagePlan:
      type: object
      x-examples:
        example-storagePlan:
          planName: minio
          planType: Dedicated
          activate: true
          planConfig: '{type: "storage"}'
      properties:
        planName:
          type: string
          example: minio
        planType:
          type: string
          example: Dedicated
        activate:
          type: boolean
          default: true
        planConfig:
          type: string
          example: '{type: \"storage\"}'
      description: Model for storage plan.
    invitationStatus:
      title: invitationStatus
      type: string
      description: non-editable </br> Model for the status of the member invite.
      example: Invitation_Sent
      enum:
        - Invitation_Sent
        - Accepted
      x-examples:
        example-invitation_sent: Invitation_Sent
        example-accepted: Accepted
    planType:
      title: planType
      type: string
      description: |-
        non-editable </br>
        Model for the database or storage plan type.
      enum:
        - OnDemand
        - Dedicated
      example: OnDemand
      x-examples:
        example-ondemand: OnDemand
        example-dedicated: Dedicated
    operatorType:
      title: Operator Installation Type
      x-stoplight:
        id: 5dr1xnpfnmet8
      type: string
      description: '*This value cannot be changed after it has been set.*'
      enum:
        - global_operator
        - standard_operator
      x-examples:
        Example Global Installation: global_operator
        Example Namespace Instalaltion: standard_operator
      default: standard_operator
    namespaceType:
      title: Type of Namespace
      x-stoplight:
        id: acy4l42nog506
      type: string
      enum:
        - standard
        - main
        - managed
      x-examples:
        Example Standard Namespace: standard
        Example Main Namespace: main
        Example Managed Namespace: managed
      description: |-
        *This value cannot be changed after it has been set.*
        The namespace type is influenced by the type of operator installation.
      default: standard
  parameters:
    appId:
      name: appId
      in: path
      required: true
      schema:
        type: string
        format: uuid
        example: c533ee0b-f7db-4e62-868b-1192d392ccec
      description: 'The ID of a Mendix App. In the Developer Portal, this is shown as the App ID and it is a UUID format.'
    jobId:
      name: jobId
      in: path
      required: true
      schema:
        type: string
        format: uuid
        example: 42dec69c-9bdb-4918-a979-716fbbe3b8a6
      description: The ID of a JobRequest.
    environmentId:
      name: environmentId
      in: path
      required: true
      schema:
        type: string
        maxLength: 8
        example: q8g3ns76
      description: The ID of an environment.
    clusterId:
      name: clusterId
      in: path
      schema:
        type: string
        format: uuid
        example: 42dec69c-9bdb-4918-a979-716fbbe3b8a6
      description: The ID of a Cluster.
      required: true
    namespaceId:
      name: namespaceId
      in: path
      required: true
      schema:
        type: string
        format: uuid
        example: db6ed4d3-8b6d-4c2b-ad2b-2a69d0f7afe0
      description: The ID of a Namespace.
    cliVersionValue:
      name: cliVersionValue
      in: path
      required: true
      schema:
        type: string
        pattern: '[0-9].[0-9].[0-9]'
        example: 2.0.0
      description: A version of mxpc-cli..
    os:
      name: os
      in: query
      required: true
      schema:
        type: string
        enum:
          - windows
          - linux
          - macos
        example: windows
      description: Available operating systems.
    architecture:
      name: architecture
      in: query
      required: true
      schema:
        type: string
        enum:
          - x86
          - arm
        example: x86
      description: Available architectures.
    offset:
      name: offset
      in: query
      required: false
      schema:
        type: integer
      description: Used with paging and defines the offset. The default value is 0.
    limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
      description: Used with paging and defines the maximum amount of objects to return. The default value is 20.
    limit100:
      name: limit
      in: query
      required: false
      schema:
        type: integer
      description: Used with paging and defines the maximum amount of objects to return. The default value is 100.
  responses:
    error400:
      description: |-
        The request likely contains invalid data or is missing data.

        The error response gives additional feedback.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
          examples:
            example-400:
              value:
                error:
                  code: 400
                  message: Request validation errors
    error401:
      description: |-
        There were no usable authentication credentials found.

        The error response gives additional feedback.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
          examples:
            example-401:
              value:
                error:
                  code: 401
                  message: Unauthorized
                  invalid-params:
                    - name: Authentication
                      reason: Missing or invalid Authorization header
    error403:
      description: |-
        Access is denied. The provided credentials are incorrect or the credentials do not have the required level of access.

        The error response gives additional feedback.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
          examples:
            example-403:
              value:
                error:
                  code: 403
                  message: Forbidden
                  invalid-params:
                    - name: Authentication
                      reason: The token is not accepted
    error404:
      description: |-
        The requested item could not be found.

        The error response gives additional feedback.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
          examples:
            example-404:
              value:
                error:
                  code: 404
                  message: App not found
                  invalid-params:
                    - name: Validation
                      reason: App 76ef1b0f-4050-4810-a159-cb419268636c could not be found
    job:
      description: The job response returned by a get-job request. The Location header is populated once the job has been created successfully.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/job'
          examples:
            example-job-created:
              value:
                id: db6ed4d3-8b6d-4c2b-ad2b-2a69d0f7afe0
                status: created
                details: Request to create cluster.
            example-job-failed-with-code:
              value:
                id: db6ed4d3-8b6d-4c2b-ad2b-2a69d0f7afe0
                status: failed
                details: Request to create cluster.
                error:
                  code: 400
                  message: The job failed
            example-job-failed-without-code:
              value:
                id: db6ed4d3-8b6d-4c2b-ad2b-2a69d0f7afe0
                status: created
                details: Request to create cluster.
                error:
                  message: Request validation errors
            example-job-finished:
              value:
                id: db6ed4d3-8b6d-4c2b-ad2b-2a69d0f7afe0
                status: finished
                details: Request to create cluster.
      headers:
        Location:
          schema:
            type: string
          description: The URL where the result of the job can be found. This is only available after the job has been created.
    environmentManifest:
      description: The environment manifest response returned by a get-environment-manifest request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/environmentManifest'
          examples:
            example-environment-manifest:
              value:
                manifestVersion: 2.0.0
                environment:
                  id: e9m3vf7f
                  properties:
                    name: my-environment
                    production: true
                    defaultStudioTarget: true
                    secretsStoreEnabled: false
                    OverwriteProductTypePCLM: standard
                  deployment:
                    appUrl: 'https://test.app.url'
                    packageId: 045b8cf4-c9cd-41b4-b241-414b87a7f219
                    constants:
                      - name: MyFirstModule.Constant_Name
                        value: '2022-03-10T13:15:00'
                    scheduledEvents:
                      - name: MyFirstModule.Scheduled_event1
                        enabled: true
                    appLogLevels:
                      - name: MY_LOG_LEVEL
                        level: DEBUG
                  container:
                    state: Ready
                    instances: 3
                    coreResources:
                      limits:
                        cpu: '1'
                        memory: '0.512'
                      requests:
                        cpu: '1'
                        memory: '0.512'
                  network:
                    outgoingConnectionCertificate:
                      - enabled: true
                        password: 'base64 encoded string, e.g.  dGVzdA=='
                        certificateType: Client
                        key: long base64 encoded .pfx file
                  runtime:
                    subscriptionSecret: 'base64 encoded string, e.g. c3Vic2NyaXB0aW9uLXNlY3JldA=='
                    debuggerPassword: 'base64 encoded string, e.g. c3Vic2NyaXB0aW9uLXNlY3JldA=='
                    mxAdminPassword: 'base64 encoded string, e.g. c3Vic2NyaXB0aW9uLXNlY3JldA=='
                    runtimeVersion: 9.24.2
                    environmentVariables:
                      - name: custom-env-variable1
                        value: custom-env-variable1-value
                    customRuntimeSettings:
                      - name: HashAlgorithm
                        value: BCRYPT
                  provider:
                    clusterId: a712d8f4-a77c-4189-a211-e0ea1dfde03c
                    namespace: my-namespace
                    namespaceId: b912d8f4-a77c-4189-a211-e0ea1dfde04f
                  annotations:
                    - key: prometheus.io/port
                      value: '8900'
                      annotationType: Pod
                  services:
                    - name: ephemeral_db
                      plan: OnDemand
                      config: '{type: \"database\"}'
                  runtimeMetricsConfiguration:
                    mode: native
                    interval: 'https://docs.mendix.com/refguide/custom-settings/#11-durationinterval-settings'
                    mxAgentConfig: 'https://docs.mendix.com/developerportal/deploy/private-cloud-monitor/#configuring-mxagent'
                    mxAgentInstrumentationConfig: 'https://docs.mendix.com/developerportal/deploy/private-cloud-monitor/#configuring-mxagent'
    environmentsManifests:
      description: The environments manifests response returned by a get-environments-manifests request.
      content:
        application/json:
          schema:
            type: object
            properties:
              environments:
                type: array
                items:
                  $ref: '#/components/schemas/environmentManifest'
          examples:
            example-environments-manifests:
              value:
                environments:
                  - manifestVersion: 2.0.0
                    environment:
                      id: e9m3vf7f
                      properties:
                        name: my-environment
                        production: true
                        defaultStudioTarget: true
                        secretsStoreEnabled: false
                        OverwriteProductTypePCLM: standard
                      deployment:
                        appUrl: 'http://test.app.url'
                        packageId: 045b8cf4-c9cd-41b4-b241-414b87a7f219
                        constants:
                          - name: MyFirstModule.bool
                            value: 'False'
                          - name: MyFirstModule.Constant_DateTime_Unused
                            value: '2022-03-10T13:15:00'
                          - name: MyFirstModule.Constant_DateTime_Used
                            value: '2022-03-10T09:43:00'
                          - name: MyFirstModule.decim
                            value: '10.5'
                          - name: MyFirstModule.integ
                            value: '11'
                          - name: MyFirstModule.string
                            value: test
                        scheduledEvents:
                          - name: MyFirstModule.Scheduled_event1
                            enabled: true
                          - name: MyFirstModule.Scheduled_event2
                            enabled: false
                        appLogLevels:
                          - name: loglevel
                            level: CRITICAL
                      container:
                        state: Ready
                        instances: 5
                        coreResources:
                          limits:
                            cpu: '1'
                            memory: '0.512'
                          requests:
                            cpu: '0.1'
                            memory: '0.512'
                      network:
                        outgoingConnectionCertificate:
                          - enabled: true
                            password: dGVzdA==
                            certificateType: Client
                            key: MIIJnAIBAzCCCVgGCSqGSIb3DQEHAaCCCUkEgglFMIIJQTCCBfoGCSqGSIb3DQEHAaCCBesEggXnMIIF4zCCBd8GCyqGSIb3DQEMCgECoIIE/jCCBPowHAYKKoZIhvcNAQwBAzAOBAhDZRK0G/EhwQICB9AEggTYIUAt0t74nm6I1WcXC3dqVfxOuDiitG/rF0MWFXbOYnBXMsZZ7spe0Hc4x5MhDAAIaD/VO3fozeI8semYONfgxc1hg3k4N4F+HwVtQnqh3c4iGJWCUfSufKwlavlnJHIRpbqSkZGl+3UKIJTwaVmBKtLyJrYhD0H9y0Ev6q3rdyTzLizvY4rwXhZneLnpVQsV+YFC5FdW8ybRQNdpTrPHrQEL7IndLE3hb9HVk2SNwchG+qVuKARfFT29W9E3WUoN5FX2vr0VVGahnvT/y+zgQ/i3peQwlV6WGFkUqBHqrO4M5ZFDywYsKrFBXXDyO0LNmE8HFcFNud1Kvj6XIJ03Wc9PEVAbbGXX3Xwotw3ZAyb6M+uFCd/EBroB0lKNO0yFgEecIgSu1ca/ms4we1CTNmAH+DfFjk+Ks9reyBBnUwNS5kPP8bmh2Jk9C8UhIhFZLMgquFeh1m0uKiUmIUTzH00/NSNSpcugr/cjVz60hygp3QqUF6DejQxa/vi5WZhatb7i2QrBFM3pini+6DF3S0wrgjH/ss+HI9trkESs9fURY1uyYhZ7LvVrL2zny5umEhTR7kYqgzIvLBytSJfQRffyejHGbzh/Ud1mAEMu/MhXgtY0Mbk4K13kJ1pQKE7glv/JTbwp001/9d0x9Cv8xyRMoQN3UDFcMjB96cqTqqm9waDvv6S4AxOljG2qSQsm3Ld0tq1eYLRTphdLW/Ab9WAu5i1ryIiSfwXWK9aCKxjeATVGbcxHH2N+fK5LCSs8RmthYFyZED25FRsZIZxCDW7Y/HVJgI5jTwuklvLyls+Azz1+8UiUoyFrGI7qHFREX4BnVzOdCI+WjNx2SRQii7hBZP7tDeEiU0iyENvUYxxIvA8H2tKk0FuYSsJfYhbQJBSVv6YlnwTggO32SJRunoXtQh008KiQY5VA1Gsr0fjxfafsuUX7g/8LvZvKARlSkP1wOQpbZKXo1Zpc7RM1G9nUv2rlcISbzywDtaN+4Ko3jak0LUaLmPqTbmJYYdEo1kSUEbwXBJxaVrXxvzWFbTi41vhpcaD9kURvuT03b33SV2ZDG3qDASJGNfuahl6EJa3r1O2DI/I5BLzeVW4omR70lktefBuMJjH0vVHuCWzbDoMYWxOJX0Za4a99ii8hRKpKofXnPWEBJdfYW6ZqS165tT99YhyDd92319ntBD/x0PJqZHesgIoOmk89VLeyrVTseSV0OMr7Qfnvue7HWgNraGDhIccKnueC8U+31r+pCuB0dyP/gYm6rMF1gHbup6is4T9/9PEnV0O3pTJgL7nXAmitVAojOKOnnGU098HzsTmLo7Iplv4xznRN0rVJ3pYGC6aP2Ci2Mzn/UIv1NAGkjCi+IFP2n9Z44IPnPREZdXfyEgi+5A0eJqRy5sBoIcvpqiaVhqKXYJCTKRe9mMwk8S6TyDhyanpPwV3fMW4tlLcDBf7OqT/HG10Y65chEj0d+ky0mytur7nfwPQlG+FapZlyeP5hwhp0BQo+KZjNO6abP8IfBTaJ4dxt9kNVSseHuMaw/ux0BRVSsXn68QviOOPvNpW1W9uXSAu1GpNnKdnH1kWoPgGymUCtK0iUspT36F/u1nFso6/gu3ce3g9EvtIGrA/pae7zk57+Q6gN3jMpYqh75jGBzTATBgkqhkiG9w0BCRUxBgQEAQAAADBXBgkqhkiG9w0BCRQxSh5IADAANAAwADQAMwAzADYAZgAtADcAOQA3ADgALQA0AGEAMgA2AC0AOAAyAGEAZAAtAGIANwBjADAAMAAwADMAYQA0AGMAYgAxMF0GCSsGAQQBgjcRATFQHk4ATQBpAGMAcgBvAHMAbwBmAHQAIABTAHQAcgBvAG4AZwAgAEMAcgB5AHAAdABvAGcAcgBhAHAAaABpAGMAIABQAHIAbwB2AGkAZABlAHIwggM/BgkqhkiG9w0BBwagggMwMIIDLAIBADCCAyUGCSqGSIb3DQEHATAcBgoqhkiG9w0BDAEDMA4ECNeK0LuvPAmEAgIH0ICCAvha0L9dGfou/JVS5msokk+IaOu/q/YxJDHXGtLGYRSIyBj2DWnOM88oIOM6L8PVIsM9B49L3HOQKtb4p7QzfkHI+v0vaSSLtWJhk3Mh7jEWfGBppRAGcvy9QVmdKP7YgmTJKbrCdzCD93iBTxZMJoh5dPlCaMXPLxyAaOYkQEOAE3xBRyJDcmU9SSxD2hk8jmuK9DKBig1MokvH5bgQkdbPYw8LqMT55hzpotjg1bHL0UlIha1Ylqh8l0vCZQlyCO6eHEfDfjyQDcJjkCq3NRaCQImIbp6D2sCXPEXBSH6pfjar/VyJmLVKSe7t4xP3dUXXjMnGBVG/jlHAWlVn8naT0/WjREsChL84Y3s4z4J2JyXhS53pf2Iy4UPhKnPTUpvUhm+v1LiQhi+t6qmXiugMVtn2bLyNgxLyi5oJ9TQAZS0M9PjpMtqlU65E/ST/AZHBFS2dsDu4aj8srEscqnD+4JPg1PCadbo8douRBEjLOrz5tTrrDZO46shIYfweIdJ0w3hsnWr1Qpmbnmm8gGfXYBN3fqo+wC5PL7rAHEyAOptvEeZmcPE+5OIM87ef4wuO6IGIEamXkV+dSaaLo4jv4dKeoCnmFifDTioerS1IQDyN5JnRDpWM8cIbD+H00SUDJzbm9vpbNEvlD3rZBZxc1Vip5FYDJMfbCmRndkv/vbhfoH048O3DmbqDdP2xebzdXNieZOZjzmDBl6D922+78HbKgLi780flNHeT9fpI+F3bWURIawQ3B3kgR0LYOskF/EtEI9ChVefjCFQBj1tGWCwyoAt27WvmtIezq0/l3VNe3N3n1iWxWWeSUAo2jjXKKT6czWlHinf5ZXb/pdXf8rcOSslCWlx8LEe+QU08VsDtM8xnL2s14rJ0y0JyNqGW4QikQF9WlPHM22GIR8rdvfpipto9S9XCVxAOB6IUi9T3K32IsmsohDWquS0c+7F8Mnjpo4T4TbAbIygTx0448QLQpaE0MAY7s+XWDeIOCnTLAxSCwU8aMDswHzAHBgUrDgMCGgQUIO1WhoxH9INE4DNuO6Be1qNUo6MEFIvVzBQIke4C/5I4gIxPcZ4aj5laAgIH0A==
                      runtime:
                        subscriptionSecret: c3Vic2NyaXB0aW9uLXNlY3JldA==
                        debuggerPassword: NEtpKStwIjhiMzVVUUcodw==
                        mxAdminPassword: NEtpKStwIjhiMzVVUUcodw==
                        runtimeVersion: 9.24.2
                        environmentVariables:
                          - name: custom-env-variable1
                            value: custom-env-variable1-value
                          - name: custom-env-variable2
                            value: custom-env-variable2-value
                          - name: JAVA_TOOL_OPTIONS
                            value: customJVM
                        customRuntimeSettings:
                          - name: custom-runtime-setting1
                            value: custom-runtime-setting1-value
                          - name: custom-runtime-setting2
                            value: custom-runtime-setting2-value
                      provider:
                        clusterId: a712d8f4-a77c-4189-a211-e0ea1dfde03c
                        namespace: my-namespace
                        namespaceId: b912d8f4-a77c-4189-a211-e0ea1dfde04f
                      annotations:
                        - key: prometheus.io/path
                          value: /metrics
                          annotationType: Pod
                        - key: prometheus.io/port
                          value: '8900'
                          annotationType: Pod
                        - key: prometheus.io/scrape
                          value: 'true'
                          annotationType: Pod
                        - key: ingress-annotation
                          value: ingress-annotation-value
                          annotationType: Ingress
                        - key: service-annotation
                          value: service-annotation-value
                          annotationType: Service
                      services:
                        - name: ephemeral_db
                          plan: OnDemand
                          config: '{type: \"database\"}'
                        - name: minio_sp
                          plan: OnDemand
                          config: '{type: \"storage\"}'
                      runtimeMetricsConfiguration:
                        mode: native
                        interval: PT1H30M
                        mxAgentConfig: config
                        mxAgentInstrumentationConfig: config
            example-environments-manifests-with-ephemeral-storage:
              value:
                environments:
                  - manifestVersion: 2.0.0
                    environment:
                      id: e9m3vf7f
                      properties:
                        name: my-environment
                        production: true
                        defaultStudioTarget: true
                        secretsStoreEnabled: false
                        OverwriteProductTypePCLM: standard
                      deployment:
                        appUrl: 'http://test.app.url'
                        packageId: 045b8cf4-c9cd-41b4-b241-414b87a7f219
                        constants:
                          - name: MyFirstModule.bool
                            value: 'False'
                          - name: MyFirstModule.Constant_DateTime_Unused
                            value: '2022-03-10T13:15:00'
                          - name: MyFirstModule.Constant_DateTime_Used
                            value: '2022-03-10T09:43:00'
                          - name: MyFirstModule.decim
                            value: '10.5'
                          - name: MyFirstModule.integ
                            value: '11'
                          - name: MyFirstModule.string
                            value: test
                        scheduledEvents:
                          - name: MyFirstModule.Scheduled_event1
                            enabled: true
                          - name: MyFirstModule.Scheduled_event2
                            enabled: false
                        appLogLevels:
                          - name: loglevel
                            level: CRITICAL
                      container:
                        state: Ready
                        instances: 5
                        coreResources:
                          limits:
                            cpu: '1'
                            memory: '0.512'
                            ephemeralStorage: '1'
                          requests:
                            cpu: '0.1'
                            memory: '0.512'
                            ephemeralStorage: '1'
                      network:
                        outgoingConnectionCertificate:
                          - enabled: true
                            password: dGVzdA==
                            certificateType: Client
                            key: MIIJnAIBAzCCCVgGCSqGSIb3DQEHAaCCCUkEgglFMIIJQTCCBfoGCSqGSIb3DQEHAaCCBesEggXnMIIF4zCCBd8GCyqGSIb3DQEMCgECoIIE/jCCBPowHAYKKoZIhvcNAQwBAzAOBAhDZRK0G/EhwQICB9AEggTYIUAt0t74nm6I1WcXC3dqVfxOuDiitG/rF0MWFXbOYnBXMsZZ7spe0Hc4x5MhDAAIaD/VO3fozeI8semYONfgxc1hg3k4N4F+HwVtQnqh3c4iGJWCUfSufKwlavlnJHIRpbqSkZGl+3UKIJTwaVmBKtLyJrYhD0H9y0Ev6q3rdyTzLizvY4rwXhZneLnpVQsV+YFC5FdW8ybRQNdpTrPHrQEL7IndLE3hb9HVk2SNwchG+qVuKARfFT29W9E3WUoN5FX2vr0VVGahnvT/y+zgQ/i3peQwlV6WGFkUqBHqrO4M5ZFDywYsKrFBXXDyO0LNmE8HFcFNud1Kvj6XIJ03Wc9PEVAbbGXX3Xwotw3ZAyb6M+uFCd/EBroB0lKNO0yFgEecIgSu1ca/ms4we1CTNmAH+DfFjk+Ks9reyBBnUwNS5kPP8bmh2Jk9C8UhIhFZLMgquFeh1m0uKiUmIUTzH00/NSNSpcugr/cjVz60hygp3QqUF6DejQxa/vi5WZhatb7i2QrBFM3pini+6DF3S0wrgjH/ss+HI9trkESs9fURY1uyYhZ7LvVrL2zny5umEhTR7kYqgzIvLBytSJfQRffyejHGbzh/Ud1mAEMu/MhXgtY0Mbk4K13kJ1pQKE7glv/JTbwp001/9d0x9Cv8xyRMoQN3UDFcMjB96cqTqqm9waDvv6S4AxOljG2qSQsm3Ld0tq1eYLRTphdLW/Ab9WAu5i1ryIiSfwXWK9aCKxjeATVGbcxHH2N+fK5LCSs8RmthYFyZED25FRsZIZxCDW7Y/HVJgI5jTwuklvLyls+Azz1+8UiUoyFrGI7qHFREX4BnVzOdCI+WjNx2SRQii7hBZP7tDeEiU0iyENvUYxxIvA8H2tKk0FuYSsJfYhbQJBSVv6YlnwTggO32SJRunoXtQh008KiQY5VA1Gsr0fjxfafsuUX7g/8LvZvKARlSkP1wOQpbZKXo1Zpc7RM1G9nUv2rlcISbzywDtaN+4Ko3jak0LUaLmPqTbmJYYdEo1kSUEbwXBJxaVrXxvzWFbTi41vhpcaD9kURvuT03b33SV2ZDG3qDASJGNfuahl6EJa3r1O2DI/I5BLzeVW4omR70lktefBuMJjH0vVHuCWzbDoMYWxOJX0Za4a99ii8hRKpKofXnPWEBJdfYW6ZqS165tT99YhyDd92319ntBD/x0PJqZHesgIoOmk89VLeyrVTseSV0OMr7Qfnvue7HWgNraGDhIccKnueC8U+31r+pCuB0dyP/gYm6rMF1gHbup6is4T9/9PEnV0O3pTJgL7nXAmitVAojOKOnnGU098HzsTmLo7Iplv4xznRN0rVJ3pYGC6aP2Ci2Mzn/UIv1NAGkjCi+IFP2n9Z44IPnPREZdXfyEgi+5A0eJqRy5sBoIcvpqiaVhqKXYJCTKRe9mMwk8S6TyDhyanpPwV3fMW4tlLcDBf7OqT/HG10Y65chEj0d+ky0mytur7nfwPQlG+FapZlyeP5hwhp0BQo+KZjNO6abP8IfBTaJ4dxt9kNVSseHuMaw/ux0BRVSsXn68QviOOPvNpW1W9uXSAu1GpNnKdnH1kWoPgGymUCtK0iUspT36F/u1nFso6/gu3ce3g9EvtIGrA/pae7zk57+Q6gN3jMpYqh75jGBzTATBgkqhkiG9w0BCRUxBgQEAQAAADBXBgkqhkiG9w0BCRQxSh5IADAANAAwADQAMwAzADYAZgAtADcAOQA3ADgALQA0AGEAMgA2AC0AOAAyAGEAZAAtAGIANwBjADAAMAAwADMAYQA0AGMAYgAxMF0GCSsGAQQBgjcRATFQHk4ATQBpAGMAcgBvAHMAbwBmAHQAIABTAHQAcgBvAG4AZwAgAEMAcgB5AHAAdABvAGcAcgBhAHAAaABpAGMAIABQAHIAbwB2AGkAZABlAHIwggM/BgkqhkiG9w0BBwagggMwMIIDLAIBADCCAyUGCSqGSIb3DQEHATAcBgoqhkiG9w0BDAEDMA4ECNeK0LuvPAmEAgIH0ICCAvha0L9dGfou/JVS5msokk+IaOu/q/YxJDHXGtLGYRSIyBj2DWnOM88oIOM6L8PVIsM9B49L3HOQKtb4p7QzfkHI+v0vaSSLtWJhk3Mh7jEWfGBppRAGcvy9QVmdKP7YgmTJKbrCdzCD93iBTxZMJoh5dPlCaMXPLxyAaOYkQEOAE3xBRyJDcmU9SSxD2hk8jmuK9DKBig1MokvH5bgQkdbPYw8LqMT55hzpotjg1bHL0UlIha1Ylqh8l0vCZQlyCO6eHEfDfjyQDcJjkCq3NRaCQImIbp6D2sCXPEXBSH6pfjar/VyJmLVKSe7t4xP3dUXXjMnGBVG/jlHAWlVn8naT0/WjREsChL84Y3s4z4J2JyXhS53pf2Iy4UPhKnPTUpvUhm+v1LiQhi+t6qmXiugMVtn2bLyNgxLyi5oJ9TQAZS0M9PjpMtqlU65E/ST/AZHBFS2dsDu4aj8srEscqnD+4JPg1PCadbo8douRBEjLOrz5tTrrDZO46shIYfweIdJ0w3hsnWr1Qpmbnmm8gGfXYBN3fqo+wC5PL7rAHEyAOptvEeZmcPE+5OIM87ef4wuO6IGIEamXkV+dSaaLo4jv4dKeoCnmFifDTioerS1IQDyN5JnRDpWM8cIbD+H00SUDJzbm9vpbNEvlD3rZBZxc1Vip5FYDJMfbCmRndkv/vbhfoH048O3DmbqDdP2xebzdXNieZOZjzmDBl6D922+78HbKgLi780flNHeT9fpI+F3bWURIawQ3B3kgR0LYOskF/EtEI9ChVefjCFQBj1tGWCwyoAt27WvmtIezq0/l3VNe3N3n1iWxWWeSUAo2jjXKKT6czWlHinf5ZXb/pdXf8rcOSslCWlx8LEe+QU08VsDtM8xnL2s14rJ0y0JyNqGW4QikQF9WlPHM22GIR8rdvfpipto9S9XCVxAOB6IUi9T3K32IsmsohDWquS0c+7F8Mnjpo4T4TbAbIygTx0448QLQpaE0MAY7s+XWDeIOCnTLAxSCwU8aMDswHzAHBgUrDgMCGgQUIO1WhoxH9INE4DNuO6Be1qNUo6MEFIvVzBQIke4C/5I4gIxPcZ4aj5laAgIH0A==
                      runtime:
                        subscriptionSecret: c3Vic2NyaXB0aW9uLXNlY3JldA==
                        debuggerPassword: NEtpKStwIjhiMzVVUUcodw==
                        mxAdminPassword: NEtpKStwIjhiMzVVUUcodw==
                        runtimeVersion: 9.24.2
                        environmentVariables:
                          - name: custom-env-variable1
                            value: custom-env-variable1-value
                          - name: custom-env-variable2
                            value: custom-env-variable2-value
                          - name: JAVA_TOOL_OPTIONS
                            value: customJVM
                        customRuntimeSettings:
                          - name: custom-runtime-setting1
                            value: custom-runtime-setting1-value
                          - name: custom-runtime-setting2
                            value: custom-runtime-setting2-value
                      provider:
                        clusterId: a712d8f4-a77c-4189-a211-e0ea1dfde03c
                        namespace: my-namespace
                        namespaceId: b912d8f4-a77c-4189-a211-e0ea1dfde04f
                      annotations:
                        - key: prometheus.io/path
                          value: /metrics
                          annotationType: Pod
                        - key: prometheus.io/port
                          value: '8900'
                          annotationType: Pod
                        - key: prometheus.io/scrape
                          value: 'true'
                          annotationType: Pod
                        - key: ingress-annotation
                          value: ingress-annotation-value
                          annotationType: Ingress
                        - key: service-annotation
                          value: service-annotation-value
                          annotationType: Service
                      services:
                        - name: ephemeral_db
                          plan: OnDemand
                          config: '{type: \"database\"}'
                        - name: minio_sp
                          plan: OnDemand
                          config: '{type: \"storage\"}'
                      runtimeMetricsConfiguration:
                        mode: native
                        interval: PT1H30M
                        mxAgentConfig: config
                        mxAgentInstrumentationConfig: config
    clusterManifest:
      description: The cluster manifest response returned by a get-cluster-manifest request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/clusterManifest'
          examples:
            example-cluster-manifest:
              value:
                manifestVersion: 2.0.0
                cluster:
                  clusterId: 085a0e34-69ec-4c61-9c7d-5cd42554f9f2
                  name: new-cluster
                  clusterType: os
                  operatorType: standard_operator
                  description: This cluster is for testing purposes.
                  totalNamespaces: 0
                  totalEnvironments: 0
                  creator: ' cluster creator'
                  clusterManagers:
                    - email: abc@xxx.com
                      status: Invitation_Sent
                      displayName: member name
    clustersManifests:
      description: The clusters manifests response returned by a get-clusters-manifests request.
      content:
        application/json:
          schema:
            type: object
            properties:
              clusters:
                type: array
                items:
                  $ref: '#/components/schemas/clusterManifest'
          examples:
            example-cluster-manifests:
              value:
                clusters:
                  - manifestVersion: string
                    cluster:
                      clusterId: 085a0e34-69ec-4c61-9c7d-5cd42554f9f2
                      name: new-cluster
                      clusterType: k8s
                      operatorType: global_operator
                      description: This cluster is for testing purposes.
                      totalNamespaces: 0
                      totalEnvironments: 0
                      creator: ' cluster creator'
                      clusterManagers:
                        - email: abc@xxx.com
                          status: Invitation_Sent
                          displayName: member name
    namespaceManifestResponse:
      description: The namespace manifest response returned by a get-namespace-manifest request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/namespaceManifest'
          examples:
            example-namespace-manifest:
              value:
                manifestVersion: string
                namespace:
                  namespaceId: 9fab54b2-39f9-48e4-8ceb-5a7ecbba44e1
                  name: my-namespace
                  namespaceType: standard
                  installationType: Connected
                  secret: 'base64 encoded string, e.g. c3Vic2NyaXB0aW9uLXNlY3JldA=='
                  productTypePCLM: standard
                  plans:
                    - planName: ephemeral
                      planType: OnDemand
                      activate: true
                      planConfig: '{type: "database"}'
                    - planName: minio
                      planType: Dedicated
                      activate: true
                      planConfig: '{type: "storage"}'
                  enableDevelopmentMode: false
                  enableExternalSecretsStore: false
                  membership:
                    - email: string
                      role: Developer
                      status: Invitation_Sent
                      displayName: member name
                      autoAcceptInvite: false
                      permissions:
                        manageEnvironment: false
                        deployApp: true
                        scaleApp: true
                        startApp: true
                        stopApp: true
                        modifyMxAdminPassword: true
                        editAppConstants: true
                        manageAppScheduledEvents: true
                        viewAppLogs: true
                        viewAppAlerts: true
                        viewAppMetrics: true
                        manageAppBackups: true
                        manageDebugger: true
                        manageTLSConfigurations: true
                        manageClientCertificates: true
                        manageCustomEnvVarJVMOpts: true
                        manageCustomRuntimeSettings: true
                        manageLogLevels: true
                        manageRuntimeMetricsConfiguration: true
                  operationalLinks:
                    metricsUrl: 'https://www.exampleurl.com/'
                    alertsUrl: 'https://www.exampleurl.com/'
                    logsUrl: 'https://www.exampleurl.com/'
                    backupsUrl: 'https://www.exampleurl.com/'
                  additionalInformation:
                    componentsVersion:
                      operatorVersion: master
                      repositoryURL: private-cloud.non-prod.registry.mendix.com
                      builderVersion: master
                      storageProvisionerVersion: master
                      metricsSidecarVersion: master
                      m2EESidecarVersion: master
                    internalDetails:
                      operatorSDK: Kubebuilder v3.2.0
                      goRuntimeVersion: go1.18.9_linux/amd64
                      buildBranch: HEAD
                      buildDate: '2023-01-03_14:45:47'
                      buildHash: fee1feb8df3898b37b356281006b2f0acbfa8982
    namespacesManifestsResponse:
      description: The namespaces manifests response returned by a get-namespaces-manifests request.
      content:
        application/json:
          schema:
            type: object
            properties:
              namespaces:
                type: array
                items:
                  $ref: '#/components/schemas/namespaceManifest'
          examples:
            example-namespaces-manifests:
              value:
                namespaces:
                  - manifestVersion: 2.0.0
                    namespace:
                      namespaceId: 9fab54b2-39f9-48e4-8ceb-5a7ecbba44e1
                      name: my-namespace
                      namespaceType: standard
                      installationType: Connected
                      secret: 'base64 encoded string, e.g. c3Vic2NyaXB0aW9uLXNlY3JldA=='
                      productTypePCLM: standard
                      plans:
                        - planName: ephemeral
                          planType: OnDemand
                          activate: true
                          planConfig: '{type: "database"}'
                        - planName: minio
                          planType: Dedicated
                          activate: true
                          planConfig: '{type: "storage"}'
                      enableDevelopmentMode: false
                      enableExternalSecretsStore: false
                      membership:
                        - email: string
                          role: Developer
                          status: Invitation_Sent
                          displayName: member name
                          permissions:
                            manageEnvironment: false
                            deployApp: true
                            scaleApp: true
                            startApp: true
                            stopApp: true
                            modifyMxAdminPassword: true
                            editAppConstants: true
                            manageAppScheduledEvents: true
                            viewAppLogs: true
                            viewAppAlerts: true
                            viewAppMetrics: true
                            manageAppBackups: true
                            manageDebugger: true
                            manageTLSConfigurations: true
                            manageClientCertificates: true
                            manageCustomEnvVarJVMOpts: true
                            manageCustomRuntimeSettings: true
                            manageLogLevels: true
                            manageRuntimeMetricsConfiguration: true
                      operationalLinks:
                        metricsUrl: 'https://www.exampleurl.com/'
                        alertsUrl: 'https://www.exampleurl.com/'
                        logsUrl: 'https://www.exampleurl.com/'
                        backupsUrl: 'https://www.exampleurl.com/'
                      additionalInformation:
                        componentsVersion:
                          operatorVersion: master
                          repositoryURL: private-cloud.non-prod.registry.mendix.com
                          builderVersion: master
                          storageProvisionerVersion: master
                          metricsSidecarVersion: master
                          m2EESidecarVersion: master
                        internalDetails:
                          operatorSDK: Kubebuilder v3.2.0
                          goRuntimeVersion: go1.18.9_linux/amd64
                          buildBranch: HEAD
                          buildDate: '2023-01-03_14:45:47'
                          buildHash: fee1feb8df3898b37b356281006b2f0acbfa8982
                  - manifestVersion: 2.0.0
                    namespace:
                      namespaceId: 7dab54b2-39f9-48e4-8ceb-5a7ecbba44e1
                      name: my-namespace-2
                      installationType: Standalone
                      secret: 'base64 encoded string, e.g. c3Vic2NyaXB0aW9uLXNlY3JldA=='
                      productTypePCLM: standard
                      plans:
                        - planName: ephemeral
                          planType: OnDemand
                          activate: true
                          planConfig: '{type: "database"}'
                        - planName: minio
                          planType: Dedicated
                          activate: true
                          planConfig: '{type: "storage"}'
                      enableDevelopmentMode: false
                      enableExternalSecretsStore: false
                      membership:
                        - email: abc@xxx.com
                          role: Developer
                          status: Invitation_Sent
                          displayName: member name
                          permissions:
                            manageEnvironment: false
                            deployApp: true
                            scaleApp: true
                            startApp: true
                            stopApp: true
                            editAppConstants: true
                            manageAppScheduledEvents: true
                            viewAppLogs: true
                            viewAppAlerts: true
                            viewAppMetrics: true
                            manageAppBackups: true
                            manageDebugger: true
                            manageTLSConfigurations: true
                            manageClientCertificates: true
                            manageCustomEnvVarJVMOpts: true
                            manageCustomRuntimeSettings: true
                            manageLogLevels: true
                            manageRuntimeMetricsConfiguration: true
                      operationalLinks:
                        metricsUrl: 'https://www.exampleurl.com/'
                        alertsUrl: 'https://www.exampleurl.com/'
                        logsUrl: 'https://www.exampleurl.com/'
                        backupsUrl: 'https://www.exampleurl.com/'
                      additionalInformation:
                        componentsVersion:
                          operatorVersion: master
                          repositoryURL: private-cloud.non-prod.registry.mendix.com
                          builderVersion: master
                          storageProvisionerVersion: master
                          metricsSidecarVersion: master
                          m2EESidecarVersion: master
                        internalDetails:
                          operatorSDK: Kubebuilder v3.2.0
                          goRuntimeVersion: go1.18.9_linux/amd64
                          buildBranch: HEAD
                          buildDate: '2023-01-03_14:45:47'
                          buildHash: fee1feb8df3898b37b356281006b2f0acbfa8982
    cliVersionList:
      description: The JSON response returned by a get-cli-versions request.
      content:
        application/json:
          schema:
            type: object
            properties:
              cliVersionList:
                type: array
                items:
                  $ref: '#/components/schemas/cliVersion'
          examples:
            example-cli-version-list:
              value:
                cliVersionList:
                  - operatorVersion: 2.0.0
                    cliVersion: 2.0.0
                    availableOperatingSystems: 'windows, linux, macos'
                    availableArchitectures: 'x86, arm'
                  - operatorVersion: 1.0.0
                    cliVersion: 1.0.0
                    availableOperatingSystems: 'windows, linux, macos'
                    availableArchitectures: x86
    appManifest:
      description: The app manifest response returned by a get-app-manifest request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/appManifest'
    appsManifests:
      description: The apps manifests response returned by a get-apps-manifests request.
      content:
        application/json:
          schema:
            type: object
            properties:
              apps:
                type: array
                items:
                  $ref: '#/components/schemas/appManifest'
  securitySchemes:
    PersonalAccessToken:
      name: Authorization
      type: apiKey
      in: header
      description: 'For more information about requesting and using a token see the [documentation](https://docs.mendix.com/developerportal/community-tools/mendix-profile/#pat).<br/> The header must be set to `MxToken <Your PAT>`.'
  requestBodies:
    environmentManifest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/environmentManifest'
          examples:
            example-environment-manifest:
              $ref: '#/components/examples/EnvironmentManifest'
            example-environment-manifest-with-ephemeral-storage:
              $ref: '#/components/examples/EnvironmentManifestWithEphemeralStorage'
      description: Request body for the environment manifest.
    clusterManifest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/clusterManifest'
          examples:
            example-cluster-manifest:
              $ref: '#/components/examples/ClusterManifest'
      description: Request body for the cluster manifest.
    createNamespaceManifest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createNamespaceManifest'
          examples:
            example-namespace-manifest:
              $ref: '#/components/examples/CreateNamespaceManifestExample'
      description: Request body for the namespace manifest.
    updateClusterManifest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/updateClusterManifest'
          examples:
            example-update-cluster-manifest:
              $ref: '#/components/examples/UpdateClusterManifest'
      description: Request body for manifest used when updating the cluster.
    updateNamespaceManifest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/updateNamespaceManifest'
          examples:
            example-update-namespace-manifest:
              $ref: '#/components/examples/UpdateNamespaceManifestExample'
      description: Request body for the manifest used when updating a namespace.
  examples:
    EnvironmentManifest:
      value:
        manifestVersion: 2.0.0
        environment:
          id: e9m3vf7f
          properties:
            name: my-environment
            production: true
            defaultStudioTarget: true
            secretsStoreEnabled: false
            OverwriteProductTypePCLM: standard
          deployment:
            appUrl: 'https://test.app.url'
            packageId: 045b8cf4-c9cd-41b4-b241-414b87a7f219
            constants:
              - name: MyFirstModule.Constant_Name
                value: '2022-03-10T13:15:00'
            scheduledEvents:
              - name: MyFirstModule.Scheduled_event1
                enabled: true
            appLogLevels:
              - name: MY_LOG_LEVEL
                level: DEBUG
          container:
            state: Ready
            instances: 3
            coreResources:
              limits:
                cpu: '1'
                memory: '0.512'
              requests:
                cpu: '1'
                memory: '0.512'
          network:
            outgoingConnectionCertificate:
              - enabled: true
                password: 'base64 encoded string, e.g.  dGVzdA=='
                certificateType: Client
                key: long base64 encoded .pfx file
          runtime:
            subscriptionSecret: 'base64 encoded string, e.g. c3Vic2NyaXB0aW9uLXNlY3JldA=='
            debuggerPassword: 'base64 encoded string, e.g. c3Vic2NyaXB0aW9uLXNlY3JldA=='
            mxAdminPassword: 'base64 encoded string, e.g. c3Vic2NyaXB0aW9uLXNlY3JldA=='
            runtimeVersion: 9.24.2
            environmentVariables:
              - name: custom-env-variable1
                value: custom-env-variable1-value
            customRuntimeSettings:
              - name: HashAlgorithm
                value: BCRYPT
          provider:
            clusterId: a712d8f4-a77c-4189-a211-e0ea1dfde03c
            namespace: my-namespace
            namespaceId: b912d8f4-a77c-4189-a211-e0ea1dfde04f
          annotations:
            - key: prometheus.io/port
              value: '8900'
              annotationType: Pod
          services:
            - name: ephemeral_db
              plan: OnDemand
              config: '{type: \"database\"}'
          runtimeMetricsConfiguration:
            mode: native
            interval: 'https://docs.mendix.com/refguide/custom-settings/#11-durationinterval-settings'
            mxAgentConfig: 'https://docs.mendix.com/developerportal/deploy/private-cloud-monitor/#configuring-mxagent'
            mxAgentInstrumentationConfig: 'https://docs.mendix.com/developerportal/deploy/private-cloud-monitor/#configuring-mxagent'
    ClusterManifest:
      value:
        manifestVersion: 2.0.0
        cluster:
[...]
