openapi: 3.0.0
info:
  version: '1.0'
  title: customfields-api
  termsOfService: https://www.mendix.com/terms-of-use/
  description: API for managing company custom fields.
  contact:
    name: Mendix Support
    url: 'https://support.mendix.com'
    email: support@mendix.com
servers:
  - url: 'https://customfields-api.home.mendix.com/v1'
security:
  - PersonalAccessToken: []
paths:
  /companies/{company-id}/custom-fields:
    get:
      tags:
        - Companies
      summary: Get custom fields for a company
      description: |
        Returns the list of custom fields for the company.
        The user PAT needs to have the scope `mx:app:customfields:read`.
      operationId: getCompanyCustomFields
      parameters:
        - name: company-id
          in: path
          required: true
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 5
          description: Maximum number of items to return
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
          description: Number of items to skip before starting to collect the result set
      responses:
        '200':
          description: List of custom fields
          content:
            application/json:
              schema:
                type: object
                properties:
                  links:
                    $ref: '#/components/schemas/PaginationLinks'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/CustomField'
        '400':
          $ref: '#/components/responses/Http400'
        '401':
          $ref: '#/components/responses/Http401'
        '404':
          $ref: '#/components/responses/Http404'
        '500':
          $ref: '#/components/responses/Http500'

    post:
      tags:
        - Companies
      summary: Create a custom field for a company
      description: |
        Creates a custom field for the company. The field must include at least 2 inner values.
        Validation: A company will be able to have a maximum of 5 custom fields.
        The user PAT needs to have the scope `mx:app:customfields:write`.
        The user must be a company admin.
        The code of the provided values can be past as an empty string. A code will be generated based on the provided value of the values.
      operationId: createCompanyCustomField
      parameters:
        - name: company-id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomFieldCreate'
      responses:
        '201':
          description: Custom field created
          content:
            application/json:
              schema:
                type: object
                properties:
                  fieldId:
                    type: string
                    description: Unique identifier for the custom field
                  name:
                    type: string
                    description: Name of the custom field
                  values:
                    type: array
                    description: List of values for the custom field
                    items:
                      $ref: '#/components/schemas/CustomFieldValue'
        '400':
          $ref: '#/components/responses/Http400'
        '401':
          $ref: '#/components/responses/Http401'
        '404':
          $ref: '#/components/responses/Http404'
        '409':
          $ref: '#/components/responses/Http409'
        '422':
          $ref: '#/components/responses/Http422'
        '500':
          $ref: '#/components/responses/Http500'
  /custom-fields/{field-id}:
    put:
      tags:
        - CustomFields
      summary: Update a custom field
      description: |
        Updates a custom field.
        The user PAT needs to have the scope `mx:app:customfields:write`.
        The user must be a company admin.
      operationId: updateCustomField
      parameters:
        - name: field-id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomFieldNameUpdate'
      responses:
        '200':
          description: Custom field updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomField'
        '400':
          $ref: '#/components/responses/Http400'
        '401':
          $ref: '#/components/responses/Http401'
        '404':
          $ref: '#/components/responses/Http404'
        '409':
          $ref: '#/components/responses/Http409'
        '500':
          $ref: '#/components/responses/Http500'

    delete:
      tags:
        - CustomFields
      summary: Delete a custom field
      description: Deletes a custom field. The user needs to have the scope `mx:app:customfields:write`. The user must be a company admin.
      operationId: deleteCustomField
      parameters:
        - name: field-id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Custom field deleted
        '401':
          $ref: '#/components/responses/Http401'
        '404':
          $ref: '#/components/responses/Http404'
        '500':
          $ref: '#/components/responses/Http500'
  /custom-fields/{field-id}/values:
    get:
      tags:
        - CustomFields
      summary: Get values for a custom field
      description: |
        Returns the list of values for a custom field. A maximum of 100 values can be returned per page.
        The user PAT needs to have the scope `mx:app:customfields:read`.
      operationId: getCustomFieldValues
      parameters:
        - name: field-id
          in: path
          required: true
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 100
          description: Maximum number of items to return
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
          description: Number of items to skip before starting to collect the result set
      responses:
        '200':
          description: List of values
          content:
            application/json:
              schema:
                type: object
                properties:
                  links:
                    $ref: '#/components/schemas/PaginationLinks'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/CustomFieldValue'
        '400':
          $ref: '#/components/responses/Http400'
        '401':
          $ref: '#/components/responses/Http401'
        '404':
          $ref: '#/components/responses/Http404'
        '500':
          $ref: '#/components/responses/Http500'

    post:
      tags:
        - CustomFields
      summary: Add values to a custom field
      description: |
        Adds values to a custom field.
        Validation: A company allows a maximum of 250 values per custom field.
        The user PAT needs to have the scope `mx:app:customfields:write`.
        The user must be a company admin.
        The code of the provided values can be past as an empty string. A code will be generated based on the provided value of the values.
      operationId: addCustomFieldValues
      parameters:
        - name: field-id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                values:
                  type: array
                  minItems: 1
                  maxItems: 250
                  items:
                    $ref: '#/components/schemas/CustomFieldValueCreate'
      responses:
        '201':
          description: Values added
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomFieldValue'
        '400':
          $ref: '#/components/responses/Http400'
        '401':
          $ref: '#/components/responses/Http401'
        '404':
          $ref: '#/components/responses/Http404'
        '409':
          $ref: '#/components/responses/Http409'
        '422':
          $ref: '#/components/responses/Http422'
        '500':
          $ref: '#/components/responses/Http500'
  /custom-fields/{field-id}/values/{value-id}:
    put:
      tags:
        - CustomFields
      summary: Update a value of a custom field
      description: |
        Updates the value of a custom field.
        The user PAT needs to have the scope `mx:app:customfields:write`.
        The user must be a company admin.
        The code of the provided value can be passed as an empty string. A code will be generated based on the provided value of the values.
      operationId: updateCustomFieldValue
      parameters:
        - name: field-id
          in: path
          required: true
          schema:
            type: string
        - name: value-id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomFieldValueCreate'
      responses:
        '200':
          description: Value updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldValue'
        '400':
          $ref: '#/components/responses/Http400'
        '401':
          $ref: '#/components/responses/Http401'
        '404':
          $ref: "#/components/responses/Http404"
        '409':
          $ref: '#/components/responses/Http409'
        '500':
          $ref: '#/components/responses/Http500'

    delete:
      tags:
        - CustomFields
      summary: Delete a value of a custom field
      description: |
        Deletes a value of a custom field.
        Validation: At least two values must remain.
        The user PAT needs to have the scope `mx:app:customfields:write`.
        The user must be a company admin.
      operationId: deleteCustomFieldValue
      parameters:
        - name: field-id
          in: path
          required: true
          schema:
            type: string
        - name: value-id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Value deleted (at least two values must remain)
        '401':
          $ref: '#/components/responses/Http401'
        '404':
          $ref: '#/components/responses/Http404'
        '409':
          $ref: '#/components/responses/Http409'
        '500':
          $ref: '#/components/responses/Http500'
tags:
  - name: Companies
    description: 'Companies in the Mendix platform'
  - name: CustomFields
    description: 'Company custom fields'

components:
  securitySchemes:
    PersonalAccessToken:
      type: apiKey
      name: Authorization
      in: header
      description: 'MxToken <Your PAT>'
  schemas:
    CustomFieldCreate:
      type: object
      properties:
        name:
          type: string
          description: Name of the custom field
        values:
          type: array
          description: List of values for the custom field
          minItems: 2
          items:
            $ref: '#/components/schemas/CustomFieldValueCreate'
    CustomFieldValueCreate:
      type: object
      properties:
        code:
          type: string
          description: Code for the value
        value:
          type: string
          description: The actual value
    CustomField:
      type: object
      properties:
        fieldId:
          type: string
          description: Unique identifier for the custom field
        name:
          type: string
          description: Name of the custom field
    CustomFieldValue:
      type: object
      properties:
        valueId:
          type: string
          description: Unique identifier for the value
        code:
          type: string
          description: Code for the value
        value:
          type: string
          description: The actual value
    CustomFieldNameUpdate:
      type: object
      properties:
        name:
          type: string
          description: New name for the custom field
    PaginationLinks:
      type: object
      properties:
        self:
          type: string
          description: URL to the current page of results
        next:
          type: string
          description: URL to the next page of results
        prev:
          type: string
          description: URL to the previous page of results
        first:
          type: string
          description: URL to the first page of results
        last:
          type: string  
          description: URL to the last page of results
    PaginationMeta:
      type: object
      properties:
        page:
          type: object
          properties:
            totalElements:
              type: integer
              description: Total number of elements available
            offset:
              type: integer
              description: Number of items skipped before starting to collect the result set
            elements:
              type: integer
              description: Number of elements returned in this page
  responses:
    Http400:
      description: 'Bad Request'
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: object
                description: 'Detailed information on the error'
                properties:
                  message:
                    type: string
                    description: 'A short, human-readable title for the general error type'
                    default: 'Bad Request'
                  detail:
                    type: string
                    description: 'A human-readable description of the specific error'
                  code:
                    type: integer
                    description: 'HTTP status code'
                    default: 400
    Http401:
      description: 'Unauthorized'
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: object
                description: 'Detailed information on the error'
                properties:
                  message:
                    type: string
                    description: 'A short, human-readable title for the general error type'
                    default: 'Unauthorized'
                  detail:
                    type: string
                    description: 'A human-readable description of the specific error'
                  code:
                    type: integer
                    description: 'HTTP status code'
                    default: 401
    Http404:
      description: 'Not Found'
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: object
                description: 'Detailed information on the error'
                properties:
                  message:
                    type: string
                    description: 'A short, human-readable title for the general error type'
                    default: 'Not Found'
                  detail:
                    type: string
                    description: 'A human-readable description of the specific error'
                  code:
                    type: integer
                    description: 'HTTP status code'
                    default: 404
    Http422:
      description: 'Unprocessable content'
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: object
                description: 'Detailed information on the error'
                properties:
                  message:
                    type: string
                    description: 'A short, human-readable title for the general error type'
                    default: 'Exceeding the number of objects allowed'
                  detail:
                    type: string
                    description: 'A human-readable description of the specific error'
                  code:
                    type: integer
                    description: 'HTTP status code'
                    default: 422
    Http409:
      description: 'Conflict'
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: object
                description: 'Detailed information on the error'
                properties:
                  message:
                    type: string
                    description: 'A short, human-readable title for the general error type'
                    default: 'Conflict'
                  detail:
                    type: string
                    description: 'A human-readable description of the specific error'
                  code:
                    type: integer
                    description: 'HTTP status code'
                    default: 409
    Http500:
      description: 'Internal Server Error'
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: object
                description: 'Detailed information on the error'
                properties:
                  message:
                    type: string
                    description: 'A short, human-readable title for the general error type'
                    default: 'Internal Server Error'
                  detail:
                    type: string
                    description: 'A human-readable description of the specific error'
                  code:
                    type: integer
                    description: 'HTTP status code'
                    default: 500