{{- $page := . -}}
{{- $site := .Site -}}
{{- $file := .File -}}
{{- $pdfLink := replace $page.URL ".html" ".pdf" -}}
{{- $spaces := $site.Data.spaces -}}
{{- $paths := split $file.Dir "/" -}}
{{- $main := index $paths 0 -}}
{{- $space := index $spaces $main -}}
{{- with $space -}}
    {{- $spacename := index $space "space" -}}
    {{- if eq $spacename "Expert Best Practices" -}}
        {{- $basename := $file.TranslationBaseName -}}
        {{- if eq $basename "index" -}}
<a href="index.pdf" target="_blank" class="mx__page__header__pdf-button ignore_proofer"><i class="glyphicon glyphicon-download-alt"></i>Download PDF</a>
        {{- else -}}
<a href="{{ $pdfLink }}" target="_blank" class="mx__page__header__pdf-button ignore_proofer"><i class="glyphicon glyphicon-download-alt"></i>Download PDF</a>
        {{- end -}}
    {{- end -}}
{{- end -}}
<a class="mx__sub-header__print-button pdf-print" href="#" title="Download PDF"><i class="glyphicon glyphicon-download-alt"></i>Download PDF</a>
