<div class="col-md-3 col-xs-12 col-md-pull-9 mx__sidebar">
  <div class="sidebar-menu sidebar-menu--loading">
    <div class="row">
      <div class="col-md-12 sidebar-menu__content">
        <div class="menu" data-source="/json/refguide.json"></div>
        <div class="menu" data-source="/json/howto.json"></div>
        <div class="menu" data-source="/json/howtogeneral.json"></div>
        <div class="menu" data-source="/json/releasenotes.json"></div>
        <div class="menu" data-source="/json/apidocs-mxsdk.json"></div>
        <div class="menu" data-source="/json/developerportal.json"></div>
        <div class="menu" data-source="/json/deployment.json"></div>
        <div class="menu" data-source="/json/ats.json"></div>
        <div class="menu" data-source="/json/addons.json"></div>
        <div class="menu" data-source="/json/community.json"></div>
        <div class="seperator"></div>
        <div class="menu" data-source="/json/refguide6.json"></div>
        <div class="menu" data-source="/json/refguide5.json"></div>
        <div class="menu" data-source="/json/howto6.json"></div>
        <div class="menu" data-source="/json/howto50.json"></div>
        <div class="seperator"></div>
        <div class="menu menu--deprecated" data-source="/json/refguide4.json"></div>
        <div class="menu menu--deprecated" data-source="/json/howto40.json"></div>
      </div>
      <div class="col-md-12 sidebar-menu__loader" style="transition: all 0.4s ease-in-out">
        <svg class="svg" width="200" height="200">
          <circle cx="100" cy="100" r="50"></circle>
        </svg>
      </div>
    </div>
  </div>
</div>
