<div class="col-md-3 col-xs-12 col-md-pull-9 mx__sidebar">
  <div class="sidebar-menu sidebar-menu--loading">
    <div class="row">
      <div class="col-md-12 sidebar-menu__content">
        <div class="menu" data-source="releasenotes.json"></div>
        <div class="menu" data-source="refguide.json"></div>
        <div class="menu" data-source="howto.json"></div>
        <div class="menu" data-source="studio.json"></div>
		<div class="menu" data-source="studio-how-to.json"></div>
        <div class="menu" data-source="developerportal.json"></div>
		<div class="menu" data-source="data-hub.json"></div>
        <div class="menu" data-source="appstore.json"></div>
        <div class="menu" data-source="partners.json"></div>
        <div class="menu" data-source="apidocs-mxsdk.json"></div>
        <div class="menu" data-source="addons.json"></div>
        <div class="seperator"></div>
        <div class="menu menu--deprecated" data-source="refguide7.json"></div>
        <div class="menu menu--deprecated" data-source="howto7.json"></div>
        <div class="menu menu--deprecated" data-source="studio7.json"></div>
        <div class="menu menu--deprecated" data-source="refguide6.json"></div>
        <div class="menu menu--deprecated" data-source="howto6.json"></div>
        <div class="menu menu--draft" data-source="product-naming.json"></div>
      </div>
      <div class="col-md-12 sidebar-menu__loader">
        <svg class="svg" width="200" height="200">
          <circle cx="100" cy="100" r="50"></circle>
        </svg>
      </div>
    </div>
  </div>
</div>
