<div class="row">
  <div class="col-md-12">
    <div class="btn-group jumpto_group">
      <button type="button" class="btn btn-default dropdown-toggle jumpto_button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Jump to: <span class="caret jumpto_caret"></span>
      </button>
      <ul class="dropdown-menu jumpto_dropdown">
        {% for jump in site.data.jumpto %}
          <li><a href="{{ jump.url }}">{{ jump.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
