<!-- SEO -->{% strip %}
{% assign history = site.data.history[page.path] %}
{% if page.maintitle %}
  {% assign title = page.maintitle %}
{% else %}
  {% if page.title %}
    {% if page.space %}
      {% if page.space == page.title %}
        {% assign title = page.title | append: ' | ' | append: site.title %}
      {% else %}
        {% assign title = page.title | append: ' - ' | append: page.space | append: ' | ' | append: site.title %}
      {% endif %}
    {% else %}
      {% assign title = page.title | append: ' | ' | append: site.title %}
    {% endif %}
  {% else %}
    {% if page.space %}
      {% assign title = page.space | append: ' | ' | append: site.title %}
    {% else %}
      {% assign title = site.title %}
    {% endif %}
  {% endif %}
{% endif %}

    <title>{{title}}</title>
    <meta property="og:title" content="{{ title }}" />

{% assign seo_description = page.description | default: site.description %}
{% if page.description %}
  {% assign seo_description = seo_description | markdownify | strip_html | normalize_whitespace | escape_once %}
    <meta name="description" content="{{ seo_description }}">
    <meta property="og:description" content="{{ seo_description }}" />
{% endif %}

{% if page.tags %}
    <meta name="keywords" content="{{ page.tags | join: ',' }}">
{% else %}
    <!-- no page tags set -->
{% endif %}

{% if page.url == "/" %}
  {% assign seo_type = "WebSite" %}
{% else %}
  {% assign seo_type = "WebPage" %}
{% endif %}

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | replace:'.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | replace:'.html','' | prepend: site.baseurl | prepend: site.url }}" />

    <meta property="og:site_name" content="{{ site.name }}" />
    <meta property="og:locale" content="{{ site.locale }}" />

    <script type="application/ld+json">
{% if page.url != "/" %}
    {
      "@context": "http://schema.org",
      "@type": {{ seo_type | jsonify }},
      "headline": {{ title | jsonify }},
      "url": {{ page.url | replace:'index.html','' | replace:'.html','' | absolute_url | prepend: site.url | jsonify }}{% if history %},
      "dateModified": {{ history.date | date_to_xmlschema | jsonify }}{% endif %}{% if page.description %},
      "description": {{ seo_description | jsonify }}{% endif %}
    }
{% else %}
    {
      "@context": "http://schema.org",
      "@type": {{ seo_type | jsonify }},
      "headline": {{ title | jsonify }},
      "url": {{ page.url | replace:'index.html','' | replace:'.html','' | absolute_url | prepend: site.url | jsonify }}{% if history %},
      "dateModified": {{ history.date | date_to_xmlschema | jsonify }}{% endif %}{% if page.description %},
      "description": {{ seo_description | jsonify }}{% endif %},
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ site.url }}/search/?q={search_term_string}",
        "query-input": "required name=search_term_string"
      }
    }
{% endif %}
    </script>
{% endstrip %}    <!-- END SEO -->
