.topbar {
  border-bottom: $border-color 1px solid;
  background: $color-lightgrey;

  .search {
    margin: 1em 0.5em;

    .input-group-addon {
      background: #FFF;
      padding-right: $padding-search;
      border-radius: 0px;
    }
    input {
      border-left: 0px;
      border-radius: 0px;
      padding: $padding-search;
      -webkit-box-shadow: none;
              box-shadow: none;
      &.form-control:focus {
        border-color: #ccc;
        -webkit-box-shadow: none;
                box-shadow: none;
      }
    }
  }
}

.breadcrumb {

  margin-bottom: 0;
  background-color: $color-lightgrey;
  line-height: 2em;
  font-size: 12px;

  @media (min-width: 992px){
    line-height: 4em;
  }

  > li {
    float: left;
    max-width: 190px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    &:hover {
      max-width: none;
    }

    &+li:before {
      content: ">"
    }
  }

  a, a:visited {
    color: $color-darkgrey;
    &:focus, &:hover {
      color: $color-blue;
    }
  }
}

@media (min-width: 992px) {
  .col-md-push-3 {

  }
}

.sidebar {
  border-top: $border-color 1px solid;
  @media (min-width: 992px) {
    border-top-width: 0;
    border-right: $border-color 1px solid;
  }
}

.content {
  @media (min-width: 992px) {
    margin-bottom: 40px;
    &:not(.borderless) {
      left: calc(25% - 1px);
      border-left: $border-color 1px solid;
    }
  }
}

.header-link {
  font-size: 29px;
  font-weight: 100;
  margin: 1.5em 0;
  a {
    color: inherit;
    &:hover {
      color: $color-blue;
    }
  }
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: #0595db;
    color: #FFF;
    cursor: pointer;
    border: 0;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    font-size: 25px;
}
#back-to-top i {
  top: 5px;
}
#back-to-top:hover {
    background: #e9ebec;
    color: $base-text-color;
}
#back-to-top.show {
    opacity: 1;
}
