.search {
  &_stats {
    font-size: 35px;
    letter-spacing: -0.75px;
    line-height: 1;
    font-weight: 300;
    margin: 1em 0;
    padding-bottom: 0.5em;
  }
  &-header {
    .stats {
      @extend .search_stats;
      &_time {
        color: #CCC;
        font-size: 0.6em;
        display: inline-block;
      }
    }
  }
  &_hit {
    .media-heading {
      font-size: 16px;
    }
    .media-body {
      border-bottom: 1px solid $border-color;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }
    .text {
      font-size: 13px;
    }
    .space {
      float: right;
      font-size: 12px;
      font-style: italic;
    }
  }
  &_filters {
    margin-top: 3em;
    padding-right: 0.5em;
    &_block {
      background: $color-lightgrey;
      padding: 1em;
      font-size: 13px;
      &_title {
        font-size: 1.1em;
        text-transform: uppercase;
        font-weight: 100;
      }
    }
    .ais-refinement-list {
      &--list {}
      &--label {
        cursor: pointer;
        font-size: 0.9em;
        font-weight: 100;
      }
      &--item {
        @include border-radius(3px);
        color: $base-text-color;
        cursor: pointer;
        padding: 0.2em 0.6em 0 0.6em;
        margin-bottom: 0.3em;
        &:hover {
          background-color: $link-color;
          color: $white;
        }
        &__active {
          background-color: $link-color;
          color: $white;
        }
        // &:after {
        //   content: ' ';
        //   display: block;
        //   width: 100%;
        //   height: 1px;
        //   border-bottom: 1px solid;
        // }
      }
      &--header {}
      &--footer {}
      &--count {
        font-size: 0.9em;
        color: #CCC;
        &:before {
          content: '(';
        }
        &:after {
          content: ')';
        }
      }
      &--checkbox {
        display: none;
      }
      &--body {}
    }
  }
}
.algolia_notfound_results {
  @extend .search_stats;
  margin-bottom: 11em;
}

.algolia__result-highlight {
  font-weight: bold;
}
