.search {
  &-header {
    .stats {
      font-size: 35px;
      letter-spacing: -0.75px;
      line-height: 1;
      font-weight: 300;
      margin: 1em 0;
      padding-bottom: 0.5em;

      &_time {
        color: #CCC;
        font-size: 0.6em;
        display: inline-block;
      }
    }
  }
  &_hit {
    .media-heading {
      font-size: 16px;
    }
    .media-body {
      border-bottom: 1px solid $border-color;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }
    .text {
      font-size: 13px;
    }
    .space {
      float: right;
      font-size: 12px;
      font-style: italic;
    }
  }
  &-filters {
    .ais-refinement-list {
      &--list {}
      &--label {}
      &--item {
        &__active {}
      }
      &--header {}
      &--footer {}
      &--count {
        display: none;
      }
      &--checkbox {}
      &--body {}
    }
  }
}

.algolia__result-highlight {
  font-weight: bold;
}
