$block: 'frontpage';

.#{$block} {
  @include element('featured') {
    @include element('title'){
      font-size: 36px;
      font-weight: 300;
      line-height: 49px;
      color: $color-darker-grey-2;
    }
    @include element('list'){
      list-style: none;
      @include element('item'){
      }
    }
    @include element('link'){
      color: $color-darker-grey-2;
    }
  }
}

.mx__page__content ul.frontpage__featured__list {
  padding-left: 0;
}
