$block: 'frontpage';

.#{$block} {
  @include element('featured') {
    @include element('title'){
      /* font-size was 36px but this wrapped the title */
      font-size: 32px;
      font-weight: 300;
      line-height: 49px;
      color: $color-darker-grey-2;
    }
    @include element('list'){
      list-style: none;
      @include element('item'){
      }
    }
    @include element('link'){
      color: $color-darker-grey-2;
    }
    @include element('container') {
      padding: 0 20px;
      @media (min-width: 1200px) {
      padding-left: 64px;        
    }
  }
  }
}

