$block: 'mx';

.#{$block} {
  @include element('page') {
    position: relative;
    padding: 60px 0 30px 0;

    @include modifier('print') {
      padding: 5em!important;
      font-size: 12px;
      width: 864px!important;
      max-width: none!important;

      .mx__sub-header__print-button,
      .mx__sub-header__edit-button {
        display: none;
      }

      .mx__page__header__title {
        font-size: 28px;
      }

      h2 {
        font-size: 22px;
      }
      h3 {
        font-size: 18px;
      }
      h4 {
        font-size: 16px;
      }
      h5 {
        font-size: 14px;
      }
    };

    @include mq("sm") {
      padding: 60px 0 30px 65px;
    };

    @include mq("md") {
      float: left;
      width: 80%;
      max-width: 80%;
    }

    @include modifier('wide') {
      @include mq("md") {
        float: left;
        width: 100%;
        max-width: 100%;
      }
    }

    @include element('header') {
      @include element('head') {
        margin: 0;
      }
      @include element('title') {
        font-size: 42px;
        letter-spacing: -1.75px;
        line-height: 1;
        font-weight: 300;
        margin: 0;
        color: $color-mendix-blue;
        @include modifier('frontpage') {
          font-size: 48px;
          margin: 0 0 10px;
        }
      }
      @include element('subtitle') {
        font-size: 18px;
        line-height: 42px;
        font-weight: normal;
        margin: 0;
      }
      @include element('sub') {
        display: block;
        @include clearfix();
        width: 100%;
        min-height: 55px;
        border-bottom: 1px solid $border-color;
        margin: 0;
      };
      @include element('nav') {
        display: block;
        width: 100%;
        height: 20px;
        padding: 4px;
      }

      /* .mx__page__header__nav is pushing first h2 element too far down the page, reduce height to zero */
      .mx__page__header__nav{
        height: 0;
        padding: 0;
      }

      @include element('pdf-button') {
        @include clearfix();
        font-size: 12px;
        margin: 0 0 5px 5px;
        display: inline-block;
        float: right;
        i {
          margin-right: 3px;
        }
        &:hover {
          text-decoration: none;
        }
      }
    }

    @include element('content') {

      margin: 0 0 30px;
      line-height: 24px;

      /* originally gave all the elements space above and below - doesn't give a controllable result */
      > * {
        //margin-top: 20px;
        //margin-bottom: 10px;
      }

      blockquote {
        border-left: 4px solid #e8e8e8;
        padding-left: 20px;
        font-size: 14px;  /* Too big - set font size as defaul */
        opacity: .6;
        letter-spacing: -1px;
        font-style: italic;
        margin: 30px 0;
      }

      ul, ol { padding-left: 20px; }

      /* ordered lists inside ordered lists will be displayed using letters */
      ol ol { list-style-type: lower-alpha;}

      /* Standard paragraphs decide how far they are from element above */
      /* defined as margins rather than padding as this is how the rest of the CSS is written */
      p, .alert{
        margin: 0.8em 0 0 0;
      }

      /* Paragraphs inside alerts don't need the extra space - the alert has the space above */
      .alert p {
        margin: 0;
      }

      /* but a curve around the border of the search and changes to 82% to align with featured lists and added a minimum width with @media for it to be 100% on smaller screens*/
      .input-group .form-control {
        border-radius: 4px;  
              
        @media (min-width: 1200px) {
          max-width: 82%;
          
        }
      }

      /* Headers have a slightly larger space above - to make them a bit more obvious without increasing the font size */
      /* Since Mx-dock (20210330) scrolling to anchors leaves anchor under the mx-dock. Changing h2/h3/h4 links */
      /* to resolve this using one of the solutions here: https://stackoverflow.com/questions/10732690/offsetting-an-html-anchor-to-adjust-for-fixed-header */
      h2, h3, h4{
        margin-top: -30px;
        padding-top: 48px;
      }

      /* apply heading anchor trick on h5 as well with smaller top margin*/
      h5 {
        font-size: 16px;
        margin-top: -38px;
        padding-top: 48px;
      }
      h6 {
        font-size: 14px;
        font-weight: bold;
      }

      table {
        width: 100%;
        max-width: 100%;
        border: 1px solid $color-table-border;
        table-layout: fixed;
        font-size: 12px;

        th.has-expand {
          position: relative;
          .expand-table {
            cursor: pointer;
            color: $color-mendix-blue;
            position: absolute;
            top: -10px;
            left: -8px;
            font-size: 15px;
            display: none;
          }
        }

        &:hover {
          th.has-expand {
            .expand-table {
              display: block;
            }
          }
        }

        code {
          font-size: 13px;
        }

        > thead,
        > tbody,
        > tfoot {
          > tr {
            > th,
            > td {
              padding: 8px;
              line-height: 1.42857143; // This comes from Bootstrap
              vertical-align: top;
              border: 1px solid $color-table-border;
              word-wrap: break-word;
            }
          }
        }

        > thead {
          background-color: $color-lightgrey;
        }
      }

      img:not(.overview-block-icon) {
        margin: 10px 0;
        display:block;
        max-width:100%;
        height:auto;
      }

      &.no-title {
        margin-top: 30px;
        &.not-found {
          margin-top: 5em;
          .not-found-suggestion {
            margin: 3em 0;
            .suggestions {
              list-style: none;
              margin: 0 0 1em;
              padding: 0;
              li {
                text-align: center;
              }
            }
          }
        }
      }

      .image-container {
        img {
          display: none;
        }
      }
    }

    @include modifier('frontpage') {
      width: 100%;
      max-width: 100%;
      display: block;
    }

    @include element('frontpage-block') {
      display: block;
      /* The margin and padding were using frontpage-search-block-margins for margin and padding, I changed them for the sections on the front page to be closer to each other */
      margin: 20px 0 0;
      padding: 0 0 40px;
      /* a line on the front page is not needed, we can divide elements with margins and paddings */
      //border-bottom: 1px solid $border-color;
      @include element('404-title') {
        margin: 0 auto;
        display: block;
        text-align: center;        
      }
    }

    .todo {
      position: relative;
      border-width: 2px;
      &:before {
        content: 'todo';
        position: absolute;
        top: -8px;
        left: -1px;
        font-size: 11px;
        font-weight: bold;
        color: #F00;
      }
    }
  }
}
