.topbar--search {
  height: auto;
  .search-group input[type="text"] {
    @include border-radius(4px);
  }
}
.mx__content--search {
  background: $color-white;
}
.search {
  &.row {
    min-height: calc(90vh - 185px);
  }
  .side-border-right {
    border-right: 1px solid $border-color;
    @include mq(sm, max) {
      border-right-width: 0;
    };
  }
  @include element('backlink') {
    margin-left: 1em;
  };
  &_stats {
    font-size: 35px;
    letter-spacing: -0.75px;
    line-height: 1;
    font-weight: 300;
    margin: 1em 0 0;
    padding-bottom: 0.5em;
  }
  &-header {
    .stats {
      @extend .search_stats;
      &_time {
        color: #CCC;
        font-size: 0.6em;
        display: inline-block;
      }
    }
  }
  &-main {
    padding-right: 0;
    @include mq(sm, max) {
      padding-right: 15px;
    };
  }
  &_current-refinements {
    display: block;
    min-height: 30px;

    .ais-current-refined-values {
      @include clearfix();
      &--list {
        @include clearfix();
        float: left;
      }
      &--item {
        float: left;
        background: $color-white;
        border: 1px solid $color-mendix-blue;
        margin-right: 5px;
        font-size: 11px;
        padding: 3px;
        @include border-radius(3px);
      }
      &--link {
        i {
          margin: 0 3px 0 0;
        }
        &, &:hover {
          color: $color-mendix-blue;
        }
      }
      &--clear-all {
        float: left;
        font-size: 11px;
        padding: 4px;
        @include border-radius(3px);
        background: $color-mendix-blue;
        color: $color-white;
      }
    }
  }
  &_hit {
    .media-heading {
      border-top: 1px solid $border-color;
      padding-top: 0.5em;
      font-size: 16px;
    }
    .media-body {
      padding: 0.5em 28px 0 0;
      @include mq(sm, max) {
        padding: 0.5em 0 0;
      };
    }
    .text {
      font-size: 13px;
      line-height: 24px;
    }
    .space {
      float: right;
      font-size: 12px;
      font-style: italic;
    }
  }
  .ais-hits--item:first-child {
    .media-heading {
      border-top-width: 0;
    }
  }
  &_filters {
    position: relative;
    &_block {
      background: $color-white;
      padding: 1em;
      font-size: 13px;
      &_title {
        font-size: 1.1em;
        text-transform: uppercase;
        font-weight: 100;
        border-bottom: 1px solid $border-color;
        padding: 0 0 15px;
      }
    }
    &_reset {
      position: absolute;
      right: 10px;
      top: 22px;
      font-size: 11px;
    }
    .ais-refinement-list {
      &--list {}
      &--label {
        cursor: pointer;
        font-size: 0.9em;
        font-weight: 400;
      }
      $root: &;
      &--item {
        @include border-radius(3px);
        color: $base-text-color;
        cursor: pointer;
        padding: 0.2em 0.6em 0 0.6em;
        margin-bottom: 0.3em;
        &:hover {
          background-color: $link-color;
          color: $white;
        }
        &__active {
          background-color: $link-color;
          color: $white;
          .ais-refinement-list--label {
            font-weight: 400;
          }
        }
      }
      &--header {}
      &--footer {}
      &--count {
        font-size: 0.9em;
        color: #CCC;
        &:before {
          content: '(';
        }
        &:after {
          content: ')';
        }
      }
      &--checkbox {
        display: none;
      }
      &--body {}
    }
    .ais-show-more {
      background-color: $link-color;
      color: $white;
      padding: 0 5px;
      @include border-radius(3px);
      font-size: 11px;
      margin: 0 0 0 7px;
      display: inline-block;
      cursor: pointer;
    }
  }

  &-sidebar {
    padding-top: 3em;
    padding-right: 1.2em;
    @include mq(sm, max) {
      background: $color-white;
      .search_filters_block {
        background: $color-white;
      }
      .search_filters {
        margin-bottom: 1em;
      }
    };
  }

}
.algolia_notfound_results {
  @extend .search_stats;
  margin-bottom: 11em;
}

.algolia__result-highlight {
  font-weight: bold;
}
.search-main.no-results .search_current-refinements {
  margin-top: 90px;
  position: absolute;
}
