h1.page-title{
    font-weight: $font-weight-normal;
    font-size: 2rem;
}

h5.lp{
    font-size: 1rem;
    font-weight: 400;
}

.lp-row{
    margin-bottom: 2rem !important;
}

li.link-list{
    font-size: $font-size-base;
    list-style: none;
    a {
        text-decoration: none;
        &::after {
            content: "→";
            padding-left: 0.25rem;
        }
        &:hover {
            color: $link-hover-color;
            text-decoration: underline;
        }
        color: $secondary;
    }
}

.rn-date{
    color: #FFFFFF;
    font-size: 0.85rem;
}

.td-main main {
    padding: 2rem 2.5rem;
    padding-top:5.25rem !important;
}

.resources{
    background: #171717;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 1.5rem 1rem;
    margin: .05rem;
}

.resources-title{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.125rem;
}

.resources-list{
    font-size: $font-size-base;
    list-style: none;
    line-height: 1.5rem;
    a {
        color: #8AC4FF !important;
    }
}

img.my-icon{
    width: 4rem;
    height: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: -.2rem;
}

img.ToC-icon{
    width: 2.5rem;
    height: 2.5rem;
    float:left;
    margin: 0rem 0.5rem 0rem 0.5rem;
    padding: 0.3rem;
    border-radius: 4px;
    &:hover {
        background-color: $gray-light;
    };
}
img.nav-icon{
    width: 24px;
    height: 24px;
    margin: 0.5rem 1.5rem;
}
h4.card-title{
    color: $gray-900;
    font-weight: 600;
    font-size: 1.25rem;
    border-top: 3px solid;
    padding-top: 1rem;
}

ul.card-text{
    margin-top: 1rem;
    font-size: 1.125rem;
    padding-left: 0rem;
}
div.my-container{
    padding: 0;
    margin: 0;
}

.my-container img{
    border-style: none;
}

.card-body{
    padding:0rem;
}
