//
// Right side toc
//
.td-sidebar-toc {
    border-left: 0; // NK - changed to 0, the actual border moved to td-main main, to fully span height of screen
    font-size: 0.9rem; // NK - decreased
    line-height: 1.2; // NK - decreased

    @supports (position: sticky) {
        position: sticky;
        top: 3rem; // NK - change from docsy theme of 4rem
        height: max-content; // NK - change from docsy theme of calc(100vh - 10rem);
        overflow-y: auto;
    }

    order: 2;
    padding-top: 0.75rem;
    padding-bottom: 1.5rem;
    vertical-align: top;

}

.td-page-meta {
    a {
        display: block;
        font-weight: $font-weight-medium;
    }
}

.td-toc {

    height: calc(100vh - 180px); // NK - added to allow scrolling
    overflow-x:hidden !important; // NK - added to allow scrolling

    a {
        display: block;
        font-weight: $font-weight-light;
        padding-bottom: .25rem;
    }

    li {
        list-style: none;
        display: block;
        border-left: 2px solid transparent; // NK - moved from a and .activeToC to give consistent border size, only color changes when active
    }

    li li {
        margin-left: 0.75rem;  // NK - increased
    }

    #TableOfContents {
        // Hugo's ToC is a mouthful, this can be used to style the top level h2 entries.
        > ul > li > ul > li > a {}

        a {
			// NK - styling for ToC
            color: $gray-800;
			padding-left: 20px;
			padding-bottom: .25rem;
			padding-top: .25rem;

            &:hover {
                color: $blue;
                text-decoration: none;
            }
        }
        // NK - styling for ToC highlighting
		.activeToc {
			font-weight: $font-weight-bold;
			color: $blue;
			border-left-color: $blue;
		}
    }

    ul {
        padding-left: 0;
    }
}