// File to override any Docsy/Bootstrap CSS definition

// _front-page.scss is only custom styling page not from Docsy/Bootstrap
@import "front-page";

@font-face { // LZ - Added for MxDock by request 2024-01-30
    font-family: "noto-sans";
    src: local("noto-sans"), url("/fonts/noto-sans/noto-sans-400.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }
  
  @font-face {
    font-family: "noto-sans";
    src: local("noto-sans"), url("/fonts/noto-sans/noto-sans-400-italic.woff2") format("woff2");
    font-style: italic;
    font-weight: 400;
    font-display: swap;
  }
  
  @font-face {
    font-family: "noto-sans";
    src: local("noto-sans"), url("/fonts/noto-sans/noto-sans-600.woff2") format("woff2");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
  }
  
  @font-face {
    font-family: "noto-sans";
    src: local("noto-sans"), url("/fonts/noto-sans/noto-sans-600-italic.woff2") format("woff2");
    font-style: italic;
    font-weight: 600;
    font-display: swap;
  }
  
  /* Medium */
  @font-face {
    font-family: "Patron";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local("Patron Medium"), local("Patron-Medium"),
      url("/fonts/patron/PatronWEB-Medium.woff2") format("woff2");
  }
  
  /* Light */
  @font-face {
    font-family: "Patron";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local("Patron Light"), local("Patron-Light"),
      url("/fonts/patron/PatronWEB-Light.woff2") format("woff2");
  }
  
  /* The main font is Noto Sans */
  body {
    font-family: "noto-sans", sans-serif;
    font-weight: 400;
    line-height: 1.5; // LZ - line height 1.5 (Regular) according to PDS
  }
  
  /* Page Title H1 use Patron Medium. The rest of headings on your page should use Noto Sans */
  .page-title {
    font-family: "Patron", "noto-sans", sans-serif;
    font-weight: 500;
  }  

// _alert.scss - Style alert boxes (alert layout defined in alert.html)

.alert {
    font-weight: $font-weight-normal; // NK - adjusted for use with multiple Noto Sans weights
    color: inherit;
    border-radius: 4px; // Round corners
    padding: 14px;
    display: flex;
    align-items: flex-start; // Align items at the top of the flexbox
    @each $color, $value in $theme-colors {
        &-#{$color} {
            background-color: map-get($custom-theme-colors, '#{$color}-1'); //Add background color from _variables_project.scss
            border: 1px solid map-get($custom-theme-colors, '#{$color}-2'); //Add border color from _variables_project.scss
        }
    }
}

.alert-content { // Format all alert content
    display: flex; // Nested flexbox container
}

.alert-svg { // Format alert icons
    height:1.3rem;
    width:1.3rem;
    flex-shrink: 0; // Prevent icon from shrinking when text wraps
    margin-right:12px;
}

.alert.has-line-breaks { // Reduce bottom padding of .alert when alert text has line breaks
    padding-bottom: 0px;
}

// Anchor icon styling for anchor.js

.anchor-icon {
    display: none;
    padding: 0rem .3rem .1rem .3rem;
    margin: -.5rem 0rem -.5rem .3rem;
    border-radius: 4px;
}

.anchor-icon:hover {
    background: $gray-light;
}

// _code.scss -  Code formatting

.td-content {
    // Highlighted code.
    .highlight {
        @extend .card;

        display: block;
        pre {
            padding: 1rem .75rem;
        }
    }

    // Inline code
    // DB – expanded selector to include all list children
    p code, li code, table code {
        padding: 0.1em 0.1em;  // NK - made padding smaller
        font-size: $font-size-base; // NK - added to match rest of text
        background-color: rgba($info, 0.07); // NK - changed background color
        border-radius: 0; // DB – Removed radius
    }

    // Code blocks
    pre {
        line-height: 1.25; // NK - added to match code text
        font-size: $font-size-base; // NK - added to match code text
        > code {
            padding: .0rem;
        }
    }
}

// _content.scss - Style Markdown content

.td-content {
    order: 1;
    margin-left: 2rem; // NK - custom edit
    max-width: 90%;  // NK - fixed width of all content to 90%

    p, li, td {
        font-weight: $font-weight-body-text;
    }

    // NK - custom additions for margin styling in lists
    li p:first-child {
        margin-bottom: 0.25rem;
    }
    li p:not(:first-child), li figure, li .alert {
        margin-bottom: 0.5rem;
    }

    > h1 {
        font-family: "Patron"; //LZ - to set the font for the page titles of the docs to Patron according to PDS
        font-weight: $font-weight-normal; // NK - adjusted for use with multiple Noto Sans weights
        margin-bottom: 1rem;
        font-size: 2rem; // NK - custom edit
        line-height: 1.2; // LZ - line height 1.2 (Compact) according to PDS
    }

    > h2 {
        margin-bottom: 1rem;
        font-size: 1.7rem; // NK - custom edit
        font-weight: 600; // LZ - Semi-bold font weight according to PDS
        line-height: 1.2; // LZ - line height 1.2 (Compact) according to PDS
    }

    > h2:not(:first-child) {
        margin-top: 1.5rem; // NK - decrease space between sections
    }

    > h2 + h3 {
         margin-top: 1.5rem; // NK - decrease space between sections
    }

    > h3, > h4, > h5, > h6 {
        margin-bottom: 1rem;
        margin-top: 1.5rem; // NK - decrease space between sections
        font-weight: 600; // LZ - Semi-bold font weight according to PDS
        line-height: 1.2; // LZ - line height 1.2 (Compact) according to PDS
    }

    /* ordered lists inside ordered lists will be displayed using letters */
    ol ol {
        list-style-type: lower-alpha;
        padding-left: 2rem; // NK - decrease indent
    }
    ul ol, ul ul, ol ul {
        padding-left: 2rem; // NK - decrease indent
    }
}

// Style visited links but exclude buttons and left sidebar
a:not(.btn):not(.td-sidebar-link):visited {
    color: $purple;
}

// Add icon after external links in main content (but exclude buttons and breadcrumb and get-started banner)
main a[href*="https://"]:not(.btn):not(.td-breadcrumbs a):not(.get-started)::after {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-left: .2rem;
    vertical-align: sub;
    content: url("/mx-icons/external.svg");
    filter: invert(14%) sepia(99%) saturate(4690%) hue-rotate(225deg) brightness(93%) contrast(95%); // Matches to $link-color (blue-8 from PDS). Keep updated with _variables_project.scss.
}

// Change external link icon color upon hover
main a[href*="https://"]:hover:not(.btn):not(.td-breadcrumbs a)::after {
    filter: invert(15%) sepia(65%) saturate(5388%) hue-rotate(231deg) brightness(79%) contrast(121%); // Matches to $link-hover-color (blue-9 from PDS). Keep updated with _variables_project.scss.
}

.btn {
    border-radius: 0.25rem;
}

// main.scss

// Adjust anchors vs the fixed menu.
@include media-breakpoint-up(md) {
    .td-offset-anchor:target {
        display: block;
        position: relative;
        top: 0; // NK - overrides default Docsy value
        visibility: hidden;
    }

    h2[id]:before,
    h3[id]:before,
    h4[id]:before,
    h5[id]:before {
        display: block;
        content: " ";
        margin-top: 0; // NK - overrides default Docsy value
        height: 0; // NK - overrides default Docsy value
        visibility: hidden;
    }
}

// _main-container.scss

// NK - Sets default offset for any inline anchor from height of dock
html {
    scroll-padding-top: 48px; /* height of sticky header */
}

// The outer page container i.e. common styles for any page.
.td-outer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: absolute; // NK - custom edit
}

.td-main {
    flex-grow: 1;
}

.td-main main {
    padding-top: 4rem;  // DB - Moved out of breakpoint
        @include media-breakpoint-up(md) {
            border-left: 1px solid $gray-border; // NK - moved from toc, to fully span height of screen
            border-right: 1px solid $gray-border; // NK - moved from left menu, to fully span height of screen
        }
    padding-bottom: 0rem;
    }
    // NK - custom addition
    main.lp{
        @include media-breakpoint-up(xl){
            min-width: 800px;
        }
    }

    div.stretch-main{
        height: 100%; // NK - so that all of main (side menus and content get stretched to bottom of page)
    }

// NK - to fully stretch the footer & bottom of dock
div.footer{
    background-color: $gray-100;
    border-top: 1px solid $gray-border;
    border-bottom: 1px solid $gray-border;
    margin: 0 -15px;
    padding: 0.5rem 0;
}
div.mx-dock-footer{
    margin: 0 -15px;
}
div.date-format{
    font-size: 0.8rem;
}

// _nav.scss
//
// Main navbar
//

.td-navbar {
    background: $primary;
    min-height: 4rem;
    margin: 0;
    z-index: 32;

    @include media-breakpoint-up(md) {
        position: fixed;
        top: 0; // NK - copied from Docsy v0.1.0 file
        width: 100%;
    }

    .nav-link {
        text-transform: none;
        font-weight: $font-weight-medium; // NK - adjusted for use with multiple Noto Sans weights
    }

    .td-search-input {
        border: none;
        color: $navbar-dark-color; // NK - copied from Docsy v0.1.0 file
        @include placeholder {
            color: $navbar-dark-color;
        }
    }
}

// Icons
// NK - custom edit
.dropdown-toggle.lang-arrow {
    &::after {
        border-left: 0.4em solid transparent;
        border-right: 0.4em solid transparent;
        border-top: 0.4em solid;
        margin-left: -0.8em;
    }
}

// DB - custom edit, inline SVG icons for shortcode
.inline-svg {
    display: inline-block;
    height:0.9rem;
    width:0.9rem;
    vertical-align:0.05rem;
  }

// Images

// DB – custom edit, add borders around images
main img {
    border-color: #d7d7d7;
    border-width: 1px;
    border-style: solid;
}

// Yiyun - Adjust the stack order so that the clickable images set in body-end.html are not overridden by the left sidebar.

img {
    z-index: 10;
}

.medium-zoom-overlay{
    z-index:10;
    opacity: 0.5 !important;
}

// DB – custom edit, optional class for preventing borders around images
.no-border{
    border-style: none;
}

// _pageinfo.scss - Custom pageinfo styling, used on the banners (similar to the alert styling)

.pageinfo {
    font-weight: $font-weight-medium;
    color: inherit;
    border-radius: 4px;
    margin: 2rem;
    padding: 14px;
    padding-bottom: 0px;
    @each $color, $value in $theme-colors {
        &-#{$color} {
            background-color: map-get($custom-theme-colors, '#{$color}-1'); //Add background color from _variables_project.scss
            border: 1px solid map-get($custom-theme-colors, '#{$color}-6'); //Add border color from _variables_project.scss
        }
    }
}

// Foldable sidebar menu
nav.foldable-nav {

    .td-sidebar-nav__section, .with-child ul {
        list-style: none;
        padding: 0;
        margin: 0;
        text-overflow: ellipsis; // NK - custom edit
        overflow: hidden; // NK - custom edit
        white-space: nowrap; // NK - custom edit
    }

    .with-child, .without-child {
        position: relative;
        padding-left: 1.5em;
    }

    .ul-1 .with-child > label:before {
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-family: $font-awesome-font-name; font-weight: 900; content: "\f0da";
        position: absolute;
        left: 0.1em;
        padding-left: 0.4em;
        padding-right: 0.4em;
        font-size: 1em;
        color: $gray-900;
        transition: all 0s; // NK - disables animation transition time, now switch is instant
        &:hover{
        transform: rotate(90deg);
        }
    }

    .ul-1 .with-child > input:checked ~ label:before { 
        color: $link-color;
        transform: rotate(90deg);
        transition: transform 0s; // NK - disables animation transition time, now switch is instant
    }
}

@media (hover: hover) and (pointer: fine) {
    
    nav.foldable-nav {

        .ul-1 .with-child > label:hover:before { 
            color: $link-color;
            transform: rotate(30deg);
            transition: transform 0s; // NK - disables animation transition time, now switch is instant
        }

        .ul-1 .with-child > input:checked ~ label:hover:before { 
            color: $link-color;
            transform: rotate(60deg) !important;
            transition: transform 0s; // NK - disables animation transition time, now switch is instant
        }
    }
}

// section-index.scss

.section-index {

    .entry {
        padding: 0; // NK - removes padding around entry div
    }
}

// sidebar-toc.scss - Right side toc

.td-sidebar-toc {
    border-left: 0; // NK - changed to 0, the actual border moved to td-main main, to fully span height of screen
    font-size: 0.9rem; // NK - decreased
    line-height: 1.2; // NK - decreased

    @supports (position: sticky) {
        position: sticky;
        top: 3rem; // NK - change from docsy theme of 4rem
        height: max-content; // NK - change from docsy theme of calc(100vh - 10rem);
        overflow-y: auto;
    }

    order: 2;
    padding-top: 0.75rem;
    padding-bottom: 1.5rem;
    vertical-align: top;

}

.toc-title { // DB – added class for ToC title styling 
    color: $gray-800 !important;
}

.td-toc {

    height: calc(100vh - 180px); // NK - added to allow scrolling
    overflow-x:hidden !important; // NK - added to allow scrolling

    li {
        list-style: none;
        display: block;
        border-left: 2px solid transparent; // NK - moved from a and .activeToC to give consistent border size, only color changes when active
    }

    li li {
        margin-left: 0.75rem;  // NK - increased
    }

    #TableOfContents {
        // Hugo's ToC is a mouthful, this can be used to style the top level h2 entries.
        > ul > li > ul > li > a {}

        a {
            // NK - styling for ToC
            color: $gray-800;
            padding-left: 20px;
            padding-bottom: .25rem;
            padding-top: .25rem;

            &:hover {
                color: $link-hover-color;
                text-decoration: underline;
            }
        }

        // Styling for ToC highlighting
        .activeToc {
            border-left-color: $link-color;
        }

        .activeToc > a {
            font-weight: $font-weight-bold;
        }
    }
}

// _sidebar-tree.scss - Left side navigation

.td-sidebar-nav {
    padding-right: 0.5rem;
    margin-right: -5px; // NK - decreased
    margin-left: -15px;
    font-size: 0.95rem; // NK - decreased from inherited
    line-height: 1.2; // NK - decreased from inherited

    @include media-breakpoint-up(md) {
        @supports (position: sticky) {
            max-height: max-content;// NK - changed from calc(100vh - 10rem);
            overflow-y: auto;
        }
    }

    &__section-title {
        display: block;
        font-weight: $font-weight-normal; // NK - adjusted for use with multiple Noto Sans weights

        .active {
            font-weight: $font-weight-bold;
        }

        a {
            color: $gray-900;
        }
    }

    .td-sidebar-link {
        display: block;
        padding-bottom: 0.375rem;

        // NK - overrides special styling for pages with no children
        &__page {
            color: inherit;//$gray-700;
            font-weight: inherit;//$font-weight-light;`
        }
        .link-title:hover {
            text-decoration: underline;
        }
    }
    
    .td-sidebar-link.tree-root{
        font-weight: $font-weight-bold;
        color: $td-sidebar-tree-root-color;
        border-bottom: none;//1px $td-sidebar-tree-root-color solid; // NK - deactivated to align with design proposal
        margin-bottom: 1rem;
    }
}

.td-sidebar {
    @include media-breakpoint-up(md) {
        padding-top: 4rem;
        background-color: $td-sidebar-bg-color;
        padding-right: 1rem;
        border-right: none;//border-right: 1px solid $td-sidebar-border-color; // NK - moved to td-main main, to fully span height of screen
    }
    &__inner {
        order: 0;
        height: calc(100vh - 75px); // NK - added to allow scrolling
        overflow-x: hidden !important; // NK - added to allow scrolling

        @include media-breakpoint-up(md) {
            @supports (position: sticky) {
                position: sticky;
                top: 4rem; // NK - added to work with height change
                z-index: 10;
                height: calc(100vh - 75px);// NK - changed to allow scrolling
            }
        }
    }
}

// _tables.scss - from https://github.com/twbs/bootstrap/blob/v4.6.2/scss/_tables.scss

.table {
    margin-bottom: $spacer;
    color: $table-color;
    background-color: $table-bg; // Reset for nesting within parents with `background-color`.
    position: relative; // NK - added to allow movement of horizontal scroll bar, when overlaping with header below
    z-index: 2; // NK - added to allow movement of horizontal scroll bar, when overlaping with header below
  
    th,
    td {
      padding: 0.75rem 0.75rem; // YL - set bigger padding values
      vertical-align: top;
      border: $table-border-width solid $table-border-color; // NK - added borders to tables
      font-size: 0.8rem; // NK - smaller font size
  
      ul, ol > ul li, > ol li {
          margin-bottom: .25rem;  // NK - removes margin padding at end of list item in table cell
      }
    }
  
    thead th {
      vertical-align: bottom;
      border-bottom: calc(#{$table-border-width} * 2) solid $table-border-color;  // NK - added borders to tables
      border-top: $table-border-width solid $table-border-color;
      border-left: $table-border-width solid $table-border-color;
      border-right: $table-border-width solid $table-border-color;
    }
  
    tbody + tbody {
      border: calc(#{$table-border-width} * 2) solid $table-border-color; // NK - added borders to tables
    }
  }

  // Responsive tables
  //
  // Generate series of `.table-responsive-*` classes for configuring the screen
  // size of where your table will overflow.
  
  .table-responsive {
    @each $breakpoint in map-keys($grid-breakpoints) {
      $next: breakpoint-next($breakpoint, $grid-breakpoints);
      $infix: breakpoint-infix($next, $grid-breakpoints);
  
      &#{$infix} {
        @include media-breakpoint-down($breakpoint) {
          display: block;
          width: 90%; // NK - adjusted width to match rest of content
          overflow-x: auto;
          -webkit-overflow-scrolling: touch;
  
          // Prevent double border on horizontal scroll due to use of `display: block;`
          > .table-bordered {
            border: 0;
          }
        }
      }
    }
  }

// _utilities.scss
  .td-max-width-on-larger-screens {
    @include media-breakpoint-up(lg) {
        max-width: 100%; // NK - changed from 80%, to fill up more of the screen
    }

}

// MvM/YL Max width was only 80% and looked horrible. Making the tabs full width.
.tab-content {
    .tab-pane {
      .highlight {
        margin: 0rem 0 0rem 0;
        border: none;
        max-width: 100%;
      }
      margin-top: 0rem;
      margin-bottom: 1.5rem;
      max-width: 100%;
      border-left: 1px solid rgba(0, 0, 0, 0.125);
      border-right: 1px solid rgba(0, 0, 0, 0.125);
      border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }
  }

  // Footer styling
 .mx-footer {
         display: flex;
         align-items: center;
         justify-content: center;
         gap: 0.5rem;
         flex-wrap: wrap;
         background-color: $gray-100;
         color: rgba(10, 19, 36, 0.7);
         font-size: 0.75rem;
         text-align: center;
         border-top: 1px solid $gray-300;
         padding: 1rem;
         font-family: 'noto-sans', 'Noto Sans', sans-serif;
   }
    
   .mx-footer__copyright {
         margin: 0;
   }
    
   .mx-footer__link {
         color: rgba(10, 19, 36, 0.7);
         text-decoration: none;
         white-space: nowrap;
         border-radius: 0.125rem;
   }
    
   .mx-footer__links-list {
         list-style: none;
         padding: 0;
         display: flex;
         align-items: center;
         justify-content: center;
         gap: 0.5rem;
         flex-wrap: wrap;
         margin: 0;
    
         > li::before {
               content: '';
               border-left: 1px solid $gray-300;
               margin-right: 0.5rem;
         }
   }
    
   .mx-footer__link:hover {
         color: $link-hover-color;
         text-decoration: underline;
   }
    
   .mx-footer__link:focus {
         outline: none;
   }
    
   .mx-footer__link:focus-visible {
         outline: 2px solid $info-6;
         outline-offset: 2px;
    }

   .footer .container {
    text-align: center;
}


//_badge.scss

.badge-pill {
    border-radius: 4px;
    padding: 4px 4px 3px 4px;
    margin-left: 2px;
}

.badge-draft {
    background-color: $warning-9;
  }

.badge-beta {
    color: $gray-900;
    background-color: $gray-500;
}

.badge-lts {
    background-color: $success-9;
}

.badge-mts {
    background-color: $info-8;
}

.badge-deprecated {
    background-color: $gray-100;
    border: solid 1px $gray-500;
    color: $gray-900;
}

.badge-recommended {
    border: solid 1px $success-9;
    color: $success-9;
}

.badge-react {
    background-color: $info-1;
    color: $info-7;
}

// Swagger styling

.swagger-ui .info .title,
.swagger-ui .model-title {
    font-family: $font-family !important;
    color: $secondary;
}

.swagger-ui .info a {
    font-family: $font-family !important;
    color: $link-color !important;
}

.swagger-ui .info .title small pre {
    background: transparent;
 }

.swagger-ui .servers>label select {
    margin-top: 1.5rem;
}

.swagger-ui .model-title {
    font-size: $font-size-base !important;
}

.swagger-ui .renderedMarkdown p,
.swagger-ui table tr td,
.swagger-ui .opblock-tag,
.swagger-ui .opblock-description-wrapper p,
.swagger-ui .opblock .opblock-summary-description,
.swagger-ui .opblock .opblock-section-header h4 {
    font-family: $font-family !important;
}

.swagger-ui .model-box-control:focus,
.swagger-ui .models-control:focus,
.swagger-ui .opblock-summary-control:focus {
    outline: transparent !important;
}

.swagger-ui table tbody tr td {
    padding: .5rem !important;
}

.swagger-ui .renderedMarkdown code {
    padding: 0rem !important;
    font-size: $font-size-base !important;
    color: $primary !important;
}

// Numbered headings, from https://github.com/google/docsy/issues/843#issuecomment-1016311098 (based on https://codingnconcepts.com/hugo/auto-number-headings-hugo/)

:root {
    // When printing a whole section that contains multiple pages, each page has a h1
    // so you end up with multiple nested h1s each with h2+ under them.
    // layout/partials/print/content.html adds numbering for all the h1s but also
    // sets the base number for the h1 into this variable so we can use it to
    // number all the h2+ headings.
    --base-section-num: "";
  }
  
  // reset counter for a heading level when its parent level is encountered */
  body {counter-reset: h2}
  h1 {counter-reset: h2}
  h2 {counter-reset: h3}
  h3 {counter-reset: h4}
  h4 {counter-reset: h5}
  h5 {counter-reset: h6}
  
  // prepend the counter value before the heading
  // DB - Exclude pages where numberless_headings:true
  body:not(.numberless_headings) h2[id]::before {
    display: inline;
    visibility: visible;
    counter-increment: h2; 
    content: var(--base-section-num,"") counter(h2) " ";
  }
  
  // DB - Exclude headers in Swagger reference and pages where numberless_headings:true
  body:not(.numberless_headings) h3[id]:not(.opblock-tag)::before {
    display: inline;
    visibility: visible;
    counter-increment: h3; 
    content: var(--base-section-num,"") counter(h2) "." counter(h3) " ";
  }
  
  // DB - Exclude pages where numberless_headings:true
  body:not(.numberless_headings) h4[id]::before {
    display: inline;
    visibility: visible;
    counter-increment: h4; 
    content: var(--base-section-num,"") counter(h2) "." counter(h3) "." counter(h4) " ";
  }
  
  // DB - Exclude pages where numberless_headings:true
  body:not(.numberless_headings) h5[id]::before {
    display: inline;
    visibility: visible;
    counter-increment: h5; 
    content: var(--base-section-num,"") counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) " ";
  }
  
  // DB - Exclude pages where numberless_headings:true
  body:not(.numberless_headings) h6[id]::before {
    display: inline;
    visibility: visible;
    counter-increment: h6; 
    content: var(--base-section-num,"") counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) " ";
  }
  
  // Reset the counter for the right TOC items
  .td-toc ul { 
    counter-reset: item ;
  }
  
  // DB - Exclude pages where numberless_headings:true
  body:not(.numberless_headings) .td-toc li a:before { 
    content: counters(item, ".") " "; 
    counter-increment: item ;
  }