// Page for defining variables (colors, values, etc.) to be referenced by other SCSS files

$enable-gradients: true; // TODO: consider removing this duplicate variable from this custom file
$enable-shadows: true; //TODO: consider removing this duplicate variable from this custom file

// Theme colors

// Changed almost all colors to better match Mendix palette
// Codes taken mostly from PDS (https://designsystem.mendix.com)
// See also filters in _styles_project.scss if any of these colours is changed

$primary: #146FF4; // MX Blue (Blue-7 from PDS) YL - updated the Mendix Blue color to its latest version in MX 10
$primary-light: #47A9FF; // DB - Blue-5 from PDS
$secondary: #0A1325; // Gray-10 from PDS (MxDock color)
$success: #0D990D; // DB - Green-8 from PDS
$info: #146FF4; // MX Blue YL - updated the Mendix Blue color to its latest version in MX 10
$warning: #C97800; // DB - Yellow-8 from PDS
$danger:  #D31E23; // DB - Red-7 PDS
$white: #fff; // YL - Override the default color defined in _variables_forward.scss
$light: #99D0FF; // DB - Blue-3 from PDS
$dark: #0A1325; // Gray-10 from PDS (MxDock color)
$blue: #146FF4; // YL - Mendix Blue in SP 10; Override the default color defined in _variables_forward.scss
$gray-100: #f7f7f7;
$gray-200: #f2f2f3;
$gray-light: $gray-200;
$gray-300: #e7e7e9; // YL - Override the default color defined in _variables_forward.scss
$gray-400: #d9dbdd;
$gray-500: #c1c3c8;
$gray-border: $gray-500;
$gray-600: #9ea2a9; // YL - Override the default color defined in _variables_forward.scss
$gray-700: #6b707b;
$gray-800: #535965;
$gray-900: #2f3646;
$black: #000; // YL - Override the default color defined in _variables_forward.scss

$info-1: #dceefe;
$info-2: #c2e2ff;
$info-3: #99d0ff;
$info-4: #6ebdff;
$info-5: #47a9ff;
$info-6: #298efb;
$info-7: #146ff4;
$info-8: #064ae4;
$info-9: #0123c6;
$info-10: #0006ab;

$success-1: #e1fae1;
$success-2: #b8f3b8;
$success-3: #92ee92;
$success-4: #6ce66c;
$success-5: #4fd84f;
$success-6: #31c431;
$success-7: #1db11d;
$success-8: #0d990d;
$success-9: #0a7d0a;
$success-10: #076407;

$warning-1: #fff2cf;
$warning-2: #ffe9ac;
$warning-3: #ffde84;
$warning-4: #ffd45d;
$warning-5: #fcc73a;
$warning-6: #f1b00b;
$warning-7: #e39600;
$warning-8: #c97800;
$warning-9: #a05700;
$warning-10: #803600;

$danger-1: #ffe5e9;
$danger-2: #fec3c3;
$danger-3: #fd9c9d;
$danger-4: #fd7072;
$danger-5: #fb4a4c;
$danger-6: #eb2c30;
$danger-7: #d31e23;
$danger-8: #bc1622;
$danger-9: #9e051b;
$danger-10: #780328;

$purple: #4701d4;

$custom-theme-colors: (
  "info-1":       $info-1,
  "info-2":       $info-2,
  "info-3":       $info-3,
  "info-4":       $info-4,
  "info-5":       $info-5,
  "info-6":       $info-6,
  "info-7":       $info-7,
  "info-8":       $info-8,
  "info-9":       $info-9,
  "info-10":      $info-10,
  "success-1":    $success-1,
  "success-2":    $success-2,
  "success-3":    $success-3,
  "success-4":    $success-4,
  "success-5":    $success-5,
  "success-6":    $success-6,
  "success-7":    $success-7,
  "success-8":    $success-8,
  "success-9":    $success-9,
  "success-10":   $success-10,
  "warning-1":    $warning-1,
  "warning-2":    $warning-2,
  "warning-3":    $warning-3,
  "warning-4":    $warning-4,
  "warning-5":    $warning-5,
  "warning-6":    $warning-6,
  "warning-7":    $warning-7,
  "warning-8":    $warning-8,
  "warning-9":    $warning-9,
  "warning-10":   $warning-10,
  "danger-1":     $danger-1,
  "danger-2":     $danger-2,
  "danger-3":     $danger-3,
  "danger-4":     $danger-4,
  "danger-5":     $danger-5,
  "danger-6":     $danger-6,
  "danger-7":     $danger-7,
  "danger-8":     $danger-8,
  "danger-9":     $danger-9,
  "danger-10":    $danger-10,
  "$purple":      $purple,
);


// UI element colors

$border-color: $gray-200; // NK - changed to better align to Figma Docs mockup
$td-sidebar-bg-color: $gray-light;//rgba($primary, 0.03) !default;

// Background colors for the sections on home page etc. It is a paint by number system, starting at 0, where the number is taken from the shortcode's ordinal
// if not provided by the user.
// These colors are all part of the theme palette, but the mix is fairly random to create variation. This can be overridden by the project if needed.
$td-box-colors: $dark, $primary, $secondary, $info, $primary-light, $gray-600, $success, $warning, $dark, $danger, $primary, $secondary, !default;

$link-color: $info-8;
$link-hover-color: $info-9;

// Fonts

$google_font_name: "Noto Sans"; // NK - changed to Mendix font
$google_font_family: "Noto+Sans:ital,wght@0,400;0,600;1,400;1,600"; // MvM - changed by request in #docs 2023-12-11
$web-font-path: "https://fonts.googleapis.com/css2?family=#{$google_font_family}&display=swap"; // NK - changed to Mendix font
$font-family: "Noto Sans"; // NK - changed to Mendix font

$font-family-base: $font_family; // NK - changed to Mendix font
$font-size-base: 0.875rem; // NK - if we want 14px default -> 0.875rem
$line-height-base: 1.4; // NK - changed

// Tooltip
$tooltip-bg: $secondary;
