/*

Bootstrap variables overrides for theme.
See https://github.com/twbs/bootstrap/pull/23260
*/

@fa-font-path :        "../webfonts";

// Bootstrap flags. For more, see https://getbootstrap.com/docs/4.0/getting-started/theming/
$enable-gradients: true !default;
$enable-rounded: true !default;
$enable-shadows: true !default;

// Theme flags.

$td-enable-google-fonts: true !default;

// Theme colors

// NK - changed almost all colors to better match Mendix palette
// Codes taken from https://www.mendix.design/guidelines

$primary: #0CABF9 !default; // MX Blue NK - changed primary blues to be Mendix Blue
$primary-light: lighten($primary, 75%) !default;
$secondary: #0A1325 !default; // MX Midnight 100 (MxDock color)
$success: #77DD77 !default; // MX Green
$info: #0CABF9 !default; // MX Blue
$warning: #FACA4A !default; // MX Yellow
$danger: #FF6161 !default; // MX Coral
$white: #fff !default;
$light: #D3F3EE !default;

$dark: #0A1325 !default; // MX Midnight 100 (MxDock color)
$blue: #0CABF9 !default; // MX Blue
$orange: #BA5A31 !default;
$gray-light: #F3F3F4 !default; // NK - added for design proposal
$gray-100: #F8F8F8 !default; // NK - changed to better align to Figma Docs mockup
$gray-200: #E7E7E9 !default; // NK - changed to better align to Figma Docs mockup
$gray-300: #dee2e6 !default;
$gray-400: #E6E7E9 !default; // MX Midnight 10 
$gray-500: #CED0D3 !default; // MX Midnight 20 
$gray-border: #C2C4C9 !default; // NK - added for design proposal
$gray-600: #9DA1A8 !default; // MX Midnight 40 
$gray-700: #6C717C !default; // MX Midnight 60 
$gray-800: #3B4251 !default; // MX Midnight 80 
$gray-900: #0A1325 !default; // MX Midnight 100 
$black: #000 !default;

$code-color: darken($secondary, 20%) !default;

// UI element colors

$breadcrumb-bg: $white !default; // NK - added to override Docsy grey
$border-color: $gray-200 !default; // NK - changed to better align to Figma Docs mockup
$td-sidebar-tree-root-color: $secondary !default; // NK - switched top left nav bar link and line color to secondary
$td-sidebar-bg-color: $gray-light !default;//rgba($primary, 0.03) !default;
$td-sidebar-border-color: $gray-border !default;

// Background colors for the sections on home page etc. It is a paint by number system, starting at 0, where the number is taken from the shortcode's ordinal
// if not provided by the user.
// These colors are all part of the theme palette, but the mix is fairly random to create variation. This can be overridden by the project if needed.
$td-box-colors: $dark, $primary, $secondary, $info, $primary-light, $gray-600, $success, $warning, $dark, $danger, $primary, $secondary, $primary-light, $info !default;

$link-color: $blue !default; // NK - removed darken color
$link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: none !default;

// Fonts

$google_font_name: "Noto Sans" !default; // NK - changed to Mendix font
$google_font_family: "Noto+Sans:ital,wght@0,400;0,500;0,700;1,400" !default; // NK - changed to Mendix font
$web-font-path: "https://fonts.googleapis.com/css2?family=#{$google_font_family}&display=swap"; // NK - changed to Mendix font
$font-family: "Noto Sans"; // NK - changed to Mendix font
$td-fonts-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

@if $td-enable-google-fonts {
    $td-fonts-serif: prepend($td-fonts-serif, "#{$google_font_name}");
}

$font-family-sans-serif: $td-fonts-serif !default;

$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base: $font_family !default; // NK - changed to Mendix font
$font-size-base: 0.875rem !default; // NK - if we want 14px default -> 0.875rem
$line-height-base: 1.4 !default; // NK - changed

// Font weights

$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-bold: 700 !default;

$font-weight-body-text: $font-weight-normal !default;
$headings-font-weight: $font-weight-normal !default; // NK - adjusted weight

// Heading sizes

$h1-font-size: $font-size-base * 2.25 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.5 !default;
$h4-font-size: $font-size-base * 1.35 !default;
$h5-font-size: $font-size-base * 1.15 !default;
$h6-font-size: $font-size-base !default;

// Display styles

$display1-weight: $font-weight-bold !default;
$display2-weight: $font-weight-bold !default;
$display3-weight: $font-weight-bold !default;
$display4-weight: $font-weight-bold !default;
$display1-size: 3rem !default;
$display2-size: 2.5rem !default;
$display3-size: 2rem !default;
$display4-size: 1.75rem !default;

// Space

$spacer: 1rem;
$td-block-space-top-base: 4 * $spacer !default;
$td-block-space-bottom-base: 4 * $spacer !default;

// Pagination

$pagination-color: $gray-600 !default;
$pagination-border-color: rgba($black, 0.1) !default;
$pagination-active-border-color: darken($primary, 5%) !default;
$pagination-disabled-color: $gray-300 !default;

// Navbar

$navbar-dark-color: rgba($white, 0.75) !default;
$navbar-dark-hover-color: rgba($white, 0.5) !default;
$navbar-dark-active-color: $white !default;
$navbar-dark-disabled-color: rgba($white, 0.25) !default;

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light".
$yiq-contrasted-threshold: 200 !default;

// NK - for changes to grid layout of pages
// Grid columns
//
// Set the number of columns and specify the width of the gutters.

// $grid-columns:                12 !default;
// $grid-gutter-width:           50px !default;
// $grid-row-columns:            6 !default;
