
/* Base */
/* ----------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;
  background-color: #fdfdfd;
  color: $base-text-color;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover   { color: #000; text-decoration: underline; }
}

.post-content {

  &.no-title {
    margin-top: 30px;
    &.not-found {
      margin-top: 5em;
      .not-found-suggestion {
        margin: 3em 0;
        .suggestions {
          list-style: none;
          margin: 0 0 1em;
          padding: 0;
          li {
            text-align: center;
          }
        }
      }
    }
  }

  table {
    width: 100%;
    max-width: 100%;
    border: 1px solid #ddd;

    > thead,
    > tbody,
    > tfoot {
      > tr {
        > th,
        > td {
          padding: 8px;
          line-height: 1.42857143; // This comes from Bootstrap
          vertical-align: top;
          border: 1px solid #ddd;
        }
      }
    }

    > thead {
      background-color: $color-lightgrey;
    }
  }

  img:not(.overview-block-icon) {
    margin: 10px 0;
    display:block;
    max-width:100%;
    height:auto;
  }
}

/* Utility */

.wrap:before,
.wrap:after { content:""; display:table; }
.wrap:after { clear: both; }
.wrap {
  max-width: 800px;
  padding: 0 30px;
  margin: 0 auto;
  zoom: 1;
}


/* Layout Styles */
/* ----------------------------------------------------------*/

.github-icon-svg,
.twitter-icon-svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
}


/* Page Content styles */
/* ----------------------------------------------------------*/

.page-content {
  padding: 30px 0;
  background-color: #fff;
}


/* Home styles */
/* ----------------------------------------------------------*/

.home h1 { margin-bottom: 25px; }

.posts { list-style-type: none; }

.posts li { margin-bottom: 30px; }

.posts .post-link {
  font-size: 24px;
  letter-spacing: -1px;
  line-height: 1;
}

.posts .post-date {
  display: block;
  font-size: 15px;
  color: #818181;
}


/* Post styles */
/* ----------------------------------------------------------*/

.post-header { margin: 10px 0 0; }

.post-header h1 {
  font-size: 42px;
  letter-spacing: -1.75px;
  line-height: 1;
  font-weight: 300;
}

.post-header .meta {
  font-size: 15px;
  color: #818181;
  margin-top: 5px;
}

.post-content {
  margin: 0 0 30px;

  > * {
    //margin-top: 20px;
    margin-bottom: 10px;
  }

  blockquote {
    border-left: 4px solid #e8e8e8;
    padding-left: 20px;
    font-size: 18px;
    opacity: .6;
    letter-spacing: -1px;
    font-style: italic;
    margin: 30px 0;
  }

  ul, ol { padding-left: 20px; }

  h5 {
    font-size: 16px;
  }
}

.post {

  pre {
      font-size: 0.9em;
      @include border-radius(0);
      border-color: #DDD;
  }

  ul, ol { margin-left: 1.35em; }
}

@media screen and (max-width: 600px) {

  .post-header h1 { font-size: 36px; }
  .post-content h2 { font-size: 28px; }
  .post-content h3 { font-size: 22px; }
  .post-content h4 { font-size: 18px; }
  .post-content blockquote { padding-left: 10px; }
  .post-content ul,
  .post-content ol { padding-left: 10px; }

}
