
/* Base */
/* ----------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
}

html, body { height: 100%; }

body {
  font-family: $font-base;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;
  background-color: $color-background-grey;
  @include mq("sm", max) {
    background-color: $color-white;
  }
  color: $base-text-color;
}

a {
  color: $color-mendix-blue;
  text-decoration: none;
  transition: all 0.2s ease;
  &:hover, &:focus {
    color: #ea9629;
    text-decoration: none;
  }
}

.post-content {


}

/* Utility */

.wrap:before,
.wrap:after { content:""; display:table; }
.wrap:after { clear: both; }
.wrap {
  max-width: 800px;
  padding: 0 30px;
  margin: 0 auto;
  zoom: 1;
}

.post {

  pre {
      font-size: 0.9em;
      @include border-radius(0);
      border-color: #DDD;
  }

  ul, ol { margin-left: 1.35em; }
}

@media screen and (max-width: 600px) {

  .mx__page__header__title { font-size: 36px; }
  .mx__page__content h2 { font-size: 28px; }
  .mx__page__content h3 { font-size: 22px; }
  .mx__page__content h4 { font-size: 18px; }
  .mx__page__content blockquote { padding-left: 10px; }
  .mx__page__content ul,
  .mx__page__content ol { padding-left: 10px; }

}

code {
  color: $color-code-font;
  background: $color-code-background;
  border: 1px solid $color-code-border;
  font-family: $font-code;
  font-size: 15px;
}

@include mq('md') {
  .modal-xl {
    width: 1200px;
  }
};

.modal-xl {
  table {
    table-layout: fixed;
    font-size: 12px;
    .expand-table {
      display: none;
    }
    img {
      max-width: 100%;
    }
    > thead,
    > tbody,
    > tfoot {
      > tr {
        > th,
        > td {
          padding: 8px;
          line-height: 1.42857143; // This comes from Bootstrap
          vertical-align: top;
          border: 1px solid $color-table-border;
          word-wrap: break-word;
        }
      }
    }
  }
}

.mx-developer__link-block__link a, .mx-developer__link-block__link a:active, .mx-developer__link-block__link a:visited {
  font-weight: 500;
}
