::-ms-clear {
  display: none;
}

.form-control-clear {
  z-index: 10;
  pointer-events: auto;
  cursor: pointer;
}

.header-link {
  font-size: 29px;
  font-weight: 100;
  margin: 1.5em 0;
  a {
    color: inherit;
    &:hover {
      color: $color-blue;
    }
  }
}

.navbar-brand {
  display: block;
  min-height: 84px;
  float: left;
  padding: 0;
  line-height: 84px;
  img {
    height: 40px;
    width: auto;
    display: inline-block;
    vertical-align: middle;
  }
}

.btn-primary {
  @include border-radius(2px);
  border-width: 0px;
}

.article-info {
  margin: 2em 0 0;
}
