body.iframe {
    background: #FFF;
    .mx__toc {
        display: none;
    }
    .mx__background {
        display: none;
    }
    .mx__main {
        max-width: 100%;
        border-left-width: 0;
    }
    .mx__page {
        width: 100%!important;
        max-width: 100%!important;
        padding: 30px;
    }
    .mx-developer__header {
        display: none;
    }
    .mx-developer__footer {
        padding: 0;
    }
    .mx__sub-header__edit-button {
        display: none;
    }
    .mx-developer__footer__row--links {
        display: none;
    }
}

body.nolinks {
    * {
        pointer-events: none!important;
    }
}
