$padding-menu: 25px;

.sidebar-menu {

  padding: $padding-menu 0;

  .menu {
    font-size: 13px;

    .category-title {
      color: $link-color;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .link-icon {
      float: left;
      line-height: 1;
      position: relative;
      top: 4px;
      display: inline-block;
      font-family: 'Glyphicons Halflings';
      font-style: normal;
      font-weight: 400;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      width: 15px;
      height: 1px;
      font-size: 12px;

      &:before {
        content: ' '
      }

      &-menu {
        &:before {
          content: "\e258";
        }
      }
    }

    .expand-link {
      color:$link-color;
      &:focus {
        color:$link-color;
      }

      &[aria-expanded="true"] .link-icon-menu:before {
        content: "\e259";
      }

      &.collapsed,
      &[aria-expanded="false"] {
        .link-icon-menu:before {
          content: "\e258";
        }
      }
    }

    .category {

      a {
        &.sub-active {
          font-weight: bold;
        }
        &.active {
          color: #000;
          font-weight: bold;
          .category-title {
            color: #000;
            font-weight: bold;
          }
        }
      }

      ul {
        list-style: none;
        padding-left: 15px;
        margin-bottom: 0;
        li {
          margin:2px 0;
        }
      }

    }
  }
}

.jumpto {
  &_group {
    margin-bottom: 10px;
    width: 100%;
  }
  &_button {
    border-radius: 0px;
    color: #949494;
    width: 100%;
    text-align: left;
    font-weight: 100;
  }
  &_dropdown {
    border-radius: 0px;
    width: 100%;
    margin: -1px 0 0;
    font-size: 12px;

    > li > a {
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 3px 12px;

      &:hover {
        background-color: #E6E6E6;
      }
    }
  }
  &_caret {
    position: absolute;
    right: 12px;
    top: 14px;
  }
}
