$base-text-color: #656565;

$color-darkgrey: #2d3e4e;
$color-blue: #30a5de;
$color-lightgrey: #f9f9fa;

$white-smoke: #f0f0ee;
$goldfish-orange: #E7962B;

$color-blue: #0195db;

$link-color: #0496da;
$white: #FFF;

$padding-search: 6px;

$border-color: #d7d7d7;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
