{% strip %}
  <div class="overview">
    <div class="row">
    {% include blocks/overview_block.html overview=true dir="/ATS/general/" category="General" icon="apidocs/-icon-sdk.png" %}
    {% include blocks/overview_block.html overview=true dir="/ATS/refguide-ats-1/" category="ATS Reference Guide 1" icon="apidocs/-icon-sdk.png" %}
    {% include blocks/overview_block.html overview=true dir="/ATS/howtos/" category="ATS How-To's" icon="apidocs/-icon-sdk.png" %}
    </div>
  </div>
{% endstrip %}
