{% strip %}
  <div class="overview">
    <div class="row">
    {% include blocks/overview_block.html overview=true dir="/community/tools/" category="Tools" icon="apidocs/-icon-sdk.png" %}
    {% include blocks/overview_block.html overview=true dir="/community/documentation/" category="Documentation" icon="howto/-icon-gettingstarted.png" %}
    {% include blocks/overview_block.html overview=true dir="/community/app-store/" category="App Store" icon="howto/-icon-appstore.png" %}
    </div>
  </div>
{% endstrip %}
