{% strip %}
  <div class="overview">
    <div class="row">
      {% include blocks/overview_block.html overview=true dir="/developerportal/collaborate/" category="Collaborate" icon="apidocs/-icon-sdk.png" %}
      {% include blocks/overview_block.html overview=true dir="/developerportal/develop/" category="Develop" icon="apidocs/-icon-sdk.png" %}
      {% include blocks/overview_block.html overview=true dir="/developerportal/deploy/" category="Deploy" icon="apidocs/-icon-sdk.png" %}
      {% include blocks/overview_block.html overview=true dir="/developerportal/operate/" category="Operate" icon="apidocs/-icon-sdk.png" %}
      {% include blocks/overview_block.html overview=true dir="/developerportal/settings/" category="Settings" icon="apidocs/-icon-sdk.png" %}
      {% include blocks/overview_block.html overview=true dir="/developerportal/companyadmin/" category="Company Admin" icon="apidocs/-icon-sdk.png" %}
    </div>
  </div>
{% endstrip %}
