{% strip %}
  <div class="overview">
    <div class="row">
        {% include blocks/overview_block.html overview=true dir="/howto7/getting-started/" category="Getting Started" icon="howto/-icon-gettingstarted.png" %}
        {% include blocks/overview_block.html overview=true dir="/howto7/data-models/" category="Data Models" icon="howto/-icon-datamodels.png" %}
        {% include blocks/overview_block.html overview=true dir="/howto7/guis/" category="GUIs" icon="howto/-icon-gui.png" %}
        {% include blocks/overview_block.html overview=true dir="/howto7/logic-business-rules/" category="Logic & Business Rules" icon="howto/-icon-logic.png" %}
        {% include blocks/overview_block.html overview=true dir="/howto7/mobile/" category="Mobile" icon="howto/-icon-mobile.png" %}
        {% include blocks/overview_block.html overview=true dir="/howto7/security/" category="Security" icon="howto/-icon-security.png" %}
        {% include blocks/overview_block.html overview=true dir="/howto7/integration/" category="Integration" icon="howto/-icon-integration.png" %}
        {% include blocks/overview_block.html overview=true dir="/howto7/extendability/" category="Extendability" icon="howto/-icon-extendability.png" %}
        {% include blocks/overview_block.html overview=true dir="/howto7/custom-widget-development/" category="Custom Widget Development" icon="howto/-icon-customwidget.png" %}
        {% include blocks/overview_block.html overview=true dir="/howto7/monitoring-troubleshooting/" category="Monitoring & Troubleshooting" icon="howto/-icon-monitoring.png" %}
        {% include blocks/overview_block.html overview=true dir="/howto7/collaboration-project-management/" category="Collaboration & Project Management" icon="howto/-icon-collab.png" %}
        {% include blocks/overview_block.html overview=true dir="/howto7/cloud-foundry/" category="Cloud Foundry" icon="howto/-icon-cloudfoundry.png" %}
        {% include blocks/overview_block.html overview=true dir="/howto7/on-premises-deployment/" category="On-Premises Deployment" icon="howto/-icon-onpremisesdeployment.png" %}
        {% include blocks/overview_block.html overview=true dir="/howto7/testing/" category="Testing" icon="howto/-icon-proactivemaintenance.png" %}
    </div>
  </div>
{% endstrip %}
