{% strip %}
  <div class="overview">
    <div class="row">
        {% include blocks/overview_block.html dir=include.dir category="Getting Started" icon="howto/-icon-gettingstarted.png" %}
        {% include blocks/overview_block.html dir=include.dir category="Data Models" icon="howto/-icon-datamodels.png" %}
        {% include blocks/overview_block.html dir=include.dir category="GUI's" icon="howto/-icon-gui.png" %}
        {% include blocks/overview_block.html dir=include.dir category="Logic & Business Rules" icon="howto/-icon-logic.png" %}
        {% include blocks/overview_block.html dir=include.dir category="Mobile" icon="howto/-icon-mobile.png" %}
        {% include blocks/overview_block.html dir=include.dir category="Security" icon="howto/-icon-security.png" %}
        {% include blocks/overview_block.html dir=include.dir category="Integration" icon="howto/-icon-integration.png" %}
        {% include blocks/overview_block.html dir=include.dir category="Extendability" icon="howto/-icon-extendability.png" %}
        {% include blocks/overview_block.html dir=include.dir category="Custom Widget Development" icon="howto/-icon-customwidget.png" %}
        {% include blocks/overview_block.html dir=include.dir category="Monitoring & Troubleshooting" icon="howto/-icon-monitoring.png" %}
        {% include blocks/overview_block.html dir=include.dir category="Collaboration & Project Management" icon="howto/-icon-collab.png" %}
        {% include blocks/overview_block.html dir="/mendixcloud/" category="Mendix Cloud" icon="howto/-icon-mxcloud.png" %}
        {% include blocks/overview_block.html dir=include.dir category="Cloud Foundry" icon="howto/-icon-cloudfoundry.png" %}
        {% include blocks/overview_block.html dir=include.dir category="On-premises Deployment" icon="howto/-icon-onpremisesdeployment.png" %}
        {% include blocks/overview_block.html dir=include.dir category="Testing" icon="howto/-icon-onpremisesdeployment.png" %}
        {% include blocks/overview_block.html dir="/appstore/" category="App Store" icon="howto/-icon-appstore.png" %}
        {% include blocks/overview_block.html dir="/tips/" category="Tips and Tricks" icon="howto/-icon-customwidget.png" %}
        {% include blocks/overview_block.html dir="/bestpractices/" category="Best Practices" icon="howto/-icon-collab.png" %}
    </div>
  </div>
{% endstrip %}
