{% strip %}
  <div class="overview">
    <div class="row">
	  {% include blocks/overview_block.html dir="/howtogeneral/mendixcloud/" category="Mendix Cloud" icon="howto/-icon-mxcloud.png" %}
	  {% include blocks/overview_block.html dir="/howtogeneral/tips/" category="Tips & Tricks" icon="howto/-icon-customwidget.png" %}
	  {% include blocks/overview_block.html dir="/howtogeneral/bestpractices/" category="Best Practices" icon="howto/-icon-collab.png" %}
      {% include blocks/overview_block.html overview=true dir="/howtogeneral/support/" category="Mendix Support" icon="refguide/-icon-general.png" %}
    </div>
  </div>
{% endstrip %}
