<div class="col-xs-6 col-sm-6 col-md-3 overview-column">
  <div class="overview-block">
    <div class="overview-block-tile">
      <img class="overview-block-icon" src="{{ "/public/images/icons/" | prepend: site.baseurl | append: include.icon }}" alt="{{ include.category }}">
      <h2 class="overview-block-title">{{ include.title }}</h2>
      <div class="overview-block-arrow--down"></div>
    </div>
    <div class="overview-block-links">
      <a href="#" class="overview-block-close"></a>
      {% include snippets/get_main_pages.inc dir=include.dir %}
    </div>
  </div>
</div>
