<div class="col-xs-6 col-sm-6 col-md-3 overview-column">
  <div class="overview-block">
    <div class="overview-block-tile">
      <img class="overview-block-icon" src="{{ "/public/images/icons/" | prepend: site.baseurl | append: include.icon }}" alt="{{ include.category }}">
      <span class="overview-block-title">{{ include.category }}</span>
      <div class="overview-block-arrow--down"></div>
    </div>
    <div class="overview-block-links">
      <a href="#" class="overview-block-close"></a>
      {% include snippets/get_pages_per_category.inc category=include.category dir=include.dir overview=include.overview mainpage=include.mainpage %}
    </div>
  </div>
</div>
