{% strip %}
  <div class="overview">
    <div class="row">
        {% include blocks/overview_block.html dir=include.dir category="General" icon="refguide/-icon-general.png" %}
        {% include blocks/overview_block.html dir=include.dir category="Team Server" icon="refguide/-icon-teamserver.png" %}
        {% include blocks/overview_block.html dir=include.dir category="Modeler" icon="refguide/-icon-modeler.png" %}
        {% include blocks/overview_block.html dir=include.dir category="Runtime" icon="refguide/-icon-runtime.png" %}
        {% include blocks/overview_block.html dir=include.dir category="Java Programming" icon="refguide/-icon-java.png" %}
        {% include blocks/overview_block.html dir=include.dir category="Deployment" icon="refguide/-icon-deployment.png" %}
        {% include blocks/overview_block.html dir=include.dir category="Mobile" icon="refguide/-icon-mobile.png" %}
        {% include blocks/overview_block.html dir=include.dir category="Proactive Maintenance" icon="refguide/-icon-proactivemaintenance.png" %}
    </div>
  </div>
{% endstrip %}
