{% strip %}
  <div class="overview">
    <div class="row">
		{% include blocks/overview_page_block.html dir="/releasenotes/" title="APM" page="index" icon="howto/-icon-gettingstarted.png" %}
		{% include blocks/overview_page_block.html dir="/releasenotes/" title="AQS" page="index" icon="ahowto/-icon-gettingstarted.png" %}
		{% include blocks/overview_page_block.html dir="/releasenotes/" title="ATS" page="index" icon="howto/-icon-gettingstarted.png" %}
		{% include blocks/overview_page_block.html dir="/releasenotes/" title="Modeler" page="index" icon="howto/-icon-gettingstarted.pngg" %}
		{% include blocks/overview_page_block.html dir="/releasenotes/" title="Platform Portal" page="index" icon="howto/-icon-gettingstarted.png" %}
		{% include blocks/overview_page_block.html dir="/releasenotes/" title="SDK" page="index" icon="howto/-icon-gettingstarted.pngg" %}
    </div>
  </div>
{% endstrip %}
