@import "_sass/core/variables";
/* Search */
.algolia-autocomplete {
  width: 100%;
  .aa-input, .aa-hint {
    width: 100%;
  }
  .aa-hint {
    color: #999;
  }
  .aa-dropdown-menu {
    width: 100%;
    background-color: #fff;
    border: 1px solid $border-color;
    border-top: none;
    margin-top: -1em;
    .aa-suggestion {
      cursor: pointer;
      padding: 10px 10px 5px;
      font-size: 16px;
      &__title {

      }
      &__text {
      	font-size: 0.8em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      &__space {
      	font-size: 0.8em;
        text-align: right;
        font-style: italic;
        font-weight: bold;
      }

      &.aa-cursor {
        background-color: #B2D7FF;
        .aa-suggestion__text {
          white-space: normal;
        }
      }
      em {
       font-weight: bold;
       font-style: normal;
     }
    }
  }
  .algolia__result-highlight {
    font-weight: bold;
  }
  .no-results {
    padding: 10px;
  }
  .autocomplete-header {
    margin: 10px 10px 0;
    border-bottom: 1px solid #CCC;
    line-height: 1;
    color: #CCC;
    font-style: italic;
  }
}
