<!doctype html>
<html itemscope itemtype="http://schema.org/WebPage" lang="{{ .Site.Language.Lang }}" class="no-js">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body class="td-{{ .Kind }}">
        <div class="container-xxl td-outer">
            <div class="td-main">
                <div class="row flex-xl-nowrap stretch-main" style="overflow-x:hidden !important;">
                    <aside data-stt-ignore class="d-none d-lg-block col-lg-4 col-xl-3 td-sidebar d-print-none" data-proofer-ignore>
                        <!-- NK - adjusted resizing for different screens -->
                        {{ partial "sidebar.html" . }}
                    </aside>
                    <main class="col lp" role="main" style="padding-top:0rem; border-right: none;">
                        <!-- NK - adjusted resizing for different screens -->
                        <!-- MvM - Do a test for missing Title -->
                        {{ if not .Title }}
                        {{ warnf "File %s \n\t\t\t\thas no title in the front matter\n " .Page.File.Path }}
                        {{ end }}
                        <!-- NK - START of addition of versions selector menu, 
                            taken from themes\docsy\layouts\partials\navbar.html, 
                            this might get moved again, with further styling changes -->
                        {{ if  .Site.Params.versions }}
                        <li class="nav-item dropdown mr-4 d-none d-lg-block">
                            {{ partial "navbar-version-selector.html" . }}
                        </li>
                        {{ end }}
                        <!-- END of addition -->
                        <!-- Start of landing page cards -->
                        <div class="container my-container">
                            <div class="row" style="padding-top: 5rem; padding-left: 1rem; padding-bottom: 1rem;">
                                <!-- NK - addded more visual padding -->
                                <div class="col-lg-12 col-xl-7">
                                    <h1 class="page-title">{{ .Page.Title}}</h1>
                                    <br>
                                    <h5 class="lp">{{ .Page.Description}}</h5>
                                </div>
                                <div class="d-none d-lg-block order-lg-first d-xl-flex justify-content-xl-end order-xl-last col-xl-5" style="width:319px; height: 155px;">
                                    <img src="/images/docs-extended-small.png">
                                </div>
                            </div>
                            <div class="row my-row">
                                <div class="col cards-layout">
                                    <!-- NK - moved Product cards section to partial -->
                                    {{ partial "landingpage/product-cards.html" . }}
                                </div>
                            </div>
                            <div class="row resources">
                                <div class="col col-sm-2 my-column card-body">
                                    <!-- NK - moved Latest Releases section to partial -->
                                    {{ partial "landingpage/latest-releases.html" . }}
                                </div>
                                <div class="col">
                                    <div class="card-body" style="padding-bottom:1rem">
                                        <div>
                                            <div>                
                                                <h4 class="card-title-w-50" style="margin-left:0.5rem;">Community Resources</h4>
                                            </div>
                                        </div>
                                        <ul class="landing-list">
                                            <li class="link-list"><a href="/community-tools/contribute-to-mendix-docs/">Contribute to the Docs site</a></li>
                                            <li class="link-list"><a href="https://community.mendix.com/">Ideas and Questions</a></li>
                                            <li class="link-list"><a href="https://support.mendix.com/">Support</a></li>
                                            <li class="link-list"><a href="https://www.mendix.com/blog/">Low-Code Development Blog</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row inner-row">
                                <div class="col">
                                    {{ partial "landingpage/get-started.html" . }}
                                </div>
                            </div>
                            <div class="row inner-row">
                                <div class="col">
                                    {{ partial "landingpage/note.html" . }}
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
            {{ partial "footer.html" . }}
        </div>
        {{ partial "scripts.html" . }}
    </body>
</html>