<!doctype html>
<html itemscope itemtype="http://schema.org/WebPage" lang="{{ .Site.Language.Lang }}" class="no-js">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body class="td-{{ .Kind }}">
        <div class="container-xxl td-outer">
            <div class="td-main">
                <div class="row flex-xl-nowrap stretch-main" style="overflow-x:hidden !important;">
                    <aside data-stt-ignore class="d-none d-lg-block col-lg-4 col-xl-3 td-sidebar d-print-none" data-proofer-ignore>
                        {{ partial "sidebar.html" . }}
                    </aside>
                    <main class="col lp" role="main" style="border-right: none;">
                        <div class="container my-container">
                            <!-- Header start-->
                            <div class="row">
                                <div class="col-lg-12 col-xl-7">
                                    <h1 class="page-title">{{ .Page.Title}}</h1>
                                    <br>
                                    <h5 class="lp">{{ .Page.Description}}</h5>
                                </div>
                                <div class="d-none d-lg-block order-lg-first d-xl-flex justify-content-xl-end order-xl-last col-xl-5" style="width:319px; height: 155px;">
                                    <img src="/images/docs-extended-small.png">
                                </div>
                            </div>
                            <!-- Header end-->
                            <!-- Product cards start -->
                            <div class="row">
                                <div class="col">
                                    {{ partial "landingpage/product-cards.html" . }}
                                </div>
                            </div>
                            <!-- Product cards end -->
                            <div class="row resources">
                                <div class="col col-sm-2 my-column card-body">
                                    {{ partial "landingpage/latest-releases.html" . }}
                                </div>
                                <div class="col">
                                    <div class="card-body" style="padding-bottom:1rem">
                                        <div>
                                            <div>                
                                                <h4 class="card-title-w-50" style="margin-left:0.5rem;">Community Resources</h4>
                                            </div>
                                        </div>
                                        <ul class="landing-list">
                                            <li class="link-list"><a href="/community-tools/contribute-to-mendix-docs/">Contribute to the Docs site</a></li>
                                            <li class="link-list"><a href="https://community.mendix.com/">Ideas and Questions</a></li>
                                            <li class="link-list"><a href="https://support.mendix.com/">Support</a></li>
                                            <li class="link-list"><a href="https://www.mendix.com/blog/">Low-Code Development Blog</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row inner-row">
                                <div class="col">
                                    {{ partial "landingpage/get-started.html" . }}
                                </div>
                            </div>
                            <div class="row inner-row">
                                <div class="col">
                                    {{ partial "landingpage/note.html" . }}
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
            {{ partial "footer.html" . }}
        </div>
        {{ partial "scripts.html" . }}
    </body>
</html>