---
title: "Test Run"
url: /appstore/partner-solutions/ats/rg-one-test-run/
---

To run an existing test, you have to open the test case or test suite by clicking its name in the repository.
The test case (or test suite) details page will open. On this page you can see all the test steps and for the test suite the containing test case of your test. If you want to execute your test case, click *Run*.

{{< figure src="/attachments/appstore/partner-solutions/ats/rg-ats/v1/test-dev/rg-one-test-run/testCaseDetails.png" alt="Test case details" class="no-border" >}}

The *Select Run Configuration* page will open. On this page, you can set the run configuration for the test case (or test suite) you want to execute.

{{< figure src="/attachments/appstore/partner-solutions/ats/rg-ats/v1/test-dev/rg-one-test-run/runConfiguration.png" alt="Test Run Configuration" class="no-border" >}}

The following options are available:

**Application**

Set the application on which the test will be run.

**Selenium Hub**

Set the Selenium hub on which the test will be completed.

**Browser**

Set the browser in which the test will be run.

**Enable Screenshots**

Enable the taking of screenshots during the test run.

**Action Log Depth**

Set the depth of the error logging.

As soon as you have finished setting the run configuration, you can execute the test case by clicking *Run* or you can schedule the test case by clicking *Schedule*. If you want to know more about scheduling test cases in ATS, visit the [Scheduling section](/appstore/partner-solutions/ats/rg-one-scheduling/).
