/* Header and footer overrides */
.headerWrapper, #footerWrapper {
  /* Foundation */
  .left, .alignleft {
    float: left !important; }
  .alignleft { margin-right: 2rem; }

  .right, .alignright {
    float: right !important; }
  .alignright { margin-left: 2rem; }

  .row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 1170px;
    box-sizing: border-box;
    padding: 0 4px;
    }
    .row:before, .row:after {
      content: " ";
      display: table; }
    .row:after {
      clear: both; }
    .row.collapse > .column,
    .row.collapse > .columns {
      padding-left: 0;
      padding-right: 0; }
    .row.collapse .row {
      margin-left: 0;
      margin-right: 0; }
    .row .row {
      width: auto;
      margin-left: -0.9375em;
      margin-right: -0.9375em;
      margin-top: 0;
      margin-bottom: 0;
      max-width: none; }
      .row .row:before, .row .row:after {
        content: " ";
        display: table; }
      .row .row:after {
        clear: both; }
      .row .row.collapse {
        width: auto;
        margin: 0;
        max-width: none; }
        .row .row.collapse:before, .row .row.collapse:after {
          content: " ";
          display: table; }
        .row .row.collapse:after {
          clear: both; }

  .column,
  .columns {
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    width: 100%;
    float: left;
    box-sizing: border-box;
    }

  [class*="column"] + [class*="column"]:last-child {
  /*  float: right; */}

  [class*="column"] + [class*="column"].end {
    float: left; }

  .text-left {
    text-align: left !important; }

  .text-right {
    text-align: right !important; }

  .text-center {
    text-align: center !important; }

  .text-justify {
    text-align: justify !important; }

  @media only screen {
    .column,
    .columns {
      position: relative;
      padding-left: 0.9375em;
      padding-right: 0.9375em;
      float: left; }

    .small-1 {
      width: 8.33333%; }

    .small-2 {
      width: 16.66667%; }

    .small-3 {
      width: 25%; }

    .small-4 {
      width: 33.333333333%; }

    .small-5 {
      width: 41.66667%; }

    .small-6 {
      width: 50%; }

    .small-7 {
      width: 58.33333%; }

    .small-8 {
      width: 66.66667%; }

    .small-9 {
      width: 75%; }

    .small-10 {
      width: 83.33333%; }

    .small-11 {
      width: 91.66667%; }

    .small-12 {
      width: 100%; }

    .small-reset-order {
      margin-left: 0;
      margin-right: 0;
      left: auto;
      right: auto;
      float: left; }

    .column.small-centered,
    .columns.small-centered {
      margin-left: auto;
      margin-right: auto;
      float: none; }

    .column.small-uncentered,
    .columns.small-uncentered {
      margin-left: 0;
      margin-right: 0;
      float: left; }

    .column.small-centered:last-child,
    .columns.small-centered:last-child {
      float: none; }

    .column.small-uncentered:last-child,
    .columns.small-uncentered:last-child {
      float: left; }

    .column.small-uncentered.opposite,
    .columns.small-uncentered.opposite {
      float: right; }

    .row.small-collapse > .column,
    .row.small-collapse > .columns {
      padding-left: 0;
      padding-right: 0; }
    .row.small-collapse .row {
      margin-left: 0;
      margin-right: 0; }
    .row.small-uncollapse > .column,
    .row.small-uncollapse > .columns {
      padding-left: 0.9375em;
      padding-right: 0.9375em;
      float: left; } }
  @media only screen and (min-width: 40.063em) {
    .column,
    .columns {
      position: relative;
      padding-left: 0.9375em;
      padding-right: 0.9375em;
      float: left; }

    .medium-1 {
      width: 8.33333%; }

    .medium-2 {
      width: 16.66667%; }

    .medium-2-5 {
      width: 20%; }

    .medium-3 {
      width: 25%; }

    .medium-4 {
      width: 33.33333333333%; }

    .medium-5 {
      width: 41.66667%; }

    .medium-6 {
      width: 50%; }

    .medium-7 {
      width: 58.33333%; }

    .medium-8 {
      width: 66.66667%; }

    .medium-9 {
      width: 75%; }

    .medium-10 {
      width: 83.33333%; }

    .medium-11 {
      width: 91.66667%; }

    .medium-12 {
      width: 100%; }

    .medium-reset-order {
      margin-left: 0;
      margin-right: 0;
      left: auto;
      right: auto;
      float: left; }

    .column.medium-centered,
    .columns.medium-centered {
      margin-left: auto;
      margin-right: auto;
      float: none; }

    .column.medium-uncentered,
    .columns.medium-uncentered {
      margin-left: 0;
      margin-right: 0;
      float: left; }

    .column.medium-centered:last-child,
    .columns.medium-centered:last-child {
      float: none; }

    .column.medium-uncentered:last-child,
    .columns.medium-uncentered:last-child {
      float: left; }

    .column.medium-uncentered.opposite,
    .columns.medium-uncentered.opposite {
      float: right; }

    .row.medium-collapse > .column,
    .row.medium-collapse > .columns {
      padding-left: 0;
      padding-right: 0; }
    .row.medium-collapse .row {
      margin-left: 0;
      margin-right: 0; }
    .row.medium-uncollapse > .column,
    .row.medium-uncollapse > .columns {
      padding-left: 0.9375em;
      padding-right: 0.9375em;
      float: left; }
  }
  @media only screen and (min-width: 64.063em) {
    .column,
    .columns {
      position: relative;
      padding-left: 0.9375em;
      padding-right: 0.9375em;
      float: left;
      min-height: 7em;
    }

    .large-1 {
      width: 8.33333%; }

    .large-2 {
      width: 16.66667%; }

    .large-2-5 {
      width: 20%; }

    .large-3 {
      width: 25%; }

    .large-4 {
      width: 33.3333333333%; }

    .large-5 {
      width: 41.66667%; }

    .large-6 {
      width: 50%; }

    .large-7 {
      width: 58.33333%; }

    .large-8 {
      width: 66.66667%; }

    .large-9 {
      width: 75%; }

    .large-10 {
      width: 83.33333%; }

    .large-11 {
      width: 91.66667%; }

    .large-12 {
      width: 100%; }

    .column.large-centered,
    .columns.large-centered {
      margin-left: auto;
      margin-right: auto;
      float: none; }

    .column.large-uncentered,
    .columns.large-uncentered {
      margin-left: 0;
      margin-right: 0;
      float: left; }

    .column.large-centered:last-child,
    .columns.large-centered:last-child {
      float: none; }

    .column.large-uncentered:last-child,
    .columns.large-uncentered:last-child {
      float: left; }

    .column.large-uncentered.opposite,
    .columns.large-uncentered.opposite {
      float: right; }

    .row.large-collapse > .column,
    .row.large-collapse > .columns {
      padding-left: 0;
      padding-right: 0; }
    .row.large-collapse .row {
      margin-left: 0;
      margin-right: 0; }
    .row.large-uncollapse > .column,
    .row.large-uncollapse > .columns {
      padding-left: 0.9375em;
      padding-right: 0.9375em;
      float: left; }
  }


  h2 {
    font-size: 1.6rem;
  }
}

#theFooter {
  ul {
    li {
      a {
        font-size: 1.6rem;
      }
    }
  }

  .row {
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.45rem;
  }
}

#footerSocial a { font-size: 3rem; }
#footerButtons .button {
    font-size: 1.5rem;
}

.navCell li {
  .topLevelLink {
    font-size: 1.6rem;
    min-height: 6em;
  }
  .navMenu {
    li {
      a {
        font-size: 1.6rem;
      }
    }
  }
}

@media only screen and (max-width: 870px) {
  .headerWrapper {
      position: static;
      padding: .8rem .25rem;
  }
  .navCell li .topLevelLink {
      font-size: 2rem;
      min-height: auto;

      span.icon-plus, span.icon-minus {
        font-size: 1rem;
        padding: 2px 0 0 2px;
        width: 16px;
        height: 15px;
      }
  }
}

.mxid_topbar .mxid_topbar_menuTrigger img {
  vertical-align: baseline;
}
