{{ $isSingle := true -}}
{{ with .Parent -}}
  {{ $isSingle = .IsHome -}}
{{ end -}}
<nav aria-label="breadcrumb" style="margin-left:2rem" class="d-print-none td-breadcrumbs
    {{- if $isSingle }} td-breadcrumbs__single {{- end }}">
    <div class="row"> <!-- NK - added row and columns for layout -->
		<div class="col-lg-8" style="padding-top: 0.5rem"> <!-- NK - adjusted column resizing for multiple screen sizes -->
			<!-- NK - keeps breadcrumb out of landing page -->
			{{ if (ne .Page.Type "landingpage")}}
			<ol class="breadcrumb spb-1">
				{{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
			</ol>
			{{end}}
		</div>
		<!-- NK - moved language dropdown here -->
		<div class="col-lg-4 col-xl-3" style="text-align:right"> <!-- NK - adjusted column resizing for multiple screen sizes -->
			{{ if  (gt (len .Site.Home.Translations) 0) }}
				<li class="nav-item dropdown d-none d-md-block d-print-none">
				{{ partial "navbar-lang-selector.html" . }}
				</li>
			{{ end }}
			<!-- NK - end of move -->
		</div>
	</div>
</nav>
{{- define "breadcrumbnav" -}}
  {{ if .p1.Parent -}}
    {{ if not .p1.Parent.IsHome -}}
      {{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 )  -}}
    {{ end -}}
  {{ else if not .p1.IsHome -}}
    {{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 )  -}}
  {{ end -}}
  {{ $isActive :=  eq .p1 .p2 }}
  <li class="breadcrumb-item{{ if $isActive }} active{{ end }}"
      {{- if $isActive }} aria-current="page"{{ end }}>
    <a href="{{ .p1.Permalink }}">{{ .p1.LinkTitle }}</a>
  </li>
{{- end -}}
