{{/* Link directly to documentation etc., if possible. */}}
{{ $langPage := cond (gt (len .Translations) 0) . .Site.Home }}
<a class="nav-link dropdown-toggle lang-arrow" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
{{ $langPage.Language.LanguageName }}<img class="nav-icon" src="/icons/translate.svg" title="Available languages"> <!-- NK - added icon and size-->
	<!-- {{ $langPage.Language.LanguageName }} --> <!-- NK - deactivated, moved to list -->
</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"> <!-- NK - changed to display all languages in list -->
	<a class="dropdown-item" href="{{ .RelPermalink }}">{{ $langPage.Language.LanguageName }}</a> <!-- NK - first lists current language in list -->
	{{ range $langPage.Translations }} <!-- NK - loops through other languages -->
	<a class="dropdown-item" href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a>
	{{ end }}
</div>