{{ if .File }}
  {{ $pathFormatted := replace .File.Path "\\" "/" -}}
  {{ $gh_repo := ($.Param "github_repo") -}}
  {{ $gh_url := ($.Param "github_url") -}}
  {{ $gh_subdir := ($.Param "github_subdir") -}}
  {{ $gh_project_repo := ($.Param "github_project_repo") -}}
  {{ $gh_branch := (default "development" ($.Param "github_branch")) -}}
  <!-- NK - added layout elements to menu icons above ToC -->
  <div class="container" style="padding-top: 0.5rem">
      <div class="row justify-content-left">
          <div class="col-3">
            {{ if $gh_url -}}
              <!-- NK - changed icon properties -->
              {{/* {{ warnf "Warning: use of `github_url` is deprecated. For details see https://www.docsy.dev/docs/adding-content/repository-links/#github_url-optional" -}}*/ -}}
              <a data-proofer-ignore href="{{ $gh_url }}" target="_blank"><img class="my-icon" src="/icons/content-paper-edit.svg" title="Edit on GitHub"></a>
            {{ else if $gh_repo -}}
              {{ $gh_repo_path := printf "%s/content/%s" $gh_branch $pathFormatted -}}
              {{ if and ($gh_subdir) (.Site.Language.Lang) -}}
                {{ $gh_repo_path = printf "%s/%s/content/%s/%s" $gh_branch $gh_subdir ($.Site.Language.Lang) $pathFormatted -}}
              {{ else if .Site.Language.Lang -}}
                {{ $gh_repo_path = printf "%s/content/%s/%s" $gh_branch ($.Site.Language.Lang) $pathFormatted -}}
              {{ else if $gh_subdir -}}
                {{ $gh_repo_path = printf "%s/%s/content/%s" $gh_branch $gh_subdir $pathFormatted -}}
              {{ end -}}

              {{/* Adjust $gh_repo_path based on path_base_for_github_subdir */ -}}
              {{ $ghs_base := $.Param "path_base_for_github_subdir" -}}
              {{ $ghs_rename := "" -}}
              {{ if reflect.IsMap $ghs_base -}}
                {{ $ghs_rename = $ghs_base.to -}}
                {{ $ghs_base = $ghs_base.from -}}
              {{ end -}}
              {{ with $ghs_base -}}
                {{ $gh_repo_path = replaceRE . $ghs_rename $gh_repo_path -}}
              {{ end -}}
            
              {{ $viewURL := printf "%s/tree/%s" $gh_repo $gh_repo_path -}}
              <!-- NK - changed editUrl to blob -->
              {{ $editURL := printf "%s/blob/%s" $gh_repo $gh_repo_path -}}
              {{ $issuesURL := printf "%s/issues/new?title=%s&body=Please+use+the+form+below,+leaving+the+prefilled+data+to+help+us.+Thank+you.\n\nPage+link:+[%s](%s)\n\nDocument+link:+[%s](%s/blob/%s)\n\n%23%23%23%23+My+Issue/Suggestion\n\n" $gh_repo (urlize $.Title ) (urlize $.Title ) .Permalink .File.LogicalName $gh_repo $gh_repo_path -}}
              {{ $newPageStub := resources.Get "stubs/new-page-template.md" -}}
              {{ $newPageQS := querify "value" $newPageStub.Content "filename" "change-me.md" | safeURL -}}
              {{ $newPageURL := printf "%s/new/%s?%s"  $gh_repo $gh_repo_path $newPageQS -}}
              <!-- NK - changed icon properties -->
              <a data-proofer-ignore href="{{ $editURL }}" target="_blank"><img class="ToC-icon" src="/icons/notes-paper-edit-1.svg" title="View on GitHub"></a>
          </div>
          <div class="col-3">
              <!-- NK - changed icon properties, added class name for feedback widget -->
              <a href="{{ $issuesURL }}" target="_blank" class="feedback-issue"><img class="ToC-icon" src="/icons/message-bubble-typing-1.svg" title="Leave feedback"></a>
              <!-- NK - deactivated icon for project issue -->
              {{/* {{ with $gh_project_repo -}}
                {{ $project_issueURL := printf "%s/issues/new" . -}}
                  <a href="{{ $project_issueURL }}" target="_blank"><i class="fas fa-tasks fa-fw"></i> {{ T "post_create_project_issue" }}</a>
                {{ end -}} */}}
            {{ end -}}
        <!-- MvM: get the alternative output formats from the PAGE (in theme it is for Section) and change text to print_page-->
            {{ with .AlternativeOutputFormats.Get "print" -}}
          </div>
          <div class="col-3">
            <!-- NK - changed icon properties -->
            <a data-proofer-ignore id="print" href="{{ .Permalink | safeURL }}"><img class="ToC-icon" src="/icons/print-1.svg" title="Go to print view"></a>
        {{ end }}
          </div>
      </div>
  </div>
{{ end -}}
