<!-- MODIFICATION FOR MENDIX DOCS-->

    <!-- If the page has banner_7: true set, display the following text as a banner. -->
    {{ with .Params.banner_7 }}
    <div class="pageinfo pageinfo-warning">
        <p>Mendix 7 is no longer supported unless you have <a href="/support/#extended-support">Extended Support</a>. Mendix 7 documentation will remain available until July 2024.</p>
        <p>To upgrade to a supported version, see <a href="/refguide8/moving-from-7-to-8/">Moving from Desktop Modeler Version 7 to Studio Pro 8</a>.</p>
    </div>
    {{ end }}
    <!-- If the page has banner_8: true set, display the following text as a banner. -->
    {{ with .Params.banner_8 }}
    <div class="pageinfo pageinfo-info">
        <p>If you would like to upgrade to a newer <a href="/releasenotes/studio-pro/lts-mts/#lts">long-term support version</a> of Studio Pro, see <a href="/refguide9/moving-from-8-to-9/">Moving from Mendix Studio Pro 8 to 9</a>.</p>
    </div>
    {{ end }}
    <!-- If the page has draft: true set, display the following text as a banner. -->
    {{ with .Params.draft }}
    <div class="pageinfo pageinfo-warning">
      <p>This page is a draft, so it will not render on the production Docs site.</p>
    </div>
    {{ end }}
    
<!-- END OF CUSTOMIZATION -->

<!-- Check the variable that indicates whether this is an archived doc set.
  If yes, display a banner. -->
  {{ if .Site.Params.archived_version }}
  {{ $color := "primary" }}
  {{ $latest_version := .Site.Params.url_latest_version }}
  {{ $current_version := .Site.Params.version }}
  <div class="pageinfo pageinfo-{{ $color }}">
    {{ with $current_version }}<p>Version {{ . | markdownify }} of the
      documentation is no longer actively maintained. The site that you are
      currently viewing is an archived snapshot. 
      {{ with $latest_version }}For up-to-date documentation, see the 
        <a href="{{ $latest_version | safeURL }}" target="_blank">latest version</a>.</p>
      {{ end }}
    {{ end }}
  </div>
{{ end }}
