---
title: "Test Run"
url: /addons/ats-addon/rg-one-test-run/
---

To run an existing test, you have to open the test case or test suite by clicking its name in the repository.
The test case (or test suite) details page will open. On this page you can see all the test steps and for the test suite the containing test case of your test. If you want to execute your test case, click _Run_.

{{< figure src="/attachments/addons/ats-addon/rg-ats/rg-one-ats/rg-one-test-dev/rg-one-test-run/testCaseDetails.png" alt="Test case details" >}}

The _Select Run Configuration_ page will open. On this page, you can set the run configuration for the test case (or test suite) you want to exectue.

{{< figure src="/attachments/addons/ats-addon/rg-ats/rg-one-ats/rg-one-test-dev/rg-one-test-run/runConfiguration.png" alt="Test Run Configuration" >}}

The following options are available:

**Application**

Set the application on which the test will be run.

**Selenium Hub**

Set the Selenium hub on which the test will be executed.

**Browser**

Set the browser in which the test will be run.

**Enable Screenshots**

Enable the taking of screenshots during the test run.

**Action Log Depth**

Set the depth of the error logging.

As soon as you have finished setting the run configuration, you can execute the test case by clicking _Run_ or you can schedule the test case by clicking _Schedule_. If you want to know more about scheduling test cases in ATS, visit the [Scheduling section](/addons/ats-addon/rg-one-scheduling/).
