<div id="footerWrapper">
  <div id="theFooter">
    <div class="row" id="theFooterMenu">
      <div class="large-3 medium-3 column">
        <div class="footerNavGroup" id="docsMenuFooter"></div>
      </div>
      <div class="large-3 medium-3 column">
        <div class="footerNavGroup" id="trainingMenuFooter"></div>
      </div>
      <div class="large-3 medium-3 column">
        <div class="footerNavGroup" id="communityMenuFooter"></div>
      </div>
      <div class="large-3 medium-3 column">
        <div class="footerNavGroup" id="supportMenuFooter">
          <div id="footerButtons">
            <a href="https://developers.mendix.com/start-for-free/" class="button">Start for Free</a>
            <a href="http://ww2.mendix.com/contact-us.html" target="_blank" class="button">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-7 medium-6 column">
        <p>Copyright &copy; <span id="theCopyright"></span> Mendix. All rights reserved. <span class="copyrightBreak">|</span> <a href="http://www.mendix.com/" target="_blank">Mendix.com</a> | <a href="http://www.mendix.com/terms-of-use/" target="_blank">Terms of Use</a> | <a href="http://www.mendix.com/privacy-policy/" target="_blank">Privacy Policy</a></p>
      </div>
      <div class="large-5 medium-6 column text-right" id="footerSocial">
        <div class="footerNavGroup">
          <h2 id="socialHeader">Get In Touch</h2>
          <a href="https://github.com/mendix" target="_blank"><span class="icon-github"></span><em>Github</em></a>
          <a href="https://twitter.com/MendixDeveloper" target="_blank"><span class="icon-twitter"></span><em>Twitter</em></a>
          <a href="https://www.linkedin.com/company/mendix" target="_blank"><span class="icon-linkedin"></span><em>Linkedin</em></a>
          <a href="https://plus.google.com/+MendixSocial" target="_blank"><span class="icon-google-plus"></span><em>Google</em></a>
          <a href="https://www.facebook.com/mendixsoftware" target="_blank"><span class="icon-facebook"></span><em>Facebook</em></a>
        </div>
      </div>
    </div>
  </div>
</div>
