<div class="headerWrapper">
  <div class="row">
    <div class="large-4 medium-5 small-6 column"><a href="https://developers.mendix.com/" rel="home" id="devLogo">Mendix Developers</a></div>
    <div class="large-8 medium-7 small-6 column" id="menuColumn">
      <div class="mobileIcons">
        <a href="#" id="btnMobileMenu"><span class="icon-menu"></span><span class="icon-x"></span><em>menu</em></a>
      </div>
      <div id="navTable">
        <div id="navRow">
          <div class="navCell">
            <ul id="docsMenu"><li></li></ul>
          </div>
          <div class="navCell">
            <ul id="trainingMenu"><li></li></ul>
          </div>
          <div class="navCell">
            <ul id="communityMenu"><li></li></ul>
          </div>
          <div class="navCell">
            <ul id="supportMenu"><li></li></ul>
          </div>
          <div class="navCell hidden" id="startCell"><a href="https://developers.mendix.com/start-for-free/" class="button">Start For Free</a></div>
          <div class="navCell" id="theLogin"><div id="mxid_topbar_attachpoint"></div></div>
        </div>
      </div>
    </div>
  </div>
</div>
