{{ define "main"}}
    <main id="main" style="border-left-style: none;border-right-style: none;">
      <div class="container">
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="row">
          <div class="col-12" style="text-align: center;">
            <h1 id="title">404</h1>
            <p>Oops! This page doesn't exist.</p>
            <a href="{{ "/" | relURL }}" class="btn btn-outline-secondary home-btn">Back to Home</a>
          </div>
        </div>
      </div>
    </main>
{{ end }}
