{{ define "main" -}}
    <main id="main" style="border-left-style: none; border-right-style: none;">
        <div class="container d-flex justify-content-center">
            <div class="row">
                <div class="col-12 mx-auto text-center" style="max-width: 600px;">
                    <img src="/images/404.png" alt="Not found" width="60%" class="no-border" style="margin-bottom: 1rem;">
                    <h3 id="title">Another Page Washed Away Mysteriously (404)</h2>
                    <p>Oops! This page doesn't exist. Try using the search bar at the top of the page to find the documentation that you are looking for.</p>
                    <a href="{{ "/" | relURL }}" class="btn btn-outline-secondary home-btn">Go Back Home</a>
                </div>
            </div>
        </div>
    </main>
{{- end }}
