<h4 class="lp-panel-title">Community Resources</h4>
<ul style="padding: 0rem;">
    <li class="lp-panel-list"><a href="https://github.com/mendix/docs/pulls?q=is%3Apr+is%3Amerged+" target="_blank" rel="noopener" >Recent Documentation Updates</a></li>
    <li class="lp-panel-list"><a href="/community-tools/contribute-to-mendix-docs/">Contribute to the Docs Site</a></li>
    <li class="lp-panel-list"><a href="https://community.mendix.com/" target="_blank" rel="noopener">Mendix Community</a></li>
    <li class="lp-panel-list"><a href="https://support.mendix.com/" target="_blank" rel="noopener">Mendix Support</a></li>
    <li class="lp-panel-list"><a href="https://www.mendix.com/developer-center/blog/" target="_blank" rel="noopener" >Low-Code Development Blog</a></li>
</ul>