<h4 class="lp-panel-title">Community Resources</h4>
<ul style="padding: 0rem;">
    <li class="lp-panel-list"><a href="/community-tools/contribute-to-mendix-docs/">Contribute to the Docs Site</a></li>
    <li class="lp-panel-list"><a href="https://community.mendix.com/">Mendix Community</a></li>
    <li class="lp-panel-list"><a href="https://support.mendix.com/">Mendix Support</a></li>
    <li class="lp-panel-list"><a href="https://www.mendix.com/developer-center/blog/">Low-Code Development Blog</a></li>
</ul>