<div class="row">
  <img class="my-icon" src="/icons/space-rocket-flying.png"><a href="/releasenotes/"><h4 class="card-title-w-50">Latest Releases</h4></a>
</div>
  <p class="card-text"><ul class="landing-list">

	<li class="link-list"><a href="/releasenotes/studio-pro/9.22/">Studio Pro 9.22.0</a></li>
	                                            <p class="rn-date">Jan 31st, 2023</p>

	<li class="link-list"><a href="/releasenotes/studio/9.7-9.20/">Studio 9.7-9.20</a></li>
	                                                <p class="rn-date">Nov 29th, 2022</p>
	
	<li class="link-list"><a href="/releasenotes/mobile/nt-6-rn/">Native Template 6.3.4</a></li>
	                                            <p class="rn-date">Dec 27th, 2022</p>
	
	<li class="link-list"><a href="/releasenotes/developer-portal/">Developer Portal</a></li>
	                                            <p class="rn-date">Jan 26th, 2023</p>
	
	<li class="link-list"><a href="/releasenotes/developer-portal/deployment/">Deployment</a></li>
                                                            <p class="rn-date">Jan 26th, 2023</p>

	<li class="link-list"><a href="/releasenotes/data-hub/">Data Hub Catalog</a></li>
	                                    <p class="rn-date">Feb 2nd, 2023</p>
	
	<li class="link-list"><a href="/releasenotes/app-store/">Marketplace</a></li>
	                                    <p class="rn-date">Oct 25th, 2022</p>
	
	<li class="link-list"><a href="/releasenotes/sdk/model-sdk-4/">Model SDK 4.71.0</a></li>
	                                            <p class="rn-date">Jan 25th, 2023</p>
	
	<li class="link-list"><a href="/releasenotes/sdk/metamodel-9.22/">Metamodel 9.22.0</a></li>
	                                                <p class="rn-date">Jan 25th, 2023</p> 

  </ul></p>
