
<h4 class="lp-panel-title">Latest Releases</h4>
<ul style="padding: 0rem; margin: 0rem;">
    <li class="lp-panel-list">
        <a href="/releasenotes/">All Release Notes</a>
    </li>
    <li class="lp-panel-list">
        <a href="/releasenotes/feature-release-calendar/">Mx10 Feature Release Calendar</a>
    </li>
    <li class="lp-panel-list">
        <a href="/releasenotes/studio-pro/10.17/">Studio Pro 10.17.0</a>
        <p class="rn-date">Nov 27, 2024</p>
    </li>
    <li class="lp-panel-list">
        <a href="/releasenotes/developer-portal/">Apps</a>
        <p class="rn-date">Dec 1, 2024</p>
    </li>
    <li class="lp-panel-list">
        <a href="/releasenotes/developer-portal/deployment/">Deployment</a>
        <p class="rn-date">Dec 12, 2024</p>
    </li>
</ul>
