<div class="row image-card-row">
	<div class="col-12 col-sm-6 col-xl-4 image-card-col">
		<div class="card image-card">
		<img src="/images/most-popular-string-function-calls.png" class="card-img-top" alt="...">
		<div class="card-body">
			<h4 class="card-title">String Function Calls</h4>
			<br>
			<a href="/refguide/string-function-calls/" class="btn btn-outline-secondary doc-link">Go to doc</a>
		</div>
		</div>
	</div>
	<div class="col-12 col-sm-6 col-xl-4 image-card-col">
		<div class="card image-card">
		<img src="/images/most-popular-development-best-practices.png" class="card-img-top" alt="...">
		<div class="card-body">
			<h4 class="card-title">Development Best Practices</h4>
			<br>
			<a href="/howto/general/dev-best-practices/" class="btn btn-outline-secondary doc-link">Go to doc</a>
		</div>
		</div>
	</div>
	<div class="col-12 col-sm-6 col-xl-4 image-card-col">
		<div class="card image-card">
		<img src="/images/most-popular-expressions.png" class="card-img-top" alt="...">
		<div class="card-body">
			<h4 class="card-title">Expressions</h4>
			<br>
			<a href="/refguide/expressions/" class="btn btn-outline-secondary doc-link">Go to doc</a>
		</div>
		</div>
	</div>
</div>