
<div class="row justify-content-center inner-row">
    <div class="col card w-50">
        <div class="card-body">
            <div>
                <a href="/refguide/installation/" class="text-decoration-none">
                    <img class="my-icon" src="/icons/mendix-icon-filled.svg">                    
                    <h4 class="card-title-w-50">Get Started</h4>
                </a>
            </div>
            <ul class="card-text landing-list">
                <li class="link-list"><a href="/refguide/install/">Install Studio Pro</a></li>
                <li class="link-list"><a href="/quickstarts/">Quick Starts</a></li>
                <li class="link-list"><a href="/refguide/dev-best-practices/">Best Practices</a></li>
            </ul>
        </div>
    </div>
    <div class="col card w-50">
        <div class="card-body">
            <div>
                <div>
                    <img class="my-icon icon-recolor" src="/mx-icons/app-multiple.svg/">
                    <h4 class="card-title-w-50">Develop</h4>
                </div>
            </div>
            <ul class="card-text landing-list">
                <li class="link-list"><a href="/howto/">Studio Pro How-Tos</a></li>                
                <li class="link-list"><a href="/refguide/application-logic/">Application Logic</a></li>
                <li class="link-list"><a href="/refguide/mobile/">Mobile Development</a></li>
            </ul>            
        </div>
    </div>
</div>
<div class="row justify-content-center inner-row">
    <div class="col card w-50">
        <div class="card-body">
            <div>
                <a href="/developerportal/deploy/" class="text-decoration-none">
                    <img class="my-icon icon-recolor" src="/mx-icons/deploy.svg">
                    <h4 class="card-title-w-50">Deploy</h4>
                </a>
            </div>
            <ul class="card-text landing-list">
                <li class="link-list"><a href="/developerportal/deploy/mendix-cloud-deploy/deploying-an-app/">Deploying an App to Mendix Cloud</a></li>
                <li class="link-list"><a href="/developerportal/deploy/mendix-cloud-deploy/">Mendix Cloud</a></li>
                <li class="link-list"><a href="http://localhost:1313/developerportal/deploy/private-cloud/">Mendix for Private Cloud</a></li>
            </ul>
        </div>
    </div>
    <div class="card w-50">
        <div class="card-body">
            <div>
                <a href="/appstore/" class="text-decoration-none">
                    <img class="my-icon icon-recolor" src="/mx-icons/connect-1.svg">
                    <h4 class="card-title-w-50">Extend</h4>
                </a>
            </div>
            <ul class="card-text landing-list">
                <li class="link-list"><a href="/appstore/general/app-store-overview/">Marketplace</a></li>
                <li class="link-list"><a href="/apidocs-mxsdk/">APIs</a></li>
                <li class="link-list"><a href="/catalog/">Catalog</a></li>                                
            </ul>
        </div>
    </div>
</div>
<div class="row justify-content-center inner-row">
    <div class="col card w-50">
        <div class="card-body">
            <div>
                <a href="/control-center/" class="text-decoration-none">
                    <img class="my-icon icon-recolor" src="/mx-icons/cog-shield.svg/">
                    <h4 class="card-title-w-50">Manage</h4>
                </a>
            </div>
            <ul class="card-text landing-list">
                <li class="link-list"><a href="/developerportal/control-center/">Control Center</a></li>
                <li class="link-list"><a href="/developerportal/portfolio-management/">Portfolio Management</a></li> 
            </ul>
        </div>
    </div>
    <div class="card w-50">
        <div class="card-body">
            <div>
                <a href="/community-tools/" class="text-decoration-none">
                    <img class="my-icon icon-recolor" src="/mx-icons/handshake-business.svg/">
                    <h4 class="card-title-w-50">Contribute</h4>
                </a>
            </div>
            <p class="card-text">
            <ul class="card-text landing-list">
                <li class="link-list"><a href="/community-tools/contribute-to-mendix-docs/">Contribute to Mendix Docs</a></li>
                <li class="link-list"><a href="/community-tools/contribute-to-a-github-repository/">Contribute to a Mendix GitHub Repo</a></li>
            </ul>
            </p>
        </div>
    </div>
</div>