
<div class="row justify-content-center inner-row">
    <!-- Studio Pro 10 card -->
    <div class="col card w-50">
        <div class="card-body">
            <div>
                <img class="my-icon" src="/icons/mendix-icon-filled.svg">
                <a href="/refguide/" class="text-decoration-none">
                    <h4 class="card-title-w-50">Studio Pro</br>10</h4>
                </a>
            </div>
            <ul class="card-text landing-list">
                <li class="link-list"><a href="/quickstarts/">Quickstarts</a></li>
                <li class="link-list"><a href="/refguide/install/">Install Studio Pro</a></li>
                <li class="link-list"><a href="/refguide/upgrading-from-9-to-10/">Upgrade from Version 9 to 10</a></li>
            </ul>
        </div>
    </div>
    <!-- Developer Portal card -->
    <div class="col card w-50">
        <div class="card-body">
            <div>
                <img class="my-icon icon-recolor" src="/mx-icons/mendix-browser.svg">
                <a href="/developerportal/" class="text-decoration-none">
                    <h4 class="card-title-w-50">Developer</br>Portal</h4>
                </a>
            </div>
            <ul class="card-text landing-list">
                <li class="link-list"><a href="/developerportal/deploy/">Deployment</a></li>
                <li class="link-list"><a href="/developerportal/control-center/">Control Center</a></li>
                <li class="link-list"><a href="/developerportal/portfolio-management/">Portfolio Management</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row justify-content-center inner-row">
    <!-- Marketplace card -->
    <div class="col card w-50">
        <div class="card-body">
            <div>
                <img class="my-icon icon-recolor" src="/mx-icons/shopping-cart.svg">
                <a href="/appstore/" class="text-decoration-none">
                    <h4 class="card-title-w-50">Mendix</br>Marketplace</h4>
                </a>
            </div>
            <ul class="card-text landing-list">
                <li class="link-list"><a href="/appstore/general/app-store-overview/">Marketplace Overview</a></li>
                <li class="link-list"><a href="/appstore/creating-content/sol-solutions-guide/">Create Solutions</a></li>
                <li class="link-list"><a href="/appstore/general/share-app-store-content/">Share Marketplace Content</a></li>
            </ul>
        </div>
    </div>
    <!-- Mendix Connect card -->
    <div class="card w-50">
        <div class="card-body">
            <div>
                <img class="my-icon icon-recolor" src="/mx-icons/plug.svg">
                <a href="/data-hub/" class="text-decoration-none">
                    <h4 class="card-title-w-50">Mendix</br>Connect</h4>
                </a>
            </div>
            <ul class="card-text landing-list">
                <li class="link-list"><a href="/refguide/integration/#integration-mx-connect">What Is Mendix Connect?</a></li>
                <li class="link-list"><a href="/catalog/">Catalog</a></li>
                <li class="link-list"><a href="/appstore/#marketplace-mx-connect">Connectors & Modules</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row justify-content-center inner-row">
    <!-- Strategic Partners card -->
    <div class="col card w-50">
        <div class="card-body">
            <div>
                <img class="my-icon icon-recolor" src="/mx-icons/handshake-business.svg">
                <a href="/refguide/" class="text-decoration-none">
                    <h4 class="card-title-w-50">Strategic</br>Partners</h4>
                </a>
            </div>
            <ul class="card-text landing-list">
                <li class="link-list"><a href="/partners/siemens/">Siemens</a></li>
                <li class="link-list"><a href="/partners/aws/">AWS</a></li>
                <li class="link-list"><a href="/partners/sap/">SAP</a></li>
            </ul>
        </div>
    </div>
    <!-- API MXSDK card -->
    <div class="card w-50">
        <div class="card-body">
            <div>
                <img class="my-icon icon-recolor" src="/mx-icons/apis.svg">
                <a href="/apidocs-mxsdk/" class="text-decoration-none">
                    <h4 class="card-title-w-50">APIs &</br>SDKs</h4>
                </a>
            </div>
            <p class="card-text">
            <ul class="card-text landing-list">
                <li class="link-list"><a href="/apidocs-mxsdk/apidocs/">API Documentation</a></li>
                <li class="link-list"><a href="/apidocs-mxsdk/apidocs/pluggable-widgets/">Pluggable Widgets API</a></li>
                <li class="link-list"><a href="/apidocs-mxsdk/mxsdk/">SDK Documentation</a></li>
                <br><!--Added line break to make this row a little taller-->
            </ul>
            </p>
        </div>
    </div>
</div>