<!-- Responsive card width is set via Bootstrap classes. See https://getbootstrap.com/docs/5.0/layout/grid/ -->
<!-- Each card has a bottom margin of 1.5 rem (mb-4). See https://getbootstrap.com/docs/5.0/layout/utilities/#margin-and-padding. -->

<!-- Get Started card -->
<div class="col-12 col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-4">
    <img class="card-icon" src="/icons/mendix-icon.svg" alt="">
    <h4 class="card-title" style="border-color:#146FF4">Get Started</h4>
    <ul class="card-text">
        <li><a href="/refguide/install/">Install Studio Pro</a></li>
        <li><a href="/quickstarts/">Quick Starts</a></li>
    </ul>
</div>

<!-- Develop card -->
<div class="col-12 col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-4">
    <img class="card-icon" src="/icons/app-multiple.svg" alt="">
    <h4 class="card-title" style="border-color: #1DB11D">Develop</h4>
    <ul class="card-text">
        <li><a href="/refguide/modeling/">App Modeling</a></li>
        <li><a href="/refguide/version-control/">Version Control</a></li>
        <li><a href="/refguide/dev-best-practices/">Best Practices</a></li>
        <li><a href="/refguide/mendix-ai-assistance/">Develop with AI</a></li>
    </ul>
</div>

<!-- Deploy card -->
<div class="col-12 col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-4">
    <img class="card-icon" src="/icons/deploy.svg" alt="">
    <h4 class="card-title" style="border-color:#5B1BEF">Deploy</h4>
    <ul class="card-text">
        <li><a href="/developerportal/deploy/mendix-cloud-deploy/">Mendix Cloud</a></li>
        <li><a href="/developerportal/deploy/private-cloud/">Mendix for Private Cloud</a></li>
        <li><a href="/developerportal/deploy/sap-cloud-platform/">SAP Business Technology Platform</a></li>
    </ul>
</div>

<!-- Extend card -->
<div class="col-12 col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-4">
    <img class="card-icon" src="/icons/connect-1.svg" alt="">
    <h4 class="card-title" style="border-color:#D31E23">Extend</h4>
    <ul class="card-text">
        <li><a href="/appstore/general/app-store-overview/">Marketplace</a></li>
        <li><a href="/apidocs-mxsdk/apidocs/">APIs</a></li>
        <li><a href="/catalog/">Catalog</a></li>
        <li><a href="/appstore/modules/genai/">Extend with AI</a></li>
        <li><a href="/partners/">Strategic Partners</a></li>
    </ul>
</div>

<!-- Collaborate card -->
<div class="col-12 col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-4">
    <img class="card-icon" src="/icons/handshake-business.svg" alt="">
    <h4 class="card-title" style="border-color:#AB19DB">Collaborate</h4>
    <ul class="card-text">
        <li><a href="/developerportal/project-management/epics/">Epics</a></li>
        <li><a href="/developerportal/project-management/jira-connector/">Jira</a></li>
        <li><a href="/developerportal/portfolio-management/">Portfolio Management</a></li>
    </ul>
</div>

<!-- Govern card -->
<div class="col-12 col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-4">
    <img class="card-icon" src="/icons/cog-shield.svg" alt="">
    <h4 class="card-title" style="border-color:#E39600">Govern</h4>
    <ul class="card-text">
        <li><a href="/control-center/apps/">Company Apps Dashboard</a></li>
        <li><a href="/control-center/security/">Company Security Settings</a></li>
        <li><a href="/control-center/entitlements/">Entitlements</a></li>
        <li><a href="/control-center/software-composition/">Software Composition</a></li>
    </ul>
</div>