<!DOCTYPE html>
<html>
  {% include head.html %}
    <body>
    {% include header.html %}
    <div class="topbar">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                <li><a href="/">Docs</a></li>
              {% if page.space %}
                <li><a href="{{ page.dir }}">{{ page.space }}</a></li>
              {% endif %}
            </ol>
          </div>
          <div class="col-lg-4 col-md-4 col-xs-12">
            {% include search.html %}
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row main">
        <div class="col-md-9 col-xs-12 col-md-push-3 content">
          <div class="post">
            <header class="post-header">
              <h1>{{ page.title }}</h1>
            </header>
            <article class="post-content mxdefault">
              <div class="row post-header-row">
                <div class="col-xs-9">
                  {% unless page.notoc %}
                  <div id="toc" class="toc"></div>
                  {% endunless %}
                </div>
                <div class="col-xs-3">
                  {% include github_edit_button.html %}
                </div>
              </div>
              {{ content }}
            </article>
          </div>
        </div>
        <div class="col-md-3 col-xs-12 col-md-pull-9 sidebar">
          <div class="sidebar-menu">
            <div class="row">
              <div class="col-md-12">
                <div class="btn-group jumpto_group">
                  <button type="button" class="btn btn-default dropdown-toggle jumpto_button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Jump to: <span class="caret jumpto_caret"></span>
                  </button>
                  <ul class="dropdown-menu jumpto_dropdown">
                    {% for jump in site.data.jumpto %}
                      <li><a href="{{ jump.url }}">{{ jump.title }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                {% strip %}
                {% if page.menus %}
                {% for menu in page.menus %}
                {% assign json = menu | prepend:"/json/menu/" | append:".json" %}
                <div class="menu" data-source="{{ json }}"></div>
                {% endfor %}
                {% endif %}
                {% endstrip %}
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <a href="#" id="back-to-top" title="Back to top"><i class="glyphicon glyphicon-menu-up"></i></a>
    <script src="{{ "/public/js/autocomplete_search.js" | prepend: site.baseurl }}" type="text/javascript" /></script>
    {% include footer.html %}
    </body>
</html>
