<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <div class="topbar">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-push-1">
            <span class="overview-title text-center">Page not found. Can we help search?</span>
            {% include search.html %}
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row main">
        <div class="col-md-12 content borderless">
          <div class="post">
            <article class="post-content no-title not-found">
              {{ content }}
            </article>
          </div>
        </div>
      </div>
    </div>
    {% include footer.html %}
    <script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
    <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>
    {% include asset.html type="js" filename="autocomplete_search.js" %}  </body>
</html>
