<!DOCTYPE html>
<html>
  {% include head.html %}
    <body>
    {% include header.html %}
    <div class="topbar">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="overview-title text-center">What can we help you with?</h1>
            {% include search.html %}
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row search">
        <div class="col-md-9 search-main">
            <header class="search-header"></header>
            <section class="">
                <div id="hits"></div>
                <div id="pagination" class="text-center"></div>
            </section>
        </div>
        <div class="col-md-3 search-sidebar">
          {% include jumpto.html %}
          <div class="search_filters">
            <div id="space" class="search_filters_block"></div>
          </div>
        </div>
      </div>
    </div>
    {% include search_templates.html %}
    {% include footer.html %}
    <script src="https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js"></script>
    <script src={{ "/public/js/searchpage.js" | prepend: site.baseurl }}></script>
    </body>
</html>
