// Measurements

$size-topbar-height: 76px;
$frontpage-search-block-margins: 60px;

// OLD COLORS

$base-text-color: #656565;
$color-darkgrey: #2d3e4e;
$color-blue: #30a5de;
$color-lightgrey: #f9f9fa;
$white-smoke: #f0f0ee;
$goldfish-orange: #E7962B;
$color-blue: #0195db;
$link-color: #0496da;
$white: #FFF;
$padding-search: 6px;

// COLORS

$border-color: #DCDCDC;
$color-mendix-blue: #0595DB;
$color-table-border: #D4D4D4;

$color-darker-grey-2: #555555;
$color-topbar-blue: #0096E2;
$color-background-grey: #F8F8F8;
$color-white: #FFFFFF;
$color-grey-2: #B2B2B2;
$color-darker-grey: #888888;
$color-black: #000000;

$color-code-font: #2F566A;
$color-code-background: #F2FBFF;
$color-code-border: #DBF4FF;

// FONTS

$font-base: 'Open Sans', sans-serif;
$font-code: 'Inconsolata', monospace;
