{{- $featuredPages := where .Site.Pages ".Params.frontpage_featured" true -}}
{{- with $featuredPages -}}
<div style="display: flex; flex-wrap: wrap; margin: 0 -20px;">
<div style="padding: 0 20px;">
  <h2 class="frontpage__featured__title">Latest Releases</h2>
  <ul style="list-style-type:circle;">
	<li><a href="/releasenotes/studio-pro/9.10">Studio Pro 9.10.1</a> – Feb 2nd, 2022</li>
	<li><a href="/releasenotes/studio/9.7-and-above">Studio 9.7 & Above</a> – Jan 25th, 2022</li>
	<li><a href="/releasenotes/mobile/nt-6-rn">Native Template 6.2.12</a> – Jan 25th, 2022</li>	
	<li><a href="/releasenotes/developer-portal">Developer Portal</a> – Feb 10th, 2022</li>
	<li><a href="/releasenotes/developer-portal/deployment">Deployment</a> – Jan 13th, 2022</li>
	<li><a href="/releasenotes/data-hub">Data Hub 2.19.0</a> – Feb 3rd, 2022</li>
	<li><a href="/releasenotes/app-store">Marketplace</a> – Dec 16th, 2021</li>
	<li><a href="/releasenotes/sdk/model-sdk-4">Model SDK 4.59.0</a> – Jan 14th, 2022</li>
	<li><a href="/releasenotes/sdk/metamodel-9.10">Metamodel 9.10.0</a> – Jan 14th, 2022</li>
  </ul>
 </div>
 <div class="frontpage__featured__container">
  <h2 class="frontpage__featured__title">Getting Started</h2>
  <ul style="list-style-type:circle; ">
  <li><a href="/studio/">Introduction to Studio</a></li>
	<li><a href="/studio-how-to/">Studio How-to's</a></li>
	<li><a href="/refguide/studio-pro-overview">Studio Pro Overview</a></li>
	<li><a href="/howto/">Studio Pro How-to's</a></li>
	<li><a href="/refguide/version-control">Version Control in Mendix</a></li>
	<li><a href="/refguide/native-mobile">Native Mobile</a></li>
	<li><a href="/appstore/general/app-store-overview">Marketplace Overview</a></li>
</ul>
</div>
 </div>
{{- end -}}
