{{ $original := .Get "src" }}
 <div data-stt-ignore id="docsy_swagger_ui"></div>
 <script>
   window.onload = function () {
     const ui = SwaggerUIBundle({
       url: {{ $original | relURL }},
       dom_id: '#docsy_swagger_ui',
      presets: [
        SwaggerUIBundle.presets.apis,
        SwaggerUIStandalonePreset
      ]
    });
    window.ui = ui;
  };
</script>
<script>
  // JavaScript code to add "bablic-exclude" to all the <code> elements
  document.addEventListener('DOMContentLoaded', function() {
      // Select all <code> elements
      const codeElements = document.querySelectorAll('code');
      // Loop through each <code> element and add the 'bablic-exclude' attribute
      codeElements.forEach(codeElement => {
          codeElement.setAttribute('bablic-exclude', '');
      });
  });
</script> 
